<div class="{{this.styleNamespace}} build-step-collection row" ...attributes>
  <div class="row">
    <div class="col-xs-3 step-list no-padding column-tabs-view partial-view">
      <BsTab @customTabs={{true}} as |tab|>
        <BsNav @type="tabs" as |nav|>
          <nav.item @class="float-left" @active={{bs-eq this.activeTab "steps"}} @onClick={{action "changeActiveTabPane" "steps"}}>
            <a href="#steps" role="tab" {{action tab.select "steps"}}>Steps</a>
          </nav.item>
          <nav.item @class="float-left" @active={{bs-eq this.activeTab "artifacts"}} @onClick={{action "changeActiveTabPane" "artifacts"}}>
            <a href="#artifacts" role="tab" {{action tab.select "artifacts"}}>Artifacts</a>
          </nav.item>
        </BsNav>

        <div class="tab-content">
          <tab.pane @activeId={{this.activeTab}} @id="steps" @title="Steps">
            <h3>Steps</h3>
            <a class="step-toggle" onClick={{action "toggleSetup"}}>
              {{#if this.setupCollapsed}}
                {{fa-icon "chevron-right"}}
              {{else}}
                {{fa-icon "chevron-down"}}
              {{/if}}
              Setup
            </a>
            <BsCollapse @collapsed={{this.setupCollapsed}}>
              <ul class="setup indent">
                {{#each this.setupSteps as |step|}}
                  {{#with (get-step-data this.buildSteps step) as |s|}}
                    <BuildStepItem
                      @selectedStep={{this.selectedStep}}
                      @stepName={{s.name}}
                      @stepStart={{s.startTime}}
                      @stepEnd={{s.endTime}}
                      @stepCode={{s.code}}
                      @onClick={{this.changeBuildStep}}
                    />
                  {{/with}}
                {{/each}}
              </ul>
            </BsCollapse>
            <div class="user-steps">
              <ul>
                {{#each this.userSteps as |step|}}
                  {{#with (get-step-data this.buildSteps step) as |s|}}
                    <BuildStepItem
                      @selectedStep={{this.selectedStep}}
                      @stepName={{s.name}}
                      @stepStart={{s.startTime}}
                      @stepEnd={{s.endTime}}
                      @stepCode={{s.code}}
                      @onClick={{this.changeBuildStep}}
                    />
                  {{/with}}
                {{/each}}
              </ul>
            </div>
            <a class="step-toggle" onClick={{action "toggleTeardown"}}>
              {{#if this.teardownCollapsed}}
                {{fa-icon "chevron-right"}}
              {{else}}
                {{fa-icon "chevron-down"}}
              {{/if}}
              Teardown
            </a>
            <BsCollapse @collapsed={{this.teardownCollapsed}}>
              <ul class="teardown indent">
                {{#each this.teardownSteps as |step|}}
                  {{#with (get-step-data this.buildSteps step) as |s|}}
                    <BuildStepItem
                      @selectedStep={{this.selectedStep}}
                      @stepName={{s.name}}
                      @stepStart={{s.startTime}}
                      @stepEnd={{s.endTime}}
                      @stepCode={{s.code}}
                      @onClick={{this.changeBuildStep}}
                    />
                  {{/with}}
                {{/each}}
              </ul>
            </BsCollapse>
          </tab.pane>
          <tab.pane @activeId={{this.activeTab}} @id="artifacts" @title="Artifacts">
            <ArtifactTree
              selectedArtifact=this.selectedArtifact
              buildStatus=this.buildStatus
              buildId=this.buildId
              iframeUrl=this.iframeUrl />
          </tab.pane>
        </div>
      </BsTab>
    </div>
    <div class="col-xs-9 partial-view">
      {{#if (and this.isArtifacts this.iframeUrl)}}
        {{artifact-preview iframeUrl=this.iframeUrl}}
      {{else}}
        <BuildLog
          @stepName={{this.selectedStep}}
          @totalLine={{get-step-data this.buildSteps this.selectedStep "lines"}}
          @buildId={{this.buildId}}
          @stepStartTime={{get-step-data this.buildSteps this.selectedStep "startTime"}}
          @stepEndTime={{get-step-data this.buildSteps this.selectedStep "endTime"}}
          @buildStartTime={{this.buildStart}}
          @buildStats={{this.buildStats}}
          @buildStatus={{this.buildStatus}}
        />
      {{/if}}
    </div>
  </div>

  {{yield}}
</div>