{{#if this.showToggleModal}}
  <BsModal @onHide={{action "setModal" false}} as |modal|>
    <div class="toggle-modal">
      <modal.header>
        <h4 class="modal-title">
          {{this.stateChange}} the "{{truncate this.name 30}}" job?
        </h4>
      </modal.header>
      <modal.body>
        {{#if this.errorMessage}}
          <InfoMessage
            @message={{this.errorMessage}}
            @type="warning"
            @icon="triangle-exclamation"
          />
        {{/if}}
        <BsForm
          class="toggle-form"
          @onSubmit={{action "updateState"}} as |form|
        >
          <form.element
            @controlType="text"
            @label="Reason"
            @value={{this.message}}
            @onChange={{action (mut this.message)}}
            class="control-label message" as |el|
          >
            <el.control placeholder="Reason for the job state change (optional)" class="message-input form-control" />
          </form.element>

          <form.submitButton
            class="toggle-form__create"
            disabled={{this.isSaveDisabled}}
            @type="primary"
          >
            Confirm
          </form.submitButton>
          <BsButton
            class="toggle-form__cancel"
            @onClick={{action modal.close}}
            @type="default"
          >
            Cancel
          </BsButton>
        </BsForm>
      </modal.body>
    </div>
  </BsModal>
{{/if}}