<ul>
  <li class="job-name build-{{buildStatus}}">
    <span class="banner-value">{{jobName}}</span>
    <span class="banner-label">Job</span>
  </li>
  <li class="commit">
    <span class="banner-value commit-list">
      <a href="{{event.commit.url}}" class="sha commit-sha">#{{event.truncatedSha}}</a>
      {{#if event.pr.url}}
        {{#bs-dropdown as |dd|}}
          {{#dd.toggle}} <span class="caret caret-display"></span>{{/dd.toggle}}
          {{#dd.menu as |ddm|}}
            {{#each (await shortenedPrShas) as |prSha|}}
              {{#ddm.item class="pr-item"}}
                <a onClick={{action "changeCurPr" prSha}}>{{prSha.index}}. {{prSha.shortenedSha}}</a>
              {{/ddm.item}}
            {{/each}}
          {{/dd.menu}}
        {{/bs-dropdown}}
      {{/if}}
    </span>
    <span class="banner-label">Commit</span>
  </li>
  {{#if event.pr.url}}
    <li class="pr">
      <span class="banner-value pr-url-holder">
        <a href="{{event.pr.url}}" class="sha pr-url">
          {{inline-svg "github" class="pr-img"}} 
          <span class="pr-link">PR#{{prNumber}}</span>
        </a>
      </span>
      <span class="banner-label">Pull Request</span>
    </li>
  {{/if}}
  <li class="duration">
    <span class="banner-value">{{duration}}</span>
    <span class="banner-label">Duration</span>
  </li>
  <li class="started">
    <span class="banner-value" title="{{buildStart}}">{{moment-format buildStart 'YYYY-MM-DD HH:mm:ss'}}</span>
    <span class="banner-label">Start Time</span>
  </li>
  <li class="user">
    <span class="banner-value">{{user-link user=event.creator causeMessage=event.causeMessage}}</span>
    <span class="banner-label">User</span>
  </li>
  {{#if coverageStep}}
    <li class="coverage">
      <span class="banner-value">
        <a href="{{coverageInfo.projectUrl}}" title="{{if (eq coverageInfo.coverage 'N/A') "Coverage report not generated"}}">
          {{coverageInfo.coverage}}
        </a>
      </span>
      <span class="banner-label">Coverage</span>
    </li>
  {{/if}}
  <li class="docker-container">
    <span class="banner-value">{{buildContainer}}</span>
    <span class="banner-label">Container</span>
  </li>
  <li class="call-to-action button-right">
    {{#if isAuthenticated}}
      {{#bs-button onClick=(action "buildButtonClick")}}{{buildAction}}{{/bs-button}}
    {{/if}}
  </li>
</ul>