<div class="line1">
  <ul>
    <li><a class="sha" href="{{pipeline.hubUrl}}"><span class="sha">#{{truncatedSha}}</span></a></li>
    <li><h1>{{job.name}}</h1></li>
    {{#if session.isAuthenticated}}
    <li>{{#if hasButton}}<button {{action "toggleBuild"}}>{{buildAction}}</button>{{/if}}</li>
    {{/if}}
  </ul>
</div>
<ul>
  <li><span class="cause">{{build.cause}}</span></li>
  <li><span class="duration">{{build.buildDuration}}</span></li>
</ul>
