<div class="prevnext">
  <div class="row">
    <div class="col-xs-6">{{#if previous}}{{#link-to "build" previous.id}}{{fa-icon "backward fa-1x"}} Previous Job {{/link-to}}{{/if}}</div>
    <div class="col-xs-6">{{#if next}}{{#link-to "build" next.id}}Next Job {{fa-icon "forward fa-1x"}}{{/link-to}}{{/if}}</div>
  </div>
</div>
<div class="headerbar">
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4"><h1>{{jobName}}</h1></div>
    <div class="col-xs-4">{{#if isAuthenticated}}{{#if hasButton}}<button {{action "toggleBuild"}}>{{buildAction}}</button>{{/if}}{{/if}}</div>
  </div>
</div>
<div class="commit">
  <a href="{{event.commit.url}}"><span class="sha">#{{event.truncatedSha}}</span></a>
  <span class="message" title="{{event.commit.message}}">{{event.truncatedMessage}}</span>
</div>
<div class="event">
  <div class="row">
    <div class="col-xs-4">{{user-link user=event.creator causeMessage=event.causeMessage}}</div>
    <div class="col-xs-4">{{buildContainer}}</div>
    <div class="col-xs-4">{{duration}}</div>
  </div>
</div>