<ul>
  <li class="job-name build-{{this.buildStatus}}">
    {{#if this.newUi}}
      {{#if this.event.pr.url}}
        <LinkTo
          @route="v2.pipeline.pulls.show"
          @models={{array this.pipelineId this.event.id}}
          class="banner-value"
          >
            {{this.jobName}}
          </LinkTo>
      {{else}}
        <LinkTo
          @route="v2.pipeline.events.show"
          @models={{array this.pipelineId this.event.id}}
          class="banner-value"
        >
          {{this.jobName}}
        </LinkTo>
      {{/if}}
    {{else}}
      {{#if this.event.pr.url}}
        <LinkTo
          @route="pipeline.pulls"
          @model={{this.pipelineId}}
          class="banner-value"
        >
          {{this.jobName}}
        </LinkTo>
      {{else}}
        <LinkTo
          @route="pipeline.events.show"
          @models={{array this.pipelineId this.event.id}}
          @query={{hash jobId=this.jobId}}
          class="banner-value"
        >
          {{this.jobName}}
        </LinkTo>
      {{/if}}
    {{/if}}

    <span class="banner-label">
      Job
    </span>
  </li>
  <li class="commit">
    <span class="banner-value commit-list">
      <a href={{this.event.commit.url}} class="sha commit-sha">
        #{{this.event.truncatedSha}}
      </a>
      {{#if this.event.pr.url}}
        <BsDropdown as |dd|>
          <dd.toggle>
            <span class="caret caret-display"></span>
          </dd.toggle>
          <dd.menu class="commit-dropdown" as |ddm|>
            {{#each (await this.shortenedPrShas) as |prSha|}}
              <ddm.item>
                <li class="pr-item">
                  <a onClick={{action "changeCurPr" prSha}}>
                    {{prSha.index}}. {{prSha.shortenedSha}}
                  </a>
                </li>
              </ddm.item>
            {{/each}}
          </dd.menu>
        </BsDropdown>
      {{/if}}
    </span>
    <span class="banner-label">
      Commit
    </span>
  </li>
  {{#if this.event.pr.url}}
    <li class="pr">
      <span class="banner-value pr-url-holder">
        <a href={{this.event.pr.url}} class="sha pr-url">
          {{svg-jar "github" class="pr-img"}}
          <span class="pr-link">
            PR#{{this.prNumber}}: {{this.event.pr.title}}
          </span>
        </a>
      </span>
      <span class="banner-label">
        Pull Request
      </span>
    </li>
  {{/if}}
  <li class="duration">
    <details>
      <summary>
        <a class="banner-value" title="Total duration: {{this.duration}}, Blocked time: {{this.blockDuration}}, Image pull time: {{this.imagePullDuration}}, Build time: {{this.buildDuration}}">
          {{this.duration}}
        </a>
      </summary>
      <li class="subsection">
        <span class="banner-value">
          {{this.blockDuration}} blocked
        </span>
      </li>
      <li class="subsection">
        <span class="banner-value">
          {{this.imagePullDuration}} pulling image
        </span>
      </li>
      <li class="subsection">
        <span class="banner-value">
          {{this.buildDuration}} in build
        </span>
      </li>
    </details>
    <LinkTo
      @route="pipeline.metrics"
      @model={{this.pipelineId}}
      @query={{hash jobId=this.jobId}}
    >
      See build metrics
    </LinkTo>
    <span class="banner-label">
      Duration
    </span>
  </li>
  <li class="created">
    <span class="banner-value" title={{this.buildCreate}}>{{this.buildCreateTime.content}}</span>
    <span class="banner-label">Create Time</span>
  </li>
  <li class="user">
    <span class="banner-value">
      <UserLink
        @user={{this.event.commit.author}}
        @causeMessage={{this.event.causeMessage}}
      />
    </span>
    <span class="banner-label">
      Committer
    </span>
  </li>
  {{#if this.coverageStep}}
    <li class="coverage">
      <span class="banner-value">
        <a
          href={{this.coverageInfo.coverageUrl}}
          target="_blank" rel="noopener noreferrer"
          title={{if
            (eq this.coverageInfo.coverage "N/A")
            "Coverage report not generated"
          }}
        >
          {{this.coverageInfo.coverage}}
        </a>
      </span>
      <span class="banner-label">
        Coverage
      </span>
    </li>
    <li class="tests">
      <span class="banner-value">
        <a
          href={{this.coverageInfo.testsUrl}}
          target="_blank" rel="noopener noreferrer"
          title={{if
            (eq this.coverageInfo.tests "N/A")
            "Tests report not generated"
          }}
        >
          {{this.coverageInfo.tests}}
        </a>
      </span>
      <span class="banner-label">
        Tests Passed
      </span>
    </li>
  {{/if}}
  <li class="docker-container">
    <span class="banner-value">
      {{this.buildContainer}}
    </span>
    <span class="banner-label">
      Container
    </span>
  </li>
  {{#if this.templateId}}
    {{#if this.template}}
      <li class="template-info">
        <LinkTo
          @route="templates.job.detail.version"
          @models={{array this.template.namespace this.template.name this.template.version}}
        >
          <span class="banner-value">
            {{this.template.name}}:{{this.template.version}}
          </span>
        </LinkTo>
        <span class="banner-label">
          Template
        </span>
      </li>
    {{/if}}
  {{/if}}
  <li class="call-to-action button-right">
    {{#if this.isAuthenticated}}
      <BsButton
        @onClick={{action "openBuildActionModal"}}
        @outline={{true}}
        disabled={{or (await this.isButtonDisabled) (not this.isButtonDisabledLoaded)}}
      >
        {{this.buildAction}}
      </BsButton>
      {{#if this.showBuildActionModal}}
      <ModalDialog
        @targetAttachment="center"
        @translucentOverlay={{true}}
        @containerClass="detached-confirm-dialog"
      >
        <h3>
          Are you sure to {{this.buildAction}}?
        </h3>
        {{#if (eq this.buildAction 'Restart')}}
        <div class="job-info">
          <p>
            Job:
            <code>
              {{this.jobName}}
            </code>
          <br />
            Commit:
            <code>
              {{this.event.truncatedMessage}}
            </code>
            <a href={{this.event.commit.url}}>
              #{{this.event.truncatedSha}}
            </a>
          <br />
          </p>
        </div>
        {{/if}}
      <div class="row confirm-button">
        <div class="col-6">
          <button class="d-button is-primary build-action-yes" {{action "buildActionButtonClick"}}>
            Yes
          </button>
        </div>
        <div class="col-6 right">
          <button class="d-button is-secondary build-action-no" {{action "closeBuildActionModal"}}>
            No
          </button>
        </div>
      </div>
      </ModalDialog>
      {{/if}}
    {{/if}}
  </li>
</ul>

