{{#if session.isAuthenticated}}
  {{#if (not session.data.authenticated.isGuest)}}
    <PipelineNav @pipeline={{pipeline}} />
  {{/if}}
{{/if}}

<InfoMessage
  @message={{errorMessage}}
  @type="warning"
  @icon="exclamation-triangle"
  @scmContext={{pipeline.scmContext}}
/>

<div class="row">
  <div class="col-xs-12 separator partial-view">
    <PipelineListView
      @pipeline={{pipeline}}
      @jobs={{jobs}}
      @jobsDetails={{jobsDetails}}
      @updateListViewJobs={{action "updateListViewJobs"}}
      @startSingleBuild={{action "startSingleBuild"}}
      @stopBuild={{action "stopBuild"}}
      @showListView={{showListView}}
      @setShowListView={{action "setShowListView"}}
      @refreshListViewJobs={{action "refreshListViewJobs"}}
    />
  </div>
</div>

{{#if isShowingModal}}
  <ModalDialog
    @clickOutsideToClose={{false}}
    @targetAttachment="center"
    @translucentOverlay={{true}}
  >
    <LoadingView />
  </ModalDialog>
{{/if}}

{{outlet}}