{{#if this.session.isAuthenticated}}
  {{#if (not this.session.data.authenticated.isGuest)}}
    <PipelineNav @pipeline={{this.pipeline}} />
  {{/if}}
{{/if}}

<div class="padded-container">
  <InfoMessage
    @message={{this.errorMessage}}
    @type="warning"
    @icon="triangle-exclamation"
    @scmContext={{this.pipeline.scmContext}}
  />

  {{#if this.isInactivePipeline}}
    <InfoMessage
      @message="Pipeline is inactive and no new events can be started. You can activate the pipeline by adding the SCM URL in the parent pipeline yaml configuration."
      @type="info"
      @icon="triangle-exclamation"
    />
  {{/if}}

  <div class="row">
    <div class="col-12 separator partial-view">
      <PipelineListView
        @pipeline={{this.pipeline}}
        @jobs={{this.jobs}}
        @jobsDetails={{this.jobsDetails}}
        @updateListViewJobs={{action "updateListViewJobs"}}
        @startSingleBuild={{action "startSingleBuild"}}
        @stopBuild={{action "stopBuild"}}
        @showListView={{this.showListView}}
        @setShowListView={{action "setShowListView"}}
        @refreshListViewJobs={{action "refreshListViewJobs"}}
        @updateNumBuilds={{action "updateNumBuilds"}}
        @defaultNumBuilds={{this.defaultNumBuilds}}
      />
    </div>
  </div>
</div>

{{#if this.isShowingModal}}
  <ModalDialog
    @clickOutsideToClose={{false}}
    @targetAttachment="center"
    @translucentOverlay={{true}}
  >
    <LoadingView />
  </ModalDialog>
{{/if}}

{{outlet}}