{{#if this.session.isAuthenticated}}
  {{#unless this.session.data.authenticated.isGuest}}
    {{pipeline-nav
      pipeline=this.pipeline
    }}
  {{/unless}}
{{/if}}


{{info-message message=this.errorMessage type="warning" icon="exclamation-triangle" scmContext=this.pipeline.scmContext}}

<div class="row">
  <div class="col-xs-12 separator partial-view">
    {{pipeline-list-view
            pipeline=this.pipeline
            jobs=this.jobs
            jobsDetails=this.jobsDetails
            updateListViewJobs=(action "updateListViewJobs")
            startSingleBuild=(action "startSingleBuild")
            stopBuild=(action "stopBuild")
            showListView=this.showListView
            setShowListView=(action "setShowListView")
            refreshListViewJobs=(action "refreshListViewJobs")
    }}

  </div>
</div>

{{#if this.isShowingModal}}
  <ModalDialog @clickOutsideToClose={{false}} @targetAttachment="center" @translucentOverlay={{true}}>
    <LoadingView/>
  </ModalDialog>
{{/if}}

{{outlet}}