{{#if this.build}}
  <div class="view">
    <div class="status">
      <FaIcon
        @icon={{this.icon.name}}
        @fixedWidth="true"
        @prefix={{this.icon.prefix}}
        @spin={{this.icon.spin}}
        @flip={{this.icon.flip}}
      />
    </div>
    <div class="detail">
      {{#if this.build.id}}
        <LinkTo @route="pipeline.build" @model={{this.build.id}}>
          {{this.displayName}}
        </LinkTo>
      {{else}}
        <span class="greyOut">
          {{this.displayName}}
        </span>
      {{/if}}
      {{#if this.build.endTimeExact}}
        <div class="date greyOut">
          Finished {{this.build.endTimeExact}}
        </div>
      {{else if this.build.startTimeExact}}
        <div class="date greyOut">
          Started {{this.build.startTimeExact}}
        </div>
      {{/if}}
    </div>
  </div>
{{/if}}