{{#if this.build}}
  <div class="view">
    <div class="status"><FaIcon @prefix={{icon-prefix this.icon}} @icon={{this.icon}} @fixedWidth={{true}} @spin={{icon-spin this.icon}} /></div>
    <div class="detail">
      {{#if this.build.id}}
        {{#link-to "pipeline.build" this.build.id}}{{this.displayName}}{{/link-to}}
      {{else}}
        <span class="greyOut">{{this.displayName}}</span>
      {{/if}}
      {{#if this.build.endTimeExact}}
        <div class="date greyOut">Finished {{this.build.endTimeExact}}</div>
      {{else if this.build.startTimeExact}}
        <div class="date greyOut">Started {{this.build.startTimeExact}}</div>
      {{/if}}
    </div>
  </div>
{{/if}}