<div class="view">
  <div class="status">{{fa-icon icon fixedWidth=true}}</div>
  <div class="detail">
    <div class="name">
      {{#if build}}
        {{#link-to "pipeline.build" build.id}}{{displayName}}{{/link-to}}
      {{else}}
        <span class="greyOut">{{displayName}}</span>
      {{/if}}
    </div>
    <div class="date greyOut">Opened {{job.createTimeWords}}</div>
    <span class="title">{{job.title}}</span>
    <div class="by">{{job.username}}</div>
  </div>
</div>