{{#if @message}}
  <BsAlert @onDismissed={{action "clearMessage"}} @type={{this.type}}>
    {{#if
      (eq
        @message "This checkoutUrl is not supported for your current login host."
      )
    }}
      {{#if @scmContext}}
        {{! template-lint-disable no-triple-curlies }}
        <FaIcon @icon={{@icon}} />
        <span>
          {{{input-sanitizer @message}}} Please login to
        </span>
        <a href="#authenticate" {{action "authenticate" @scmContext}}>
          {{@scmContext}}
        </a>
      {{else}}
        <FaIcon @icon={{@icon}} />
        <span>
          {{{input-sanitizer @message}}}
        </span>
      {{/if}}
    {{else}}
      {{! template-lint-disable no-triple-curlies }}
      <FaIcon @icon={{@icon}} />
      <span>
        {{{input-sanitizer @message}}}
      </span>
    {{/if}}
  </BsAlert>
{{/if}}