<div>
  <FaIcon
    @icon={{icon}}
    @spin={{(eq icon "spinner")}}
    @prefix={{if (eq icon "circle") "far" "fa"}}
  />
</div>
<div>
  <span class="name">
    {{stepName}}
  </span>
  <span class="duration">
    {{duration}}
  </span>
</div>