<td class="collection-pipeline__choose">
  {{#if showCheckbox}}
    <input type="checkbox" value={{pipelineSelected}} onchange={{action "togglePipeline"}}>
  {{/if}}
</td>
<td class="app-id">
  {{#link-to "pipeline" pipeline.id title=pipeline.scmRepo.name}}{{pipeline.scmRepo.name}}{{/link-to}}
</td>
<td class="branch">
  {{fa-icon "code-fork"}}
  <span title={{pipeline.branch}}>{{pipeline.branch}}</span>
</td>
<td class="status">
  {{#link-to "pipeline" pipeline.id title=pipeline.scmRepo.name}}
    {{fa-icon lastEventInfo.icon class=lastEventInfo.statusColor}}
  {{/link-to}}
  <a href={{lastEventInfo.commitUrl}}>
    {{lastEventInfo.sha}}
  </a>
</td>
<td class="start">
  {{lastEventInfo.startTime}}
</td>
<td class="duration">
  {{lastEventInfo.durationText}}
</td>
<td class="history">
  {{events-thumbnail
      events=eventsInfo
      pipelineId=pipeline.id
      class="events-thumbnail"
  }}
</td>
<td class="collection-pipeline__remove">
  {{#if showRemoveButton}}
    <span onclick={{action "removePipeline"}}>
      &times;
    </span>
  {{/if}}
</td>