<td class="collection-pipeline__choose">
  {{#if showCheckbox}}
    <input
      type="checkbox"
      value={{pipelineSelected}}
      onchange={{action "togglePipeline"}}
    />
  {{/if}}
</td>
<td class="app-id">
  {{#if hasAliasName}}
    <p class="alias">
      {{aliasName}}
      <BsTooltip @placement="bottom" @renderInPlace={{true}}>
        {{aliasName}}
      </BsTooltip>
    </p>
  {{/if}}
  <p>
    <LinkTo
      @route="pipeline"
      @model={{pipeline.id}}
      @title={{pipeline.scmRepo.name}}
    >
      {{pipeline.scmRepo.name}}
    </LinkTo>
  </p>
</td>
<td class="branch">
  <FaIcon @icon="code-branch" />
  <span title={{branch}}>
    {{branch}}
  </span>
</td>
<td class="start">
  {{lastEventInfo.startTime}}
</td>
<td class="duration">
  {{lastEventInfo.durationText}}
</td>
<td class="last-run">
  <span title={{lastRun}}>
    {{lastRun}}
  </span>
</td>
<td class="status">
  <LinkTo
    @route="pipeline"
    @model={{pipeline.id}}
    @title={{pipeline.scmRepo.name}}
  >
    <FaIcon @icon={{lastEventInfo.icon}} class={{lastEventInfo.statusColor}} />
  </LinkTo>
  {{#if storeQueryError}}
    An error occur while loading events
  {{else if hasBothEventsAndLatestEventInfo}}
    <a href={{lastEventInfo.commitUrl}}>
      {{lastEventInfo.sha}}
    </a>
  {{else}}
    Loading events
  {{/if}}
</td>
<td class="history">
  {{#if hasBothEventsAndLatestEventInfo}}
    <EventsThumbnail
      @events={{eventsInfo}}
      @pipelineId={{pipeline.id}}
      class="events-thumbnail"
    />
  {{/if}}
</td>
<td class="collection-pipeline__remove">
  {{#if showRemoveButton}}
    <span
      title="Remove
        {{pipeline.scmRepo.name}}
         pipeline from
        {{collectionName}}
         collection"
      onclick={{action "removePipeline"}}
    >
      &amp;times;
    </span>
  {{/if}}
</td>