<td class="collection-pipeline__choose">
  {{#if this.showCheckbox}}
    <input
      type="checkbox"
      value={{this.pipelineSelected}}
      onchange={{action "togglePipeline"}}
    />
  {{/if}}
</td>
<td class="app-id">
  {{#if this.hasAliasName}}
    <p class="alias">
      {{this.aliasName}}
      <BsTooltip @placement="bottom" @renderInPlace={{true}}>
        {{this.aliasName}}
      </BsTooltip>
    </p>
  {{/if}}
  <p>
    <LinkTo
      @route="pipeline"
      @model={{this.pipeline.id}}
      @title={{this.pipeline.scmRepo.name}}
    >
      {{this.pipeline.scmRepo.name}}
    </LinkTo>
  </p>
</td>
<td class="branch">
  <FaIcon @icon="code-branch" />
  <span title={{this.branch}}>
    {{this.branch}}
  </span>
</td>
<td class="last-run">
  {{this.lastEventInfo.startTime}}
</td>
<td class="duration">
  {{this.lastEventInfo.durationText}}
</td>
<td class="status">
  <LinkTo
    @route="pipeline"
    @model={{this.pipeline.id}}
    @title={{this.pipeline.scmRepo.name}}
  >
    <FaIcon @icon={{this.lastEventInfo.icon}} class={{this.lastEventInfo.statusColor}} />
  </LinkTo>
  {{#if this.storeQueryError}}
    An error occur while loading events
  {{else if this.hasBothEventsAndLatestEventInfo}}
    <a href={{this.lastEventInfo.commitUrl}}>
      {{this.lastEventInfo.sha}}
    </a>
  {{else}}
    Loading events
  {{/if}}
</td>
<td class="history">
  {{#if this.hasBothEventsAndLatestEventInfo}}
    <EventsThumbnail
      @events={{this.eventsInfo}}
      @pipelineId={{this.pipeline.id}}
      class="events-thumbnail"
    />
  {{/if}}
</td>
<td class="collection-pipeline__remove">
  {{#if this.showRemoveButton}}
    <span
      title="Remove {{this.pipeline.scmRepo.name}} pipeline from {{this.collectionName}} collection"
      onclick={{action "removePipeline"}}
    >
      &times;
    </span>
  {{/if}}
</td>
