<tr class="collection-pipeline">
  <td class="collection-pipeline__choose">
    {{#if this.showCheckbox}}
      <input type="checkbox" value={{this.pipelineSelected}} onchange={{action "togglePipeline"}}>
    {{/if}}
  </td>
  <td class="app-id">
    {{#link-to "pipeline" this.pipeline.id title=this.pipeline.scmRepo.name}}{{this.pipeline.scmRepo.name}}{{/link-to}}
  </td>
  <td class="branch" {{in-viewport onEnter=(fn this.updateEventMetrics)}}>
    {{fa-icon "code-fork"}}
    <span title={{this.branch}}>{{this.branch}}</span>
  </td>
  <td class="status">
    {{#link-to "pipeline" this.pipeline.id title=this.pipeline.scmRepo.name}}
      {{fa-icon this.lastEventInfo.icon class=this.lastEventInfo.statusColor}}
    {{/link-to}}
    {{#if this.storeQueryError}}
      An error occur while loading events
    {{else if this.hasBothEventsAndLatestEventInfo}}
      <a href={{this.lastEventInfo.commitUrl}}>
        {{this.lastEventInfo.sha}}
      </a>
    {{else}}
      Loading events
    {{/if}}
  </td>
  <td class="start">
    {{this.lastEventInfo.startTime}}
  </td>
  <td class="duration">
    {{this.lastEventInfo.durationText}}
  </td>
  <td class="history">
    {{#if this.hasBothEventsAndLatestEventInfo}}
      {{events-thumbnail
          events=this.eventsInfo
          pipelineId=this.pipeline.id
          class="events-thumbnail"
      }}
    {{/if}}
  </td>
  <td class="collection-pipeline__remove">
    {{#if this.showRemoveButton}}
      <span title="Remove {{this.pipeline.scmRepo.name}} pipeline from {{this.collectionName}} collection" onclick={{ fn this.removePipeline pipeline.id pipeline.name}}>
        &times;
      </span>
    {{/if}}
  </td>
</tr>