<div class="row">
  {{#if this.session.isAuthenticated}}
    <CollectionsFlyout
      @changeCollection={{action "changeCollection"}}
      class="col-md-2"
    />
    <SearchList
      @moreToShow={{this.moreToShow}}
      @pipelines={{this.pipelines}}
      @updatePipelines={{action "updatePipelines"}}
      @collections={{this.collections}}
      @addToCollection={{action "addToCollection"}}
      @query={{this.query}}
      class="col-md-10"
    />
  {{else}}
    <SearchList
      @moreToShow={{this.moreToShow}}
      @pipelines={{this.pipelines}}
      @updatePipelines={{action "updatePipelines"}}
      @collections={{this.collections}}
      @addToCollection={{action "addToCollection"}}
      @query={{this.query}}
      @name={{this.name}}
      @description={{this.description}}
      @errorMessage={{this.errorMessage}}
      @addNewCollection={{action "addNewCollection"}}
    />
  {{/if}}
</div>

{{outlet}}