<div class="row">
  {{#if session.isAuthenticated}}
    {{collections-flyout
      changeCollection=(action "changeCollection")
      class="col-md-2"}}
    {{search-list
      pipelines=pipelines
      collections=collections
      onAddToCollection=(action "addToCollection")
      query=query
      class="col-md-10"
    }}
  {{else}}
    {{search-list
      pipelines=pipelines
      collections=collections
      onAddToCollection=(action "addToCollection")
      query=query
      name=name
      description=description
      errorMessage=errorMessage
      addNewCollection=(action "addNewCollection") 
    }}
  {{/if}}
</div>

{{outlet}}