<div class="row">
  {{#if session.isAuthenticated}}
    {{collections-flyout class="col-md-2"}}
    {{search-list
      pipelines=pipelines
      collections=collections
      onAddToCollection=(action "addToCollection")
      query=query
      class="col-md-10"
    }}
  {{else}}
    {{search-list
      pipelines=pipelines
      collections=collections
      onAddToCollection=(action "addToCollection")
      query=query
    }}
  {{/if}}
</div>

{{outlet}}