<div class="flyout row">
  <div class="header row">
    {{#if this.session.isAuthenticated}}
      <h2 class="header__text col-9">
        Collections
      </h2>
      <a class="header__create col-3" {{action "openModal"}}>
        create
      </a>
    {{else}}
      <h2 class="header__text col-12">
        Collections
      </h2>
    {{/if}}
  </div>
  {{#each this.orderedCollections as |collection|}}
    <div
      class="collection-wrapper w-100 row
        {{if (eq collection.id this.selectedCollectionId) " row--active"}}"
    >
      <LinkTo
        @route="dashboard.show"
        @model={{collection.id}}
        @title={{collection.name}}
      >
        {{collection.name}}
      </LinkTo>
      {{#if (eq collection.type "normal")}}
        <button
          class="collection-wrapper__delete"
          onclick={{action "setCollectionToDelete" collection}}
        >
          <FaIcon @icon="trash" @title="Delete collection" @size="md" />
        </button>
      {{/if}}
    </div>
  {{else}}
    <p class="no-collections-text">
      Please create a collection.
    </p>
  {{/each}}
  {{#if this.collectionToDelete}}
    {{! Confirmation modal for deleting a collection }}
    <BsModalSimple
      @title="Confirm deletion"
      @closeTitle="Cancel"
      @submitTitle="Confirm"
      @size={{null}}
      @fade={{false}}
      @onSubmit={{action "deleteCollection" this.collectionToDelete}}
      @onHide={{action "cancelDeletingCollection"}}
    >
      You're about to delete the collection "{{this.collectionToDelete.name
      }}". This action cannot be undone. Are you sure?
    </BsModalSimple>
  {{/if}}
  <CollectionModal @showModal={{this.showModal}} />
</div>
