<div class="flyout row">
  <div class="header row">
    {{#if session.isAuthenticated}}
      <h2 class="header__text col-xs-9">
        Collections
      </h2>
      <a {{action "openModal"}} class="header__create col-xs-3">Create</a>
    {{else}}
      <h2 class="header__text col-xs-12">
        Collections
      </h2>
    {{/if}}
  </div>
  {{#each orderedCollections as |collection|}}
    <div class="collection-wrapper row {{if (eq collection.id selectedCollectionId) " row--active"}}">
      {{#link-to "dashboard.show" collection.id title=collection.name}}
        {{collection.name}}
      {{/link-to}}
      {{#unless (eq collection.type "default")}}
        <button
          class="collection-wrapper__delete"
          onclick={{action "setCollectionToDelete" collection}}
        >
          {{fa-icon "trash" title="Delete collection" size="md"}}
        </button>
      {{/unless}}
    </div>
  {{else}}
    <p class="no-collections-text">Please create a collection.</p>
  {{/each}}
  {{#if collectionToDelete}}
    {{!-- Confirmation modal for deleting a collection --}}
    {{#bs-modal-simple
      title="Please confirm"
      closeTitle="Cancel"
      submitTitle="Confirm"
      size=null
      fade=false
      onSubmit=(action "deleteCollection" collectionToDelete)
      onHide=(action "cancelDeletingCollection")
    }}
      You're about to delete {{collectionToDelete.name}}. Are you sure?
    {{/bs-modal-simple}}
  {{/if}}
  {{collection-modal showModal=showModal}}
</div>