<br>
<h1>
{{#if (await this.hasUsers)}} P{{else}} No p{{/if}}ipelines using {{await this.templateName}}/{{await this.templateNamespace}}@{{await this.templateVersion}}</h1>

<TemplateVersionPipelineUsage
  @templateName={{this.templateName}}
  @templateNamespace={{this.templateNamespace}}
  @templateVersion={{this.templateVersion}}
  @pipelineMetrics={{this.pipelineMetrics}}
/>

{{outlet}}