<br>
{{#if (await this.hasUsers)}}

<h1>Pipelines using {{await this.templateName}}/{{await this.templateNamespace}}@{{await this.templateVersion}}</h1>

<TemplateVersionPipelineUsage
  @templateName={{this.templateName}}
  @templateNamespace={{this.templateNamespace}}
  @templateVersion={{this.templateVersion}}
  @pipelineMetrics={{this.pipelineMetrics}}
/>
{{/if}}

{{outlet}}
