<BsForm
  @formLayout="horizontal"
  @model={{this.parameterizedModel}}
  class="start-with-parameters-form"
  @onSubmit={{action "onSave" this.parameters}} as |form|
>
  <div class="parameter-group-list">
    {{#each this.parameters as |parameterGroup|}}
      <div class="parameter-group">
        <h4
          onClick={{action "onExpandCollapseParamGroup" parameterGroup.jobName}}
        >
          <FaIcon
            @icon={{if parameterGroup.isOpen "minus-square" "plus-square"}}
          />
          {{parameterGroup.paramGroupTitle}}
        </h4>
        <div
          class="parameter-list


            {{if parameterGroup.isOpen "expanded" "collapsed"}}"
        >
          {{#each parameterGroup.parameters as |parameter|}}
            <form.element>
              <label class="control-label col-md-4">
                {{#if parameter.description}}
                  <FaIcon
                    @icon="question-circle"
                    @title={{parameter.description}}
                  />
                {{/if}}
                {{parameter.name}}
              </label>
              <div class="col-md-8">
                {{#if (is-array parameter.value)}}
                  {{#with
                    (get
                      (if
                        (eq parameterGroup.jobName null)
                        this.parameterizedModel
                        (get this.parameterizedModel parameterGroup.jobName)
                      )
                      parameter.name
                    ) as |value|
                  }}
                    {{#unless (array-includes value parameter.defaultValues)}}
                      <FaIcon
                        @icon="exclamation-triangle"
                        @title={{concat
                          "Default value: "
                          parameter.defaultValues
                        }}
                        @class="notice-default-values-icon"
                      />
                    {{/unless}}
                    <PowerSelect
                      @options={{parameter.value}}
                      @renderInPlace={{true}}
                      @selected={{value}}
                      @onChange={{action
                        (action
                          "onUpdateValue"
                          this.parameterizedModel
                          parameterGroup.jobName
                          parameter.name
                        )
                      }}
                      @onkeydown={{action
                        (action
                          "searchOrAddtoList"
                          this.parameterizedModel
                          parameterGroup.jobName
                          parameter.name
                        )
                      }}
                      @searchPlaceholder="Type to filter"
                      @noMatchesMessage="Hit enter to override" as |selectedValue|
                    >
                      {{selectedValue}}
                    </PowerSelect>
                  {{/with}}
                {{else}}
                  {{#unless
                    (array-includes parameter.value parameter.defaultValues)
                  }}
                    <FaIcon
                      @icon="exclamation-triangle"
                      @title={{concat
                        "Default value: "
                        parameter.defaultValues
                      }}
                      class="notice-default-values-icon"
                    />
                  {{/unless}}
                  <Input
                    @value={{parameter.value}}
                    class="form-control"
                    @label={{parameter.value}}
                    placeholder={{parameter.value}}
                    @property={{parameter.name}}
                    @change={{action
                      (action
                        "onUpdateValue"
                        this.parameterizedModel
                        parameterGroup.jobName
                        parameter.name
                        parameter.value
                      )
                    }}
                  />
                {{/if}}
              </div>
            </form.element>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>

  {{#if this.showSubmitButton}}
    <div class="btn-group">
      <BsButton
        @defaultText={{this.submitButtonText}}
        @type="primary"
        @buttonType="submit"
      />
    </div>
  {{/if}}
</BsForm>

{{yield (hash parameters=this.parameterizedModel)}}
