<BsForm
  @formLayout="horizontal"
  @model={{this.parameterizedModel}}
  class="start-with-parameters-form"
  @onSubmit={{action "onSave" this.parameters}} as |form|
>
  <div class="parameter-group-list">
    {{#each this.parameters as |parameterGroup|}}
      <div class="parameter-group">
        <h4
          onClick={{action "onExpandCollapseParamGroup" parameterGroup.jobName}}
        >
          <FaIcon
            @icon={{if parameterGroup.isOpen "square-minus" "square-plus"}}
          />
          {{parameterGroup.paramGroupTitle}}
        </h4>
        <div class="parameter-list {{if parameterGroup.isOpen "expanded" "collapsed"}}">
          {{#each parameterGroup.parameters as |parameter|}}
            <form.element
              @formLayout="inline"
              as |el|
            >
              <div class="row">
                <label class="control-label col-4" for={{el.id}}>
                  {{#if parameter.description}}
                    <FaIcon
                      @icon="circle-question"
                      @title={{parameter.description}}
                    />
                  {{/if}}
                  <span title={{parameter.name}}>
                    {{parameter.name}}
                  </span>
                </label>
                <div class="col-8">
                  {{#if (is-array parameter.value)}}
                    {{#with
                      (get
                        (if
                          (eq parameterGroup.jobName null)
                          this.parameterizedModel
                          (get this.parameterizedModel parameterGroup.jobName)
                        )
                        parameter.name
                      ) as |value|
                    }}
                    {{#unless (array-includes value parameter.defaultValues)}}
                      <FaIcon
                        @icon="triangle-exclamation"
                        @title={{concat
                          "Default value: "
                          parameter.defaultValues
                        }}
                        @class="notice-default-values-icon"
                      />
                    {{/unless}}
                      <PowerSelect
                        @options={{parameter.value}}
                        @renderInPlace={{true}}
                        @searchEnabled={{true}}
                        @selected={{value}}
                        @title={{value}}
                        @onOpen={{ action
                            "onOpen"
                        }}
                        @onClose={{ action
                            "onClose"
                        }}
                        @onChange={{ action
                            "onUpdateValue"
                            this.parameterizedModel
                            parameterGroup.jobName
                            parameter.name
                        }}
                        @onKeydown={{ action
                            "searchOrAddtoList"
                            this.parameterizedModel
                            parameterGroup.jobName
                            parameter.name
                        }}
                        @searchPlaceholder="Type to filter"
                        @noMatchesMessage="Hit enter to override" as |selectedValue|
                      >
                        {{selectedValue}}
                      </PowerSelect>
                    {{/with}}
                  {{else}}
                    {{#unless
                      (array-includes parameter.value parameter.defaultValues)
                    }}
                      <FaIcon
                        @icon="triangle-exclamation"
                        @title={{concat
                          "Default value: "
                          parameter.defaultValues
                        }}
                        class="notice-default-values-icon"
                      />
                    {{/unless}}
                    <Input
                      @value={{parameter.value}}
                      class="form-control"
                      @label={{parameter.value}}
                      placeholder={{parameter.value}}
                      @property={{parameter.name}}
                      {{on "change" (action
                        "onUpdateValue"
                        this.parameterizedModel
                        parameterGroup.jobName
                        parameter.name
                        parameter.value
                      )}}
                    />
                  {{/if}}
                </div>
              </div>
            </form.element>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>

  {{#if this.showSubmitButton}}
    <div class="btn-group">
      <BsButton
        @defaultText={{this.submitButtonText}}
        @type="primary"
        @buttonType="submit"
      />
    </div>
  {{/if}}
</BsForm>

{{yield (hash parameters=this.parameterizedModel)}}
