{{#bs-form formLayout="horizontal" model=parameterizedModel
  class="start-with-parameters-form"
  onSubmit=(action "onSave" parameters) as |form|}}

  <div class="parameters-container">
    <h4 class="parameter-group-title" {{action "onExpandCollapseParamGroup" null}}>{{fa-icon (if expandPipelineParamGroup "minus-square" "plus-square")}} Shared</h4>
    <div class={{if pipelineParameters.isOpen "parameter-group expanded" "parameter-group collapsed"}}>
      {{#each pipelineParameters.parameters as |parameter|}}
        {{#form.group}}
          <label class="control-label col-md-4">
            {{#if parameter.description}}
              {{fa-icon "question-circle" title=parameter.description}}
            {{/if}}
            {{parameter.name}}
          </label>
          <div class="col-md-8">
            {{#if (is-array parameter.value)}}
              {{#with (get parameterizedModel parameter.name) as |value|}}
                {{#unless (array-includes value parameter.defaultValues)}}
                  {{fa-icon "exclamation-triangle" title=(concat "Default value: " parameter.defaultValues) class="notice-default-values-icon"}}
                {{/unless}}
              {{/with}}
              {{#power-select
                options=parameter.value
                renderInPlace=true
                selected=(get parameterizedModel parameter.name)
                onchange=(action (action "onUpdateValue" parameterizedModel null parameter.name))
                onkeydown=(action (action "searchOrAddtoList" parameterizedModel null parameter.name))
                searchPlaceholder="Type to filter"
                noMatchesMessage="Hit enter to override"
                as |selectedValue|
              }}
                {{selectedValue}}
              {{/power-select}}
            {{else}}
              {{#unless (array-includes parameter.value parameter.defaultValues)}}
                {{fa-icon "exclamation-triangle" title=(concat "Default value: " parameter.defaultValues) class="notice-default-values-icon"}}
              {{/unless}}
              {{input
                value=parameter.value
                class="form-control"
                label=parameter.value
                placeholder=parameter.value
                property=parameter.name
                change=(action (action "onUpdateValue" parameterizedModel null parameter.name parameter.value))
              }}
            {{/if}}
          </div>
        {{/form.group}}
      {{/each}}
    </div>

    {{#each jobParameters as |jobParameterGroup|}}
      <h4 class="parameter-group-title" onClick={{action "onExpandCollapseParamGroup" jobParameterGroup.jobName}}>
        {{fa-icon (if jobParameterGroup.isOpen "minus-square" "plus-square")}} Job: {{jobParameterGroup.jobName}}
      </h4>
      <div class={{if jobParameterGroup.isOpen "parameter-group expanded" "parameter-group collapsed"}}>
        {{#each jobParameterGroup.parameters as |parameter|}}
          {{#form.group}}
            <label class="control-label col-md-4">
              {{#if parameter.description}}
                {{fa-icon "question-circle" title=parameter.description}}
              {{/if}}
              {{parameter.name}}
            </label>
            <div class="col-md-8">
              {{#if (is-array parameter.value)}}
                {{#with (get parameterizedModel parameter.name) as |value|}}
                  {{#unless (array-includes value parameter.defaultValues)}}
                    {{fa-icon "exclamation-triangle" title=(concat "Default value: " parameter.defaultValues) class="notice-default-values-icon"}}
                  {{/unless}}
                {{/with}}
                {{#power-select
                  options=parameter.value
                  renderInPlace=true
                  selected=(get parameterizedModel parameter.name)
                  onchange=(action (action "onUpdateValue" parameterizedModel jobParameterGroup.jobName parameter.name))
                  onkeydown=(action (action "searchOrAddtoList" parameterizedModel jobParameterGroup.jobName parameter.name))
                  searchPlaceholder="Type to filter"
                  noMatchesMessage="Hit enter to override"
                as |selectedValue|
                }}
                  {{selectedValue}}
                {{/power-select}}
              {{else}}
                {{#unless (array-includes parameter.value parameter.defaultValues)}}
                  {{fa-icon "exclamation-triangle" title=(concat "Default value: " parameter.defaultValues) class="notice-default-values-icon"}}
                {{/unless}}
                {{input
                  value=parameter.value
                  class="form-control"
                  label=parameter.value
                  placeholder=parameter.value
                  property=parameter.name
                  change=(action (action "onUpdateValue" parameterizedModel jobParameterGroup.jobName parameter.name parameter.value))
                }}
              {{/if}}
            </div>
          {{/form.group}}
        {{/each}}
      </div>
    {{/each}}
  </div>

  {{#if showSubmitButton}}
    <div class="btn-group">
      {{bs-button defaultText=submitButtonText type="primary" buttonType="submit"}}
    </div>
  {{/if}}
{{/bs-form}}

{{yield
  (hash
    parameters=parameterizedModel
  )
}}
