{{#bs-form formLayout="horizontal" model=parameterizedModel
  class="start-with-parameters-form"
  onSubmit=(action "onSave" parameters) as |form|}}

  {{#each parameters as |parameter|}}
    {{#form.group}}
      <label class="control-label col-md-4">
        {{#if parameter.description}}
          {{fa-icon "question-circle" title=parameter.description}}
        {{else}}
          {{fa-icon "question-circle" title="No description."}}
        {{/if}}
        {{parameter.name}}
      </label>
      <div class="col-md-8">
        {{#if (is-array parameter.value)}}
          {{#power-select
            options=parameter.value
            renderInPlace=true
            selected=(get parameterizedModel parameter.name)
            onchange=(action (action "onUpdateValue" parameterizedModel parameter.name))
            onkeydown=(action (action "searchOrAddtoList" parameterizedModel parameter.name))
            searchPlaceholder="Type to filter"
            noMatchesMessage="Hit enter to override"
            as |selectedValue|
          }}
            {{selectedValue}}
          {{/power-select}}
        {{else}}
          {{input
            value=parameter.value
            class="form-control"
            label=parameter.value
            placeholder=parameter.value
            property=parameter.name
            change=(action (action "onUpdateValue" parameterizedModel parameter.name parameter.value))
          }}
        {{/if}}
      </div>
    {{/form.group}}
  {{/each}}

  {{#if showSubmitButton}}
    <div class="btn-group">
      {{bs-button defaultText=submitButtonText type="primary" buttonType="submit"}}
    </div>
  {{/if}}
{{/bs-form}}

{{yield
  (hash
    parameters=parameterizedModel
  )
}}
