{{#if session.isAuthenticated}}
  {{pipeline-nav pipeline=pipeline}}
{{/if}}

{{info-message message=errorMessage type="warning" icon="exclamation-triangle"}}

<div class="chart-controls">
  <div class="chart-control range-selection">
    <span class="title">Time Range</span>
    {{#bs-button-group
      value=selectedRange
      type="radio"
      onChange=(action "setTimeRange") as |bg|}}
      {{#each timeRanges as |range|}}
        {{#bg.button value=range.value}}{{range.alias}}{{/bg.button}}
      {{/each}}
    {{/bs-button-group}}
  </div>

  <div class="chart-control custom-date-selection">
    <span class="title">Custom Date Range</span>
    {{ember-flatpickr
      clickOpens=true
      dateFormat="m/d/Y"
      date=customRange
      locale="en"
      mode="range"
      onChange=(action (mut dateValues))
      onClose=(action "setCustomRange")
      placeholder="Choose Start & End Date Time"
    }}
  </div>

  {{x-toggle
    size="small"
    theme="material"
    showLabels=true
    value=isUTC
    offLabel="Local"
    onLabel="UTC"
    onToggle=(action (mut isUTC))
  }}

  <div class="chart-control filters-selection">
    {{x-toggle
      size="small"
      theme="material"
      showLabels=true
      value=successOnly
      offLabel=null
      onLabel="Success Only"
      onToggle=(action "toggleSuccessOnly")}}
  </div>
</div>

<div class="chart-pipeline-info">
  <div class="col">
    <span class="measure">{{if measures.total measures.total "N/A"}}</span>
    <br>
    <span class="title">Total Events</span>
  </div>
  <div class="col">
    <span class="measure">
      {{#if measures.total}}
        <span class="passed">{{measures.passed}}</span> / <span class="failed">{{measures.failed}}</span>
      {{else}}
        N/A
      {{/if}}
    </span>
    <br>
    <span class="title">Passed / Failed Jobs</span>
  </div>
  <div class="col">
    <span class="measure">{{if measures.total measures.avgs.duration "N/A"}}</span>
    <br>
    <span class="title">Avg. Build Time</span>
  </div>
  <div class="col">
    <span class="measure">{{if measures.total measures.avgs.imagePullTime "N/A"}}</span>
    <br>
    <span class="title">Avg. Image Pull Time</span>
  </div>
  <div class="col">
    <span class="measure">{{if measures.total measures.avgs.queuedTime "N/A"}}</span>
    <br>
    <span class="title">Avg. Queued Time</span>
  </div>
</div>

{{#if measures.total}}
  {{#if (is-fulfilled this.downtimeJobsMetrics)}}
    {{log "inside this.downtimeJobsMetrics" this.downtimeJobsMetrics}}
    {{#if this.downtimeJobsChartData}}
      <Metrics::Chart
        @chartTitle="Downtime Metrics"
        @chartName={{this.downtimeJobsChartName}}
        @legends={{this.downtimeJobsLegends}}
        @resetZoom={{action "resetZoom"}}

        @name={{this.downtimeJobsChartName}}
        @metrics={{await this.downtimeJobsMetrics}}
        @axis={{this.downtimeJobsAxis}}
        @tooltip={{this.tooltip}}
        @onrendered={{this.onrendered}}
        @onresized={{this.onresized}}
        @oninit={{get onInitFns this.downtimeJobsChartName}}
      />
    {{else}}
      <div class="chart-cta">Not enough metric available for Downtime Jobs!</div>
    {{/if}}
  {{else}}
    {{#if (is-pending this.downtimeJobsMetrics)}}
      <div class="chart-cta">Loading...</div>
    {{else}}
      <div class="chart-cta">No metric available for Downtime Jobs!</div>
    {{/if}}
  {{/if}}

  <div class="chart-c3">
    <p class="chart-title">Events</p>
    {{x-toggle
      size="small"
      theme="material"
      showLabels=true
      value=inTrendlineView
      offLabel=null
      onLabel="Trendline View"
      onToggle=(action "toggleTrendlineView")}}
    <ul class="list-inline chart-legend">
      {{#each eventLegend as |lg|}}
        <li
          style={{lg.style}}
          onclick={{action "onLegendClick" lg.key eventsChartName}}
          onmouseenter={{action "onLegendHover" lg.key eventsChartName}}
          onmouseleave={{action "onLegendHoverOut" eventsChartName}}
        >
          {{lg.name}} <a>only</a>
        </li>
      {{/each}}
    </ul>
    <p class="y-axis-label">TIME (MIN)</p>
    {{chart-c3
      name=eventsChartName
      data=eventMetrics
      axis=eventsAxis
      grid=grid
      interaction=interaction
      bar=bar
      legend=legend
      tooltip=tooltip
      subchart=subchart
      point=point
      size=size
      transition=transition
      color=color
      padding=padding
      zoom=zoom
      onrendered=onrendered
      onresized=onresized
      oninit=(get onInitFns eventsChartName)
    }}
    <p class="reset-button" onClick={{action "resetZoom" eventsChartName buildsChartName}} title="Reset Zoom Level">{{fa-icon "refresh"}}</p>
  </div>

{{else}}
  <div class="chart-cta">No metric available for the chosen time range!</div>
{{/if}}

{{outlet}}
