<BsModal
  id="confirm-action-modal"
  @onHide={{fn @closeModal}}
  as |modal|
>
  <modal.header>
    <div class="modal-title">Are you sure you want to {{this.action}}?</div>
  </modal.header>
  <modal.body>
    {{#if this.errorMessage}}
      <InfoMessage
        @message={{this.errorMessage}}
        @type="warning"
        @icon="triangle-exclamation"
        @dismissible={{false}}
      />
    {{/if}}
    {{#if @stage}}
      <div id="confirm-action-stage">Stage: <code>{{@stage.name}}</code></div>
    {{else}}
      <div id="confirm-action-job">Job: <code>{{@job.name}}</code></div>
    {{/if}}
    <div id="confirm-action-commit">
      Commit: <code>{{this.truncatedMessage}}</code>
      <a
        id="confirm-action-commit-link"
        class={{if this.isLatestCommitEvent "latest-commit"}}
        href={{this.commitUrl}}
      >
        #{{this.truncatedSha}}
      </a>
      {{#unless this.isLatestNonPrCommitEvent}}
        <div class="alert alert-warning">
          <FaIcon @icon="triangle-exclamation" />
          This is <strong>NOT</strong> the latest commit.
        </div>
      {{/unless}}
    </div>

    {{#if this.isFrozen}}
      <div class="frozen-reason">
        <label>
          <div>Reason:</div>
          <Input
            @type="text"
            @value={{this.reason}}
            placeholder="Please enter a reason"
          />
        </label>
      </div>
    {{/if}}

    {{#if this.isParameterized}}
      <Pipeline::Parameters
        @action={{this.action}}
        @job={{@job}}
        @event={{@event}}
        @onUpdateParameters={{this.onUpdateParameters}}
      />
    {{/if}}
  </modal.body>
  <modal.footer>
    <BsButton
      id="submit-action"
      disabled={{this.isSubmitButtonDisabled}}
      @type="primary"
      @defaultText="Yes"
      @pendingText={{this.pendingAction}}
      @fulfilledText={{this.completedAction}}
      @onClick={{fn this.startBuild}}
    />
  </modal.footer>
</BsModal>
