<div class="pipeline-parameters">
  {{#if @action}}
    <div class="parameter-title">
      {{this.title}}
    </div>
  {{/if}}
  <div class="parameters-container">
    {{#each this.parameters as |parameterGroup|}}
      <div class="parameter-group">
        <div class="group-title"
          {{on "click" (fn this.toggleParameterGroup parameterGroup.paramGroupTitle)}}
        >
          <FaIcon
            @icon={{if parameterGroup.isOpen "square-minus" "square-plus"}}
          />
          <div
            class="title"
            title={{parameterGroup.paramGroupTitle}}
          >
            {{parameterGroup.paramGroupTitle}}
          </div>
        </div>
        <div class="parameter-list {{if parameterGroup.isOpen "expanded" "collapsed"}}">
          {{#each parameterGroup.parameters as |parameter|}}
            <div class="parameter">
              <label>
                <div
                  class="name"
                  title={{parameter.name}}
                >
                  {{parameter.name}}
                </div>
                {{#if parameter.description}}
                  <FaIcon @icon="circle-question" @title={{parameter.description}}></FaIcon>
                {{/if}}
                {{#if (and
                        (not (is-array parameter.defaultValues))
                        (not (eq parameter.value parameter.defaultValues))
                      )
                }}
                  <FaIcon @icon="triangle-exclamation" @title="Default value: {{parameter.defaultValues}}"></FaIcon>
                {{/if}}
              </label>
              {{#if (is-array parameter.defaultValues)}}
                <div class="dropdown-selection-container">
                  <Pipeline::Parameters::Selectable
                    @disabled={{if @action false true}}
                    @parameter={{parameter}}
                    @onOpen={{this.openSelect}}
                    @onSelectValue={{(fn this.updateParameter parameterGroup.jobName)}}
                  />
                </div>
              {{else}}
                <Input
                  @value={{parameter.value}}
                  disabled={{if @action false true}}
                  defaultValue={{parameter.value}}
                  {{on "input" (fn this.onInput parameterGroup.jobName parameter)}}
                />
              {{/if}}
            </div>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
