{{#if showCheckbox}}
  <label class="checkbox-container">
    <input type="checkbox" value={{pipelineSelected}} onchange={{action "togglePipeline"}}>
    <span class="checkmark"></span>
  </label>
{{/if}}
<div class="pipeline-card-content {{if showCheckbox "show-checkbox" ""}}">
  {{#if showRemoveButton}}
    <span class="remove-button" title="Remove {{pipeline.scmRepo.name}} pipeline from {{collectionName}} collection" onclick={{action "removePipeline"}}>
      &times;
    </span>
  {{/if}}

  <div class="branch-info">
    {{#link-to "pipeline" pipeline.id title=pipeline.scmRepo.name}}
      {{pipeline.scmRepo.name}}
    {{/link-to}}
    <div title={{branch}}>
      {{fa-icon "code-fork"}}
      {{branch}}
    </div>
  </div>
  <div class="commit-info">
    <div class="commit-status">
      {{#link-to "pipeline" pipeline.id title=pipeline.scmRepo.name}}
        {{fa-icon lastEventInfo.icon class=lastEventInfo.statusColor}}
      {{/link-to}}
      <a href={{lastEventInfo.commitUrl}}>
        {{lastEventInfo.sha}}
      </a>
    </div>
    <p class="commit-message" title={{lastEventInfo.commitMessage}}>
      {{#if storeQueryError}}
        An error occur while loading events
      {{else if hasBothEventsAndLatestEventInfo}}
        {{lastEventInfo.commitMessage}}
      {{else}}
        Loading events
      {{/if}}
    </p>
  </div>
  <div class="time-metrics">
    <div class="duration-badge">
      <span class="badge-label">duration</span>
      <span class="badge-info">{{lastEventInfo.durationText}}</span>
    </div>
    <div class="start-time-badge">
      <span class="badge-label">start Date</span>
      <span class="badge-info">{{lastEventInfo.startTime}}</span>
    </div>
  </div>

  <div class="events-thumbnail-wrapper">
    {{#if hasBothEventsAndLatestEventInfo}}
      {{events-thumbnail
          class="events-thumbnail"
          events=eventsInfo
          pipelineId=pipeline.id
      }}
    {{else}}
      <div class="placeholder"/>
    {{/if}}
  </div>
</div>