{{#if this.showCheckbox}}
  <label class="checkbox-container">
    <input
      type="checkbox"
      value={{this.pipelineSelected}}
      onchange={{action "togglePipeline"}}
    />
    <span class="checkmark"></span>
  </label>
{{/if}}
<div class="pipeline-card-content {{if this.showCheckbox "show-checkbox" ""}}">
  {{#if this.showRemoveButton}}
    <span
      class="remove-button"
      title="Remove


        {{this.pipeline.scmRepo.name}}


         pipeline from


        {{this.collectionName}}


         collection"
      onclick={{action "removePipeline"}}
    >
      &amp;amp;amp;amp;amp;amp;times;
    </span>
  {{/if}}

  <div class="branch-info">
    <LinkTo
      @route="pipeline"
      @model={{this.pipeline.id}}
      @title={{this.pipeline.scmRepo.name}}
    >
      {{this.pipeline.scmRepo.name}}
    </LinkTo>
    <div title={{this.branch}}>
      <FaIcon @icon="code-branch" />
      {{this.branch}}
    </div>
  </div>
  <div class="commit-info">
    <div class="commit-status">
      <LinkTo
        @route="pipeline"
        @model={{this.pipeline.id}}
        @title={{this.pipeline.scmRepo.name}}
      >
        <FaIcon
          @icon={{this.lastEventInfo.icon}}
          class={{this.lastEventInfo.statusColor}}
        />
      </LinkTo>
      <a href={{this.lastEventInfo.commitUrl}}>
        {{this.lastEventInfo.sha}}
      </a>
    </div>
    <p class="commit-message" title={{this.lastEventInfo.commitMessage}}>
      {{#if this.storeQueryError}}
        An error occur while loading events
      {{else if this.hasBothEventsAndLatestEventInfo}}
        {{this.lastEventInfo.commitMessage}}
      {{else}}
        Loading events
      {{/if}}
    </p>
  </div>
  <div class="time-metrics">
    <div class="duration-badge">
      <span class="badge-label">
        duration
      </span>
      <span class="badge-info">
        {{this.lastEventInfo.durationText}}
      </span>
    </div>
    <div class="start-time-badge">
      <span class="badge-label">
        start Date
      </span>
      <span class="badge-info">
        {{this.lastEventInfo.startTime}}
      </span>
    </div>
  </div>

  <div class="events-thumbnail-wrapper">
    {{#if this.hasBothEventsAndLatestEventInfo}}
      <EventsThumbnail
        class="events-thumbnail"
        @events={{this.eventsInfo}}
        @pipelineId={{this.pipeline.id}}
      />
    {{else}}
      <div class="placeholder"></div>
    {{/if}}
  </div>
</div>