{{#if showCheckbox}}
  <label class="checkbox-container">
    <input type="checkbox" value={{pipelineSelected}} onchange={{action "togglePipeline"}}>
    <span class="checkmark"></span>
  </label>
{{/if}}
<div class="pipeline-card-content {{if showCheckbox "show-checkbox" ""}}">
  {{#unless showCheckbox}}
    <span class="remove-button" onclick={{action "removePipeline"}}>
      &times;
    </span>
  {{/unless}}
  <div class="branch-info">
    {{#link-to "pipeline" pipeline.id}}
      {{line-clamp
        lines=1
        interactive=false
        text=pipeline.scmRepo.name
      }}
    {{/link-to}}
    <div>
      {{fa-icon "code-fork"}}
      {{pipeline.branch}}
    </div>
  </div>
  <div class="commit-info">
    <div class="commit-status">
      {{fa-icon lastEventInfo.icon class=lastEventInfo.statusColor}}
      <a href={{lastEventInfo.commitUrl}}> 
        {{lastEventInfo.sha}}
      </a>
    </div>
    <p class="commit-message">
      {{line-clamp
        lines=2
        interactive=false
        text=lastEventInfo.commitMessage
      }}
    </p>
  </div>
  <div class="time-metrics">
    <div class="duration-badge">
      <span class="badge-label">duration</span>
      <span class="badge-info">{{lastEventInfo.durationText}}</span>
    </div>
    <div class="start-time-badge">
      <span class="badge-label">start time</span>
      <span class="badge-info">{{lastEventInfo.startTime}}</span>
    </div>
  </div>
  <div class="events-thumbnail-wrapper">
    {{events-thumbnail
        class="events-thumbnail"
        events=eventsInfo
    }}
  </div>
</div>