<div class='row'>
  <div class="col-xs-1">
    <span class="status-icon">{{#if icon}}{{fa-icon icon}}{{/if}}</span>
  </div>
  <div class='col-xs-8'>
    <span class="name{{if isSdStep ' sd-step'}}">{{stepName}}</span>
  </div>
  <div class='col-xs-2'>
    <span class="duration">
      {{if duration duration}}
      {{if isRunning startTimeFromNow}}
    </span>
  </div>
  <div class="col-xs-1">
    <span class="chevron">
      {{#if isOpen}}{{fa-icon "fa-chevron-up"}}{{/if}}
      {{#unless isOpen}}{{fa-icon "fa-chevron-down"}}{{/unless}}
    </span>
  </div>
</div>