{{#if this.versionOrTagFromUrl}}
  {{page-title @model.namespace '/' @model.name '@' this.versionOrTagFromUrl}}
{{else}}
  {{page-title @model.namespace '/' @model.name}}
{{/if}}

<InfoMessage
  @message={{this.errorMessage}}
  @type="warning"
  @icon="triangle-exclamation"
/>

<TemplateHeader
  @template={{this.selectedVersionTemplate}}
  @trusted={{this.trusted}}
  @isAdmin={{this.isAdmin}}
  @onUpdateTrust={{action "updateTrust"}}
  @onRemoveTemplate={{action "removeTemplate"}}
/>

<h4>
  Contents:
</h4>
<ValidatorJob
  @name={{this.selectedVersionTemplate.fullName}}
  @job={{this.selectedVersionTemplate.config}}
  @template={{this.selectedVersionTemplate}}
  @collapsible={{false}}
  @isOpen={{true}}
/>

<hr class="section-divider"/>
<TemplateVersions
  @templates={{this.filteredTemplates}}
  @startTime={{this.startTime}}
  @endTime={{this.endTime}}
  @selectedRange={{this.selectedRange}}
  @onRemoveVersion={{action "removeVersion"}}
  @onTimeRangeChange={{action "timeRangeChange"}}
/>
{{outlet}}