<div class="row">
  <CollectionsFlyout
      @onDeleteCollection={{this.onDeleteCollection}}
      @selectedCollectionId={{this.collection.id}}
      class="col-md-2"
  />
  <CollectionView
      @onRemovePipeline={{this.removePipeline}}
      @addMultipleToCollection={{this.addMultipleToCollection}}
      @removeMultiplePipelines={{this.removeMultiplePipelines}}
      @collection={{this.collection}}
      class="col-md-10"
  />
</div>

{{outlet}}