{{page-title "Child Pipelines"}}

{{#if this.session.isAuthenticated}}
  <PipelineNav @pipeline={{this.pipeline}} />
{{/if}}

<div class="padded-container">
  {{#if this.hasInactivePipelines}}
    {{info-message message="You have one or more inactive pipelines. You can activate these by adding back the corresponding SCM URL in the yaml configuration." type="info" icon="triangle-exclamation"}}
  {{/if}}

  <PipelineList @pipelines={{this.pipelines}} @pipeline={{this.pipeline}} @onDeleteChildPipeline={{action "onDeleteChildPipeline"}}/>
</div>

{{outlet}}