{{#if this.collapsible}}
  <h4 class="job" {{action "nameClick"}}>
    <FaIcon @icon={{if this.isOpen "square-minus" "square-plus"}} />
    {{this.name}}{{#if this.index}}.{{this.index}}{{/if}}
  </h4>
{{/if}}
{{#if this.getTemplateName}}
  {{#if this.template}}
    <h4>
      This template extends
      <a href={{this.getTemplateLink}}>
        {{this.getTemplateName}}
      </a>
      template.
    </h4>
  {{else}}
    <h4>
      This job uses
      <a href={{this.getTemplateLink}}>
        {{this.getTemplateName}}
      </a>
      template.
    </h4>
  {{/if}}
{{/if}}
{{#if this.getPipelineTemplateName}}
  {{#if this.template}}
    <h4>
      This template extends
      <a href={{this.getPipelineTemplateLink}}>
        {{this.getPipelineTemplateName}}
      </a>
      pipeline template.
    </h4>
  {{else}}
    <h4>
      This job is inherited from
      <a href={{this.getPipelineTemplateLink}}>
        {{this.getPipelineTemplateName}}
      </a>
      pipeline template.
    </h4>
  {{/if}}
{{/if}}
{{#if this.template.description}}
  <div
    class="template-description"
    title="This is the description of the template"
  >
    <span class="label">
      Template Description:
    </span>
    <span class="value">
      {{this.template.description}}
    </span>
  </div>
{{/if}}
{{#if this.template.images}}
  <div class="images" title="Supported images">
    <span class="label">
      Supported Images:
    </span>
    <span class="value">
      <ul>
        {{#each-in this.template.images as |name value|}}
          <li>
            <span class="name">
              {{name}}:
            </span>
            <span class="value">
              {{value}}
            </span>
          </li>
        {{else}}
          <li>
            None defined
          </li>
        {{/each-in}}
      </ul>
    </span>
  </div>
{{/if}}
<div
  class="annotations"
  title="These are the job-level annotations that the user has defined."
>
  <span class="label">
    Annotations:
  </span>
  <span class="value">
    <ul>
      {{#each-in this.job.annotations as |name value|}}
        <li>
          <span class="name">
            {{name}}:
          </span>
          <span class="value">
            {{value}}
          </span>
        </li>
      {{else}}
        <li>
          None defined
        </li>
      {{/each-in}}
    </ul>
  </span>
</div>
<div
  class="freezeWindow"
  title="These freezeWindows are used to freeze your jobs and prevent them from running during specific time windows. The setting takes a cron expression or a list of them as the value. Timezone is in UTC."
>
  <span class="label">
    Freeze Windows:
  </span>
  <span class="value">
    <ul>
      {{#each-in this.job.freezeWindows as |index freezeWindow|}}
        <li>
          <span class="name">
            {{freezeWindow}}
          </span>
        </li>
      {{else}}
        <li>
          None defined
        </li>
      {{/each-in}}
    </ul>
  </span>
</div>
<div
  class="parameters"
  title="These are the job-level parameters that the user has defined."
>
  <span class="label">
    Parameters:
  </span>
  <span class="value">
    <ul>
      {{#each-in this.job.parameters as |name value|}}
        {{#if value.length}}
          <li>
            <span class="name">
              {{name}}:
            </span>
            <span class="value">
              {{value}}
            </span>
          </li>
        {{else}}
          <li>
            <span class="name">
              {{name}}:
            </span>
            <ul>
              <li>
                <span class="name">
                  value:
                </span>
                <span class="value">
                  {{value.value}}
                </span>
              </li>
              {{#if value.description}}
                <li>
                  <span class="name">
                    description:
                  </span>
                  <span class="value">
                    {{value.description}}
                  </span>
                </li>
              {{/if}}
            </ul>
          </li>
        {{/if}}
      {{else}}
        <li>
          None defined
        </li>
      {{/each-in}}
    </ul>
  </span>
</div>
{{#unless this.template}}
  <div class="description" title="This is the description of the job">
    <span class="label">
      Description:
    </span>
    <span class="value">
      {{this.job.description}}
    </span>
  </div>
{{/unless}}
<div
  class="image"
  title="This is the docker image that acts as the base container for the job."
>
  <span class="label">
    Image:
  </span>
  <span class="value">
    {{this.job.image}}
  </span>
</div>
<div
  class="steps"
  title="These are the commands that will be executed in the job."
>
  <span class="label">
    Steps:
  </span>
  <span class="value">
    <ul>
      {{#each this.steps as |command|}}
        <li>
          <div class="name">
            {{command.name}}:
            {{#if command.locked}}
              <FaIcon @icon="lock" />
            {{/if}}
          </div>
          {{!-- This line will be displayed with pre-wrap, so don't include white spaces and line breaks. --}}
          <div class="value">{{command.command}}</div>
        </li>
      {{/each}}
    </ul>
  </span>
</div>
<div
  class="sourcePaths"
  title="These are the source paths that will trigger a job upon modification. If you want to specify a directory, make sure it has a trailing slash (/)."
>
  <span class="label">
    Source Paths:
  </span>
  <span class="value">
    <ul>
      {{#each this.job.sourcePaths as |path|}}
        <li>
          {{path}}
        </li>
      {{else}}
        <li>
          None defined
        </li>
      {{/each}}
    </ul>
  </span>
</div>
<div
  class="secrets"
  title="These are the keys for secrets that will be available in this job."
>
  <span class="label">
    Secrets:
  </span>
  <span class="value">
    <ul>
      {{#each this.job.secrets as |secretName|}}
        <li>
          {{secretName}}
        </li>
      {{else}}
        <li>
          None defined
        </li>
      {{/each}}
    </ul>
  </span>
</div>
<div
  class="env"
  title="These are the environment variables you have added to the job."
>
  <span class="label">
    Environment Variables:
  </span>
  <span class="value">
    <ul>
      {{#each-in this.job.environment as |name value|}}
        <li>
          <span class="name">
            {{name}}:
          </span>
          <span class="value">
            {{value}}
          </span>
        </li>
      {{else}}
        <li>
          None defined
        </li>
      {{/each-in}}
    </ul>
  </span>
</div>
<div
  class="settings"
  title="These settings are used to configure any additional build plugins added to screwdriver.cd. Configure email and slack notifications for build events here."
>
  <span class="label">
    Settings:
  </span>
  <span class="value">
    {{#if (is-object this.job.settings)}}
      <ObjectTree @data={{this.job.settings}} />
    {{else}}
      None defined
    {{/if}}
    <ul>
      {{!TODO handle settings properly}}
      {{#each-in this.job.settings as |name svalue|}}
        <li>
          <div class="value-item">
            <div class="name">
              {{name}}:
            </div>
            <div class="value">
              {{#if (is-object svalue)}}
                {{#each-in svalue as |xname xvalue|}}
                  <div>
                    {{xname}}: {{xvalue}}
                  </div>
                {{else}}
                  <div>
                    None defined
                  </div>
                {{/each-in}}
              {{else}}
                <div>
                  {{svalue}}
                </div>
              {{/if}}
            </div>
          </div>
        </li>
      {{else}}
        <li>
          None defined
        </li>
      {{/each-in}}
    </ul>
  </span>
</div>
<div
  class="sd-commands"
  title="These are the sd-commands that will be executed in the job."
>
  <span class="label">
    Commands:
  </span>
  <span class="value">
    <ul>
      {{#each-in this.sdCommands as |index value|}}
        <li>
          <span class="name">
            <a href="/commands/{{value.command}}/{{value.version}}">
              {{value.command}}{{#if value.version}}@{{value.version}}{{/if}}
            </a>
          </span>
        </li>
      {{else}}
        <li>
          None defined
        </li>
      {{/each-in}}
    </ul>
  </span>
</div>

<div
  class="provider"
  title="This is the AWS cloud provider you have added to the job for AWS Native builds."
>
  <span class="label">
    Provider:
  </span>
  {{#if this.job.provider}}
    {{#if (is-object this.job.provider)}}
      <span class="value">
        <ul>
          {{#each-in this.job.provider as |name value|}}
            <li>
              <span class="name">
                {{name}}:
              </span>
              {{#if (is-object value)}}
                <ul>
                  {{#each-in value as |n v|}}
                    <li>
                      <span class="name">
                        {{n}}:
                      </span>
                      <span class="value">
                        {{v}}
                      </span>
                    </li>
                  {{/each-in}}
                </ul>
              {{else}}
                <span class="value">
                  {{value}}
                </span>
              {{/if}}
            </li>
          {{/each-in}}
        </ul>
      </span>
    {{else}}
      <span class="value">
        {{this.job.provider}}
      </span>
    {{/if}}
  {{else}}
    <li>
      None defined
    </li>
  {{/if}}
</div>

{{yield}}
