<div class="view">
  <div class="status">{{fa-icon icon fixedWidth=true}}</div>
  <div class="detail">
    {{#if event}}
      <div class="commit" title={{event.causeMessage}}>
        {{#if (eq event.type "pr") }}
          <a href={{event.pr.url}}>PR-{{event.prNum}}</a>
        {{else}}
          <a class={{if (eq event.sha latestCommit.sha) "latest-commit"}} href={{event.commit.url}}>#{{event.truncatedSha}}</a>
          {{#if (eq event.id lastSuccessful)}}
            <div class="last-successful">Last successful</div>
          {{/if}}
          {{#if event.label}}<div class="label">{{event.label}}</div>{{/if}}
        {{/if}}
        {{#if event.isRunning}}
          {{#bs-button onClick=(action stopEvent) class="stopButton" title="Stop all builds for this event"}}Stop{{/bs-button}}
        {{else}}
          {{#if (eq event.type "pr")}}
            {{#bs-button onClick=(action startPRBuild event.prNum events) class="startButton" title="Start all builds for this event"}}Start{{/bs-button}}
          {{/if}}
        {{/if}}
      </div>
      <div class="date greyOut">Started {{event.createTimeExact}}</div>
      <span class="message" title={{event.commit.message}}>{{event.truncatedMessage}}</span>
      <div class="by">
        {{#if isCommiterDifferent}}
          <span>Committed by: </span>
          <a href={{event.commit.author.url}}>{{event.commit.author.name}}</a>
          <br>
          <span>Started by: </span>
          {{#if isExternalTrigger}}
            {{#if externalBuild.build_id}}
              {{#link-to "pipeline.build" externalBuild.pipeline_id externalBuild.build_id}}External Trigger{{/link-to}}
            {{else}}
              {{#link-to "pipeline" externalBuild.pipeline_id}}External Trigger{{/link-to}}
            {{/if}}
          {{else}}
            <a href={{event.creator.url}}>{{event.creator.name}}</a>
          {{/if}}
        {{else}}
          {{#if isSubscribedEvent}}
            <span>Started by subscribed event: </span>
            <a href={{event.meta.subscribedSourceUrl}}>Subscribed Source</a>
          {{else}}
            <span>Started and committed by: </span>
            <a href={{event.creator.url}}>{{event.creator.name}}</a>
          {{/if}}
        {{/if}}
      </div>
    {{else}}
      {{#if jobs.length}}
        <div class="commit" title={{jobs.0.title}}>
          <a href={{jobs.0.url}}>PR-{{jobs.0.group}}</a>
          {{#if isJobsRunning}}
            {{#bs-button onClick=(action stopPRBuilds jobs) class="stopButton" title="Stop all builds for this event"}}Stop{{/bs-button}}
          {{else}}
            {{#bs-button onClick=(action startPRBuild jobs.0.group jobs) class="startButton" title="Start all builds for this event"}}Start{{/bs-button}}
          {{/if}}
        </div>
        <span class="message" title={{jobs.0.title}}>{{jobs.0.title}}</span>
        <div class="date greyOut">Started {{jobs.0.createTimeExact}}</div>
        <div class="by">
          <a href={{jobs.0.userProfile}}>{{jobs.0.username}}</a>
        </div>
      {{/if}}
    {{/if}}
    {{#if showJobs}}
      {{#each jobs as |job|}}
        {{pipeline-pr-view job=job workflowGraph=pipelineWorkflowGraph}}
      {{/each}}
    {{/if}}
    {{#if (and (is-fulfilled event.builds) isShowGraph)}}
      <div class="workflow">
        {{workflow-graph-d3
          pipeline=pipeline
          builds=event.builds
          workflowGraph=event.workflowGraph
          startFrom=event.startFrom
          causeMessage=event.causeMessage
          minified=true
        }}
      </div>
    {{/if}}

    {{#if (get-length event.meta.parameters)}}
      {{#if isShowingModal}}
        {{#modal-dialog
          targetAttachment="center"
          translucentOverlay=true
          clickOutsideToClose=true
          onClickOverlay=(action "toggleParametersPreview")
          containerClass="detached-confirm-dialog"
        }}
          <h3>Parameters:</h3>
          {{pipeline-parameterized-build
            pipeline=pipeline
            showSubmitButton=true
            buildParameters=event.meta.parameters
            submitButtonText="Close"
            onSave=(action "toggleParametersPreview")}}
        {{/modal-dialog}}
      {{/if}}

      <div class="parameters">
        {{#if isInlineParameters}}
          <span>Parameters:</span>
          <ul>
            {{#each-in event.meta.parameters as |pName pVal|}}
              <li>
                <span class="parameter-name badge">{{pName}}</span>
                <span class="parameter-value">:{{pVal.value}}</span>
              </li>
            {{/each-in}}
          </ul>
        {{else}}
          <span>
            <button class="btn btn-primary btn-xs" type="button"
              onClick={{action "toggleParametersPreview"}}>
              Parameters...<span class="badge">{{numberOfParameters}}</span>
            </button>
          </span>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>
