<div class="view">
  <div class="status">{{fa-icon icon fixedWidth=true}}</div>
  <div class="detail">
    <div class="commit" title={{event.causeMessage}}>
      {{#if (eq event.type "pr") }}
        <a href={{event.pr.url}}>PR-{{event.prNum}}</a>
      {{else}}
        <a class={{if (eq event.id lastSuccessful) "last-successful"}} href={{event.commit.url}}>#{{event.truncatedSha}}</a>
        {{#if event.label}}<div class="label">{{event.label}}</div>{{/if}}
      {{/if}}
    </div>
    <div class="date greyOut">Started {{event.createTimeWords}}</div>
    <span class="message" title={{event.commit.message}}>{{event.truncatedMessage}}</span>
    <div class="by">
      {{#if isCommiterDifferent}}
        <span>Committed by: </span>
        <a href={{event.commit.author.url}}>{{event.commit.author.name}}</a>
        <br>
        <span>Started by: </span>
        {{#if isExternalTrigger}}
          {{#if externalBuild.build_id}}
            {{#link-to "pipeline.build" externalBuild.pipeline_id externalBuild.build_id}}External Trigger{{/link-to}}
          {{else}}
            {{#link-to "pipeline" externalBuild.pipeline_id}}External Trigger{{/link-to}}
          {{/if}}
        {{else}}
          <a href={{event.creator.url}}>{{event.creator.name}}</a>
        {{/if}}
      {{else}}
        <span>Started and committed by: </span>
        <a href={{event.creator.url}}>{{event.creator.name}}</a>
      {{/if}}
    </div>
    {{#if (and (is-fulfilled event.builds) isShowGraph)}}
      <div class="workflow">
        {{workflow-graph-d3
          builds=event.builds
          workflowGraph=event.workflowGraph
          startFrom=event.startFrom
          causeMessage=event.causeMessage
          minified=true
        }}
      </div>
    {{/if}}

    {{#if (get-length event.meta.parameters)}}
      {{#if isShowingModal}}
        {{#modal-dialog
          targetAttachment="center"
          translucentOverlay=true
          clickOutsideToClose=true
          onClickOverlay=(action "toggleParametersPreview")
          containerClass="detached-confirm-dialog"
        }}
          <h3>Parameters:</h3>
          {{pipeline-parameterized-build
            showSubmitButton=true
            buildParameters=event.meta.parameters
            submitButtonText="Close"
            onSave=(action "toggleParametersPreview")}}
        {{/modal-dialog}}
      {{/if}}

      <div class="parameters">
        {{#if isInlineParameters}}
          <span>Parameters:</span>
          <ul>
            {{#each-in event.meta.parameters as |pName pVal|}}
              <li>
                <span class="parameter-name badge">{{pName}}</span>
                <span class="parameter-value">:{{pVal.value}}</span>
              </li>
            {{/each-in}}
          </ul>
        {{else}}
          <span>
            <button class="btn btn-primary btn-xs" type="button"
              onClick={{action "toggleParametersPreview"}}>
              Parameters...<span class="badge">{{numberOfParameters}}</span>
            </button>
          </span>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>
