<div class="view">
  <div class="status">{{fa-icon icon fixedWidth=true}}</div>
  <div class="detail">
    <div class="commit" title="{{event.causeMessage}}">
      <a class="{{if (eq event.id lastSuccessful) "last-successful"}}" href="{{event.commit.url}}">#{{event.truncatedSha}}</a>
    </div>
    <div class="date greyOut">Started {{event.createTimeWords}}</div>
    <span class="message">{{event.commit.message}}</span>
    <div class="by"><a href="{{event.creator.url}}">{{event.creator.name}}</a></div>
    <div class="workflow">
      {{#if (and (is-fulfilled event.builds) event.workflowGraph)}}
        {{workflow-graph-d3
          builds=event.builds
          workflowGraph=event.workflowGraph
          startFrom=event.startFrom
          causeMessage=event.causeMessage
          minified=true
        }}
      {{/if}}
    </div>
  </div>
</div>
