<div class="view">
  <div class="status">
    <FaIcon
      @icon={{this.icon.name}}
      @fixedWidth="true"
      @prefix={{this.icon.prefix}}
      @spin={{this.icon.spin}}
      @flip={{this.icon.flip}}
    />
  </div>
  <div class="detail">
    <div class="commit" title={{this.event.causeMessage}}>
      {{#if (eq this.event.type "pr")}}
        <a href={{this.event.pr.url}}>
          PR-{{this.event.prNum}}
        </a>
      {{else}}
        <a
          class={{if (eq this.event.sha this.latestCommit.sha) "latest-commit"}}
          href={{this.event.commit.url}}
        >
          #{{this.event.truncatedSha}}
        </a>
        {{#if (eq this.event.id this.lastSuccessful)}}
          <div class="last-successful">
            Last successful
          </div>
        {{/if}}
        {{#if this.event.label}}<div class="label">{{linkify this.event.label target="_blank" rel="nofollow" urlLength=30}}</div>{{/if}}
      {{/if}}
      {{#if (and this.event.isRunning (not-eq this.event.status "UNKNOWN"))}}
        <BsButton
          @onClick={{action this.stopEvent this.event}}
          class="stopButton"
          @title="Stop all builds for this event"
        >
          Stop
        </BsButton>
      {{else}}
        {{#if (eq this.event.type "pr")}}
          <BsButton
            @onClick={{action this.startPRBuild this.event.prNum this.events}}
            class="startButton"
            @title="Start all builds for this event"
          >
            Start
          </BsButton>
        {{/if}}
      {{/if}}
    </div>
    <div class="date greyOut">
      Started {{this.startDate.content}}
    </div>
    {{#if (eq this.event.startFrom "~pr-closed")}}
      <span class="message" title={{this.event.causeMessage}}>
        {{this.event.causeMessage}}
      </span>
    {{else}}
      <span class="message" title={{this.event.commit.message}}>
      {{this.event.truncatedMessage}}
      </span>
    {{/if}}
    <div class="by">
      {{#if this.isCommitterDifferent}}
        <span>
          Committed by:
        </span>
        <a href={{this.event.commit.author.url}}>
          {{this.event.commit.author.name}}
        </a>
        <br />
        <span>
          Started by:
        </span>
        {{#if this.isExternalTrigger}}
          {{#if this.externalBuild.build_id}}
            <LinkTo
              @route="pipeline.build"
              @models={{array this.externalBuild.pipeline_id this.externalBuild.build_id}}
            >
              External Trigger
            </LinkTo>
          {{else}}
            <LinkTo @route="pipeline" @model={{this.externalBuild.pipeline_id}}>
              External Trigger
            </LinkTo>
          {{/if}}
        {{else}}
          <a href={{this.event.creator.url}} title={{this.event.creator.username}}>
            {{this.event.creator.name}}
          </a>
        {{/if}}
      {{else}}
        {{#if this.isSubscribedEvent}}
          <span>
            Started by subscribed event:
          </span>
          <a href={{this.event.meta.subscribedSourceUrl}}>
            Subscribed Source
          </a>
        {{else}}
          <span>
            Started and committed by:
          </span>
          <a href={{this.event.creator.url}} title={{this.event.creator.username}}>
            {{this.event.creator.name}}
          </a>
        {{/if}}
      {{/if}}
    </div>
    {{#if (and (is-fulfilled this.event.builds) this.isShowGraph)}}
      <div class="workflow">
        <WorkflowGraphD3
          @pipeline={{this.pipeline}}
          @selectedEventObj={{this.selectedEventObj}}
          @selectedEventObjStatus={{this.selectedEventObj.status}}
          @builds={{this.event.builds}}
          @workflowGraph={{this.event.workflowGraph}}
          @startFrom={{this.event.startFrom}}
          @causeMessage={{this.event.causeMessage}}
          @minified={{true}}
        />
      </div>
    {{/if}}

    {{#if (get-length this.event.meta.parameters)}}
      {{#if this.isShowingModal}}
        <ModalDialog
          @targetAttachment="center"
          @translucentOverlay={{true}}
          @clickOutsideToClose={{true}}
          @onClickOverlay={{action "toggleParametersPreview"}}
          @containerClass="detached-confirm-dialog"
        >
          <h3>
            Parameters:
          </h3>
          <PipelineParameterizedBuild
            @pipeline={{this.pipeline}}
            @showSubmitButton={{true}}
            @buildPipelineParameters={{this.pipelineParameters}}
            @buildJobParameters={{this.jobParameters}}
            @submitButtonText="Close"
            @onSave={{action "toggleParametersPreview"}}
          />
        </ModalDialog>
      {{/if}}

      <div class="parameters">
        {{#if this.isInlineParameters}}
          <span>
            Parameters:
          </span>
          <ul>
            {{#if (get-length this.pipelineParameters)}}
              <li>
                <span class="parameter-group badge">
                  Shared
                </span>
                <ul>
                  {{#each-in this.pipelineParameters as |pName pVal|}}
                    <li>
                      <span class="parameter-name badge">
                        {{pName}}:
                      </span>
                      <span class="parameter-value">
                        {{pVal.value}}
                      </span>
                    </li>
                  {{/each-in}}
                </ul>
              </li>
            {{/if}}
            {{#if (get-length this.jobParameters)}}
              {{#each-in this.jobParameters as |jobName parameters|}}
                <li>
                  <span class="parameter-group badge">
                    Job: {{jobName}}
                  </span>
                  <ul>
                    {{#each-in parameters as |pName pVal|}}
                      <li>
                        <span class="parameter-name badge">
                          {{pName}}:
                        </span>
                        <span class="parameter-value">
                          {{pVal.value}}
                        </span>
                      </li>
                    {{/each-in}}
                  </ul>
                </li>
              {{/each-in}}
            {{/if}}
          </ul>
        {{else}}
          <span>
            <button
              class="btn btn-primary btn-xs"
              type="button"
              onClick={{action "toggleParametersPreview"}}
            >
              Parameters...
              <span class="badge">
                {{this.numberOfParameters}}
              </span>
            </button>
          </span>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>
