<div class="col-xs-12 col-md-8">
  <section class="preference">
    <h3>User Preferences</h3>
    <ul>
      <li>
        <div class="row">
          <div class="col-xs-10">
            <p>All settings to enhance your experience.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-xs-9">
            <h4>Choose timestamp format</h4>
            <p>Choose your preferred timestamp format</p>
          </div>
          <div class="col-xs-3">
            {{#power-select
              options=timestampOptions
              renderInPlace=true
              selected=selectedTimestampFormat
              searchEnabled=false
              placeholder="Select timestamp"
              onchange=(action (mut selectedTimestampFormat))
              as |timestampFormat|}}
              {{timestampFormat.name}}
            {{/power-select}}
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-xs-12 right">
            <button {{action "resetUserSettings"}} disabled={{isDisabled}} class="reset-button{{if isSaving " saving"}}">
              <div class="saving-loading">
                Updating settings
              </div>
              <div class="button-label">{{fa-icon "refresh"}} Reset </div>
            </button>
            <button {{action "updateUserSettings"}} disabled={{isDisabled}} class="blue-button{{if isSaving " saving"}}">
              <div class="saving-loading">
                Updating settings
              </div>
              <div class="button-label">Save</div>
            </button>
            {{#if isSaving}}{{fa-icon "spinner" spin=true}}{{/if}}        
          </div>
        </div> 
      </li>
    </ul>
  </section>
</div>
