<div class="actions-cell">
  <BsButton
    @type="primary"
    @outline=true
    @value="start"
    disabled={{this.startButtonDisabled}}
    @onClick={{fn this.openConfirmActionModal "start"}}
  >
    <FaIcon
      @icon="circle-play"
      @fixedWidth="true"
      @prefix="far"
      @title={{this.startEventTitle}}
    />
  </BsButton>
  <BsButton
    @type="danger"
    @outline=true
    disabled={{this.stopButtonDisabled}}
    @onClick={{fn this.openStopBuildModal}}
  >
    <FaIcon
      @icon="circle-stop"
      @fixedWidth="true"
      @prefix="far"
      @title="Stop build"
    />
  </BsButton>
  <BsButton
    @type="primary"
    @outline=true
    @value="restart"
    disabled={{this.startButtonDisabled}}
    @onClick={{fn this.openConfirmActionModal "restart"}}
  >
    <FaIcon
      @icon="rotate-right"
      @fixedWidth="true"
      @prefix="fas"
      @title="Restart from latest build"
    />
  </BsButton>

  {{#if this.showConfirmActionModal}}
    <Pipeline::Modal::ConfirmAction
      @action={{this.confirmAction}}
      @event={{this.event}}
      @job={{@record.job}}
      @latestCommitEvent={{this.latestCommitEvent}}
      @closeModal={{this.closeConfirmActionModal}}
    />
  {{/if}}
  {{#if this.showStopBuildModal}}
    <Pipeline::Modal::StopBuild
      @buildId={{@record.build.id}}
      @closeModal={{this.closeStopBuildModal}}
    />
  {{/if}}
</div>
