<div class="actions-cell">
  <BsButton
    @type="primary"
    @outline=true
    @value="start"
    disabled={{this.startButtonDisabled}}
    @onClick={{fn this.openStartEventModal}}
  >
    <FaIcon
      @icon="circle-play"
      @fixedWidth="true"
      @prefix="far"
      @title={{this.startEventTitle}}
    />
  </BsButton>
  <BsButton
    @type="danger"
    @outline=true
    disabled={{this.stopButtonDisabled}}
    @onClick={{fn this.openStopBuildModal}}
  >
    <FaIcon
      @icon="circle-stop"
      @fixedWidth="true"
      @prefix="far"
      @title="Stop build"
    />
  </BsButton>
  <BsButton
    @type="primary"
    @outline=true
    @value="restart"
    disabled={{this.restartButtonDisabled}}
    @onClick={{fn this.openRestartJobModal}}
  >
    <FaIcon
      @icon="rotate-right"
      @fixedWidth="true"
      @prefix="fas"
      @title="Restart from latest build"
    />
  </BsButton>

  {{#if this.showStartEventModal}}
    <Pipeline::Modal::StartEvent
      @job={{@record.job}}
      @notice={{this.notice}}
      @closeModal={{this.closeStartEventModal}}
    />
  {{/if}}
  {{#if this.showStopBuildModal}}
    <Pipeline::Modal::StopBuild
      @buildId={{this.latestBuild.id}}
      @closeModal={{this.closeStopBuildModal}}
    />
  {{/if}}
  {{#if this.showRestartJobModal}}
    <Pipeline::Modal::ConfirmAction
      @event={{this.latestEvent}}
      @latestCommitEvent={{this.latestCommitEvent}}
      @job={{this.job}}
      @closeModal={{this.closeRestartJobModal}}
    />
  {{/if}}
</div>
