<div class="col-xs-12 col-md-8">
  <section class="preference">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-10">
            <h4>Display Name Length</h4>
            <p>Setup your own preferred job name length to display on the workflow graph (range: 20 - 99)</p>
          </div>
          <div class="col-xs-2 right">
            <input type="number"
              class="display-job-name"
              min={{minDisplayLength}}
              max={{maxDisplayLength}}
              placeholder={{minDisplayLength}}
              value={{desiredJobNameLength}}
              onchange={{action "updateJobNameLength" value="target.value"}}>
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>