{{page-title "Preferences"}}

<InfoMessage @message={{this.errorMessage}} @type="warning" @icon="triangle-exclamation" />
<InfoMessage @message={{this.successMessage}} @type="success" @icon="check" />
<div>
  <section class="preference">
    <ul>
      <li>
        <div class="row align-items-start">
          <div class="col-4">
            <h4>Display Name Length</h4>
            <p>Setup your own preferred job name length to display on the workflow graph (range: 20 - 99)</p>
          </div>
          <div class="col-8">
            <input
              type="number"
              class="display-job-name"
              min={{this.minDisplayLength}}
              max={{this.maxDisplayLength}}
              placeholder={{this.minDisplayLength}}
              value={{this.displayJobNameLength}}
              oninput={{action (mut this.displayJobNameLength) value="target.value"}}
            />
          </div>
        </div>
      </li>
      <li>
        <div class="row align-items-start">
          <div class="col-4">
            <h4>Timestamp format</h4>
            <p>Choose your preferred timestamp format</p>
          </div>
          <div class="col-8">
            <PowerSelect
              @options={{this.timestampOptions}}
              @renderInPlace={{true}}
              @selected={{this.selectedTimestampFormat}}
              @searchEnabled={{false}}
              @placeholder="Select timestamp"
              @onChange={{action
                (mut this.selectedTimestampFormat)
              }} as |timestampFormat|
            >
              {{timestampFormat.name}}
            </PowerSelect>
          </div>
        </div>
      </li>
      <li>
        <div class="row align-items-start">
          <div class="col-4">
            <h4>Browser Notification</h4>
            <p>Enable browser notification</p>
          </div>
          <div class="col-8">
            <div class="toggle-wrapper">
              <XToggle
                @size="small"
                @value={{this.allowNotification}}
                @onLabel="enableNotification:true"
                @offLabel="disableNotification::false"
                @onToggle={{action "requestPermission"}}
                title="Enable browser notification"
              />
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-12 right">
            <button
              disabled={{this.isDisabled}}
              class="reset-button"
              {{action "resetUserSettings"}}
            >
              <FaIcon @icon="rotate" />
              Reset
            </button>
            <button
              disabled={{this.isDisabled}}
              class="blue-button"
              {{action "updateUserSettings"}}
            >
              {{#if this.isSaving}}
                <div>
                  Updating settings
                </div>
              {{else}}
                <div class="button-label">
                  Save
                </div>
              {{/if}}
            </button>
            {{#if this.isSaving}}
              <FaIcon @icon="spinner" @spin="true" />
            {{/if}}
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>
