<tr class={{this.styleNamespace}} ...attributes>
  <td class="name">{{this.secret.name}}</td>
  <td class="pass">{{input type="password" placeholder=this.passwordPlaceholder size="40" value=this.newValue}}{{fa-icon "eye" class="toggle-icon" click=(action "togglePasswordInput")}}</td>
  <td class="allow">{{input type="checkbox" checked=this.secret.allowInPR}}</td>
  <td><button class={{this.buttonAction}} type="button" {{action "modifySecret"}}>{{this.buttonAction}}</button></td>
  {{#if this.secretToRemove}}
    {{#if this.isRemoving}}
      <ModalDialog @clickOutsideToClose="false" @targetAttachment="center" @translucentOverlay={{true}}>
        <LoadingView/>
      </ModalDialog>
    {{else}}
      <BsModal @onSubmit={{action "removeSecret"}} @onHide={{action "cancelRemovingSecret"}} as |modal|>
        <modal.header>
          <h4>Are you sure?</h4>
        </modal.header>
        <modal.body>
          {{fa-icon "exclamation-triangle" pull="left" size=3}}
          You're about to delete a secret <strong>{{this.secret.name}}</strong>. There might be existing jobs using this secret.
        </modal.body>
        <modal.footer>
          <BsButton @onClick={{action "cancelRemovingSecret"}}>Cancel</BsButton>
          <BsButton @onClick={{action "removeSecret"}} @type="danger">{{fa-icon "trash"}} Confirm</BsButton>
        </modal.footer>
      </BsModal>
    {{/if}}
  {{/if}}
</tr>