<td class="name">{{secret.name}}</td>
<td class="pass">{{input type="password" placeholder=passwordPlaceholder size="40" value=newValue}}</td>
<td class="allow">{{input type="checkbox" checked=secret.allowInPR}}</td>
<td><button {{action "modifySecret"}}>{{buttonAction}}</button></td>
