<InfoMessage
  @message={{this.errorMessage}}
  @type="warning"
  @icon="triangle-exclamation"
/>
<h3>
  Secrets
  <a href="http://docs.screwdriver.cd/user-guide/configuration/secrets">
    <FaIcon @icon="circle-question" @title="More information" />
  </a>
</h3>
<p>
  {{#if this.pipeline.configPipelineId}}
    Secrets are inherited from the
    <LinkTo @route="pipeline.secrets" @model={{this.pipeline.configPipelineId}}>parent pipeline</LinkTo>. You may override a secret or revert it back to its original value.
  {{else}}
    User secrets must also be added to the Screwdriver YAML.
  {{/if}}
</p>
{{! template-lint-disable table-groups }}
<table class="secrets">
  <thead>
    <tr>
      <th>
        Key
      </th>
      <th>
        Value
      </th>
      <th colspan="2">
        Allow in PR
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each this.sortedSecrets as |secret|}}
      <SecretView
        @secret={{secret}}
        @secrets={{this.secrets}}
        @pipeline={{this.pipeline}}
        @onCreateSecret={{this.onCreateSecret}}
      />
    {{/each}}
  </tbody>
  {{#unless this.pipeline.configPipelineId}}
    <tfoot>
      <tr class="new">
        <td class="key">
          <Input
            placeholder="SECRET_KEY"
            size="40"
            @value={{this.newName}}
            @title="Secret keys can only consist of numbers, uppercase letters and underscores, and cannot begin with a number."
          />
        </td>
        <td class="pass">
          <Input
            @type={{if this.eyeSlash "text" "password"}}
            placeholder="SECRET_VALUE"
            size="40"
            @value={{this.newValue}}
          />
          <span onclick={{action "togglePasswordInput"}}>
            <FaIcon
              @icon={{if this.eyeSlash "eye-slash" "eye"}}
              class="toggle-icon"
            />
          </span>
        </td>
        <td class="allow">
          <div title="Check to allow this secret to be used in pull-requests">
            <Input @type="checkbox" @checked={{this.newAllow}} />
          </div>
        </td>
        <td>
          <button
            class="add"
            disabled={{this.isButtonDisabled}}
            {{action "addNewSecret"}}
          >
            Add
          </button>
        </td>
      </tr>
    </tfoot>
  {{/unless}}
</table>

{{yield}}
