{{info-message message=errorMessage type="warning" icon="exclamation-triangle"}}
<h3>
  Secrets
  <a href="http://docs.screwdriver.cd/user-guide/configuration/secrets">
    <i class="fa fa-question-circle" title="More information"></i>
  </a>
</h3>
<p>
  User secrets must also be added to the Screwdriver YAML.
</p>
<table class="secrets">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th colspan="2">Allow in PR</th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedSecrets as |secret|}}
    {{secret-view secret=secret}}
    {{/each}}
  </tbody>
  <tfoot>
    <tr class="new">
      <td class="key">{{input placeholder="SECRET_KEY" size="40" value=newName title="Secret keys can only consist of numbers, uppercase letters and underscores, and cannot begin with a number."}}</td>
      <td class="pass">{{input type="password" placeholder="SECRET_VALUE" size="40" value=newValue}}</td>
      <td class="allow"><div title="Check to allow this secret to be used in pull-requests">{{input type="checkbox" checked=newAllow}}</div></td>
      <td><button disabled={{isButtonDisabled}} {{action "addNewSecret"}}>Add</button></td>
    </tr>
  </tfoot>
</table>

{{yield}}
