<InfoMessage
  @message={{errorMessage}}
  @type="warning"
  @icon="exclamation-triangle"
/>
<h3>
  Secrets
  <a href="http://docs.screwdriver.cd/user-guide/configuration/secrets">
    <FaIcon @icon="question-circle" @title="More information" />
  </a>
</h3>
<p>
  {{#if pipeline.configPipelineId}}
    Secrets are inherited from the
    <LinkTo @route="pipeline.secrets" @model={{pipeline.configPipelineId}}>
      parent pipeline</LinkTo>. You may override a secret or revert it back to its original value.
  {{else}}
    User secrets must also be added to the Screwdriver YAML.
  {{/if}}
</p>
{{! template-lint-disable table-groups }}
<table class="secrets">
  <thead>
    <tr>
      <th>
        Key
      </th>
      <th>
        Value
      </th>
      <th colspan="2">
        Allow in PR
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedSecrets as |secret|}}
      <SecretView
        @secret={{secret}}
        @secrets={{secrets}}
        @pipeline={{pipeline}}
        @onCreateSecret={{onCreateSecret}}
      />
    {{/each}}
  </tbody>
  {{#unless pipeline.configPipelineId}}
    <tfoot>
      <tr class="new">
        <td class="key">
          <Input
            placeholder="SECRET_KEY"
            @size="40"
            @value={{newName}}
            @title="Secret keys can only consist of numbers, uppercase letters and underscores, and cannot begin with a number."
          />
        </td>
        <td class="pass">
          <Input
            @type={{if eyeSlash "text" "password"}}
            placeholder="SECRET_VALUE"
            @size="40"
            @value={{newValue}}
          />
          <span onclick={{action "togglePasswordInput"}}>
            <FaIcon
              @icon={{if eyeSlash "eye-slash" "eye"}}
              class="toggle-icon"
            />
          </span>
        </td>
        <td class="allow">
          <div title="Check to allow this secret to be used in pull-requests">
            <Input @type="checkbox" @checked={{newAllow}} />
          </div>
        </td>
        <td>
          <button
            class="add"
            disabled={{isButtonDisabled}}
            {{action "addNewSecret"}}
          >
            Add
          </button>
        </td>
      </tr>
    </tfoot>
  {{/unless}}
</table>

{{yield}}