<div
  class="secrets-container"
 {{did-update this.updatePipelineSecrets @pipelineId}}
>
  {{#if this.errorMessage}}
    <InfoMessage
      id="error-message"
      @message={{this.errorMessage}}
      @type="warning"
      @icon="triangle-exclamation"
    />
  {{/if}}

  <div class="secrets-header">
    <div class="secrets-header-text">
      <div class="secrets-header-title">
        Pipeline Secrets
          <a
            href="http://docs.screwdriver.cd/user-guide/configuration/secrets"
            target="_blank"
          >
            <FaIcon
              @icon="circle-info"
            />
          </a>
      </div>
      <div class="secrets-explanation">
        <div>
          Secrets must also be added to the Screwdriver YAML.
        </div>
        {{#if this.parentPipelineId}}
          <div>
            <LinkTo
              @route="v2.pipeline.secrets"
              @model={{this.parentPipelineId}}
            >
              Inherited secrets
            </LinkTo>
            can be overridden or reverted to its inherited value.
          </div>
        {{/if}}
      </div>
    </div>

    <div class="new-secret">
      <BsButton
        @type="primary"
        @onClick={{this.showCreateSecretModal}}
        disabled={{this.isCreateSecretButtonDisabled}}
      >
        New Secret
        {{#if this.isCreateSecretModalOpen}}
          <Pipeline::SecretsAndTokens::Secrets::Modal::Create
            @closeModal={{this.closeCreateSecretModal}}
          />
        {{/if}}
      </BsButton>
    </div>
  </div>

  <div id="secrets-table">
    <Pipeline::SecretsAndTokens::Secrets::Table
      @pipelineId={{this.pipelineId}}
      @secrets={{this.secrets}}
    />
  </div>
</div>
