<BsModal
  id="delete-secret-modal"
  @onHide={{fn @closeModal}}
  as |modal|
>
  <modal.header>
    Delete secret {{@secret.name}}
  </modal.header>
  <modal.body>
    {{#if this.errorMessage}}
      <InfoMessage
        id="error-message"
        @message={{this.errorMessage}}
        @type="warning"
        @icon="triangle-exclamation"
      />
    {{/if}}

    <div class="delete-secret-message">
      <div class="delete-secret-message-warning">
        <FaIcon @icon="triangle-exclamation" />
        <b>Deleting this secret is permanent!</b>
      </div>
      <br />
      <div>
        If you are sure you want to delete this secret, enter the name of the secret (<b>{{@secret.name}}</b>) below
      </div>
    </div>
    <Input
      @type="text"
      @value={{this.secretName}}
      autofocus={{true}}
    />
  </modal.body>
  <modal.footer>
    <BsButton
      id="submit-delete"
      class="confirm"
      disabled={{this.isSubmitButtonDisabled}}
      @defaultText="Delete secret"
      @pendingText="Deleting secret..."
      @type="primary"
      @onClick={{fn this.deleteSecret}}
    />
  </modal.footer>
</BsModal>
