<BsModal
  id="delete-secret-modal"
  @onHide={{fn @closeModal}}
  as |modal|
>
  <modal.header>
    {{this.modalHeader}}
  </modal.header>
  <modal.body>
    {{#if this.errorMessage}}
      <InfoMessage
        id="error-message"
        @message={{this.errorMessage}}
        @type="warning"
        @icon="triangle-exclamation"
      />
    {{/if}}

    <div class="delete-secret-message">
      <div class="delete-secret-message-warning">
        <FaIcon @icon="triangle-exclamation" />
        <b>{{this.deleteSecretNote}}</b>
      </div>
      <br />
      <div>
        If you are sure you want to
        {{#if @secret.overridden}}
          revert
        {{else}}
          delete
        {{/if}}
        this secret, enter the name of the secret (<b>{{@secret.name}}</b>) below
      </div>
    </div>
    <Input
      @type="text"
      @value={{this.secretName}}
      autofocus={{true}}
    />
  </modal.body>
  <modal.footer>
    <BsButton
      id="submit-delete"
      class="confirm"
      disabled={{this.isSubmitButtonDisabled}}
      @defaultText={{this.buttonDefaultText}}
      @pendingText={{this.buttonPendingText}}
      @type="primary"
      @onClick={{fn this.deleteSecret}}
    />
  </modal.footer>
</BsModal>
