<article class="command">
  <header>
    {{#link-to "commands.detail" command.namespace command.name}}<h4>{{headerTitle}}</h4>{{/link-to}}
  </header>
  <p class="description">
    {{command.description}}
  </p>
  <ul>
    <li>Released by: <a href="mailto:{{command.maintainer}}">{{command.maintainer}}</a></li>
    {{#if command.lastUpdated}}<li>Last publish: {{command.lastUpdated}}</li>{{/if}}
  </ul>
</article>
