<article class="command">
  <header>
  <h4> {{#link-to "commands.namespace" command.namespace}}<span class="namespace">{{command.namespace}}</span>{{/link-to}}/{{#link-to "commands.detail" command.namespace command.name}}<span class="name">{{command.name}}</span>{{/link-to}}</h4>
  </header>
  <p class="description">
    {{command.description}}
  </p>
  <ul>
    <li>Released by: <a href="mailto:{{command.maintainer}}">{{command.maintainer}}</a></li>
    {{#if command.lastUpdated}}<li>Last published: {{command.lastUpdated}}</li>{{/if}}
  </ul>
</article>
