{{app-header
  currentUrl=this.currentUrl
  scmContexts=this.scmContexts
  session=this.session
  showCreatePipeline=this.showCreatePipeline
  authenticate=(action "authenticate")
  onInvalidate=(action "invalidateSession")
  searchPipelines=(action "search")
}}
{{this.nav-banner}}

<div id="appContainer" class="container-fluid">
  {{outlet}}
</div>

{{#if this.showCreatePipeline}}
  {{create-pipeline
    showCreatePipeline=this.showCreatePipeline}}
{{/if}}

{{this.feedback}}
