<BsModal
  id="toggle-job-modal"
  @onHide={{fn @closeModal}}
  as |modal|
>
  <modal.header>
    <div class="modal-title">
      {{@toggleAction}} the "{{truncate @name 30}}" job?
    </div>
  </modal.header>
  <modal.body>
    {{#if this.errorMessage}}
      <InfoMessage
        @message={{this.errorMessage}}
        @type="warning"
        @icon="triangle-exclamation"
        @dismissible={{false}}
      />
    {{/if}}
    {{#if this.successMessage}}
      <InfoMessage
        @message={{this.successMessage}}
        @type="success"
        @icon="circle-check"
        @dismissible={{false}}
      />
    {{/if}}
    <label>
      Reason
      <Input
        @value={{this.stateChangeMessage}}
        autofocus="autofocus"
        placeholder="Reason for the job state change (optional)"
      />
    </label>
  </modal.body>
  <modal.footer>
    <BsButton
      id="submit-action"
      @type="primary"
      @defaultText="Save"
      @pendingText="Saving"
      @fulfilledText="Saved"
      @onClick={{fn this.updateJob}}
      disabled={{this.isDisabled}}
    />
  </modal.footer>
</BsModal>
