<BsModal
  id="toggle-job-modal"
  @onHide={{fn @closeModal}}
  as |modal|
>
  <modal.header>
    <div class="modal-title">
      {{this.modalTitle}}
    </div>
  </modal.header>
  <modal.body>
    {{#if this.errorMessage}}
      <InfoMessage
        id="toggle-job-modal-error"
        @message={{this.errorMessage}}
        @type="warning"
        @icon="triangle-exclamation"
        @dismissible={{false}}
      />
    {{/if}}

    <div class="toggle-jobs-list">
      {{this.jobNames}}
    </div>
    <label>
      Reason
      <Input
        @value={{this.stateChangeMessage}}
        autofocus="autofocus"
        placeholder="Reason for the job state change (optional)"
      />
    </label>
  </modal.body>
  <modal.footer>
    <BsButton
      id="submit-action"
      @type="primary"
      @defaultText={{this.toggleAction}}
      @pendingText={{this.pendingActionText}}
      @onClick={{fn this.updateJob}}
      disabled={{this.isDisabled}}
    />
  </modal.footer>
</BsModal>
