<div class="pure-g">
  <div class="pure-u-1-5">
    <h6>{{#link-to "pipeline.builds.build" commit.id}}#{{truncatedSha}}{{/link-to}}</h6>
  </div>
  <div class="pure-u-3-5">
    <span class="cause">{{commit.cause}}</span>
  </div>
  <div class="pure-u-1-5 right">
    <span class="created" title="{{commit.createTime}}">{{commit.createTimeWords}}</span>
  </div>
  <div class="pure-u-1-5">
  </div>
  <div class="pure-u-3-5 workflow">
    {{#each workflow as |job|}}
      {{build-bubble jobName=job.name jobIsDisabled=job.isDisabled build=job.build small=true}}
    {{/each}}
  </div>
  <div class="pure-u-1-5 right">
    <span class="duration">{{commit.buildDuration}}</span>
  </div>
</div>

{{yield}}