<div class="pure-g">
  <div class="pure-u-1-5">
    <h6>{{#link-to "build" build.id}}{{truncatedSha}}{{/link-to}}</h6>
  </div>
  <div class="pure-u-1-5">
    <span class="job">{{jobName}}</span>
  </div>
  <div class="pure-u-2-5">
    <span class="cause">{{build.cause}}</span>
  </div>
  <div class="pure-u-1-5">
    <span class="created">Started: {{moment-from-now build.createTime}}</span>
  </div>
  <div class="pure-u-1-1">
    <span class="duration">Duration: {{moment-duration build.buildDuration}}</span>
  </div>
</div>

{{yield}}
