<h4>
  Artifacts
</h4>
<EmberJstree
  @data={{treedata.content}}
  @plugins={{plugins}}
  @typesOptions={{typesOptions}}
  @actionReceiver={{jstreeActionReceiver}}
  @eventDidRedraw={{action "handleJstreeEventDidRedraw"}}
  @eventDidChange={{action "handleJstreeEventDidChange"}}
/>
{{#unless treedata.content.length}}
  <span>
    No artifacts yet
  </span>
{{/unless}}