<h4>
  Artifacts
</h4>
{{#if this.treedata.content.length}}
  <BasicTree
    @contentComponent={{component "artifact-tree-content" iframeUrl=this.iframeUrl}}
    @childrenComponent={{component "artifact-tree-children"}} as |tree|
  >
    <tree.Node
      @directory={{this.treedata.content}}
      @isExpandable={{true}}
      @isExpanded={{true}}
      @childrenComponent={{component "artifact-tree-children" selectedArtifactRelative=this.selectedArtifact parentAbsolutePath='' fileName=''}}
    />
  </BasicTree>
{{/if}}

{{#unless this.treedata.content.length}}
  <span>
    No artifacts yet
  </span>
{{/unless}}
