<ModelsTable
  class="tokens-table"
  @data={{this.data}}
  @columns={{this.columns}}
  @columnComponents={{hash
    lastUsedCell=(component "tokens/table/cell/last-used")
    actionsCell=(component "tokens/table/cell/actions")
  }}
  @themeInstance={{this.theme}}
  @onDisplayDataChanged={{this.onDisplayDataChanged}}

  {{did-insert this.initialize}}
  {{did-update this.updateTokens @tokens}}

  as |MT|
>
  <div class="table-main">
    <MT.Table />
  </div>

  <div class="table-footer">
    <MT.Summary
      class="entry-summary"
      as |Summary|
    >
      {{Summary.summary}}
    </MT.Summary>

    <MT.PageSizeSelect class="select-pagination-size"/>

    <MT.PaginationSimple class="pagination-controls" as |PS|>
      <div class="page-navigation">
        <BsButton
          disabled={{if PS.goToBackEnabled false true}}
          @onClick={{fn PS.goToFirst}}
        >
          <FaIcon @icon="angle-double-left"/>
        </BsButton>
        <BsButton
          disabled={{if PS.goToBackEnabled false true}}
          @onClick={{fn PS.goToPrev}}
        >
          <FaIcon @icon="angle-left"/>
        </BsButton>
        <BsButton
          disabled={{if PS.goToForwardEnabled false true}}
          @onClick={{fn PS.goToNext}}
        >
          <FaIcon @icon="angle-right"/>
        </BsButton>
        <BsButton
          disabled={{if PS.goToForwardEnabled false true}}
          @onClick={{fn PS.goToLast}}
        >
          <FaIcon @icon="angle-double-right"/>
        </BsButton>
      </div>

      <div class="page-select">
        <label class="input-group-text">Page:</label>
        <PS.PageNumberSelect/>
      </div>
    </MT.PaginationSimple>
  </div>
</ModelsTable>
