{{page-title "Show"}}

<!-- TODO: if there are no events, then we don't need to display the below -->
<div class="pipeline-events">
  <div class="search-filter-bar">

    <span class="search-filter">
      <span class="search">
        {{svg-jar "search" class="img"}}
      </span>
      <span class="filter">
        <FaIcon @icon="filter" />
      </span>
    </span>

    <span class="new-event">
      <BsButton
        id="start-event"
        @type="primary"
        @outline={{true}}
        @defaultText="Start a new event"
        @onClick={{this.openStartEventModal}}
      />
    </span>
  </div>

  <div class="event-cards">
  </div>
</div>

<div class="pipeline-workflow-graph">
  <div id="pipeline-workflow-graph-controls">
    <div
      class="button-container"
      title="Toggle to {{if this.showDownstreamTriggers "hide" "show"}} the downstream trigger nodes."
    >
      <XToggle
        @size="medium"
        @theme="material"
        @showLabels={{true}}
        @value={{this.showDownstreamTriggers}}
        @offLabel="Hide triggers"
        @onLabel="Show triggers"
        @onToggle={{fn this.toggleShowDownstreamTriggers}}
      />
    </div>
  </div>

  <div id="workflow-graph-container">
    {{#if this.showDownstreamTriggers}}
      <Pipeline::Workflow::Graph
        @workflowGraph={{this.workflowGraphWithDownstreamTriggers}}
        @event={{this.model.event}}
        @jobs={{this.model.jobs}}
        @builds={{this.model.builds}}
        @stages={{this.model.stages}}
        @chainPr={{this.model.pipeline.prChain}}
        @displayJobNameLength={{this.displayJobNameLength}}
        @setShowTooltip={{this.setShowTooltip}}
        @displayStageTooltip={{true}}
        @setShowStageTooltip={{this.setShowStageTooltip}}
      />
    {{else}}
      <Pipeline::Workflow::Graph
        @workflowGraph={{this.workflowGraph}}
        @event={{this.model.event}}
        @jobs={{this.model.jobs}}
        @builds={{this.model.builds}}
        @stages={{this.model.stages}}
        @chainPr={{this.model.pipeline.prChain}}
        @displayJobNameLength={{this.displayJobNameLength}}
        @setShowTooltip={{this.setShowTooltip}}
        @displayStageTooltip={{true}}
        @setShowStageTooltip={{this.setShowStageTooltip}}
      />
    {{/if}}

    {{#if this.showTooltip}}
      <Pipeline::Workflow::Tooltip
        @d3Data={{this.d3Data}}
        @event={{this.model.event}}
        @jobs={{this.model.jobs}}
        @builds={{this.model.builds}}
        @workflowGraph={{this.workflowGraph}}
        @pipeline={{this.model.pipeline}}
        @latestCommitEvent={{this.model.latestCommitEvent}}
      />
    {{/if}}
    {{#if this.showStageTooltip}}
      <Pipeline::Workflow::Tooltip::Stage
        @d3Data={{this.d3Data}}
        @event={{this.model.event}}
        @jobs={{this.model.jobs}}
        @builds={{this.model.builds}}
        @workflowGraph={{this.workflowGraph}}
        @pipeline={{this.model.pipeline}}
        @latestCommitEvent={{this.model.latestCommitEvent}}
      />
    {{/if}}
  </div>
</div>

{{#if this.showStartEventModal}}
  <Pipeline::Modal::StartEvent
    @pipeline={{this.model.pipeline}}
    @jobs={{this.model.jobs}}
    @closeModal={{this.closeStartEventModal}}
  />
{{/if}}
