{{#if (await this.hasPipelines)}}

<h3>Usage for {{this.template.version}}</h3>

{{#if (await this.data)}}
<ModelsTable
  @data={{await this.data}}
  @columns={{this.columns}}
  @themeInstance={{this.theme}}
  @showComponentFooter={{false}}
  @showColumnsDropdown={{false}}
  @useFilteringByColumns={{false}}
  @showGlobalFilter={{false}}
  @multipleColumnsSorting={{false}}
  @showCurrentPageNumberSelect={{false}}
  @pageSize={{get (await this.data) 'length'}}
/>
{{/if}}

{{else}}
<h3>No pipelines using {{this.template.version}}</h3>
{{/if}}