<div class="job-cell">
  {{#if this.build}}
    <LinkTo @route="pipeline.build" @models={{array this.pipeline this.build}}>
      <FaIcon
        @icon={{this.build.icon.name}}
        @fixedWidth="true"
        @prefix={{this.build.icon.prefix}}
        @spin={{this.build.icon.spin}}
        @flip={{this.build.icon.flip}}
        class={{this.build.status}}
      />
    </LinkTo>
  {{else}}
    <span class="fa"></span>
  {{/if}}
  <div class="job-name">
    <BsTooltip @placement="bottom">
      {{this.record.job.jobName}}
    </BsTooltip>
    {{this.jobName}}
  </div>
</div>