<div class="job-cell">
  {{#if build}}
    <LinkTo @route="pipeline.build" @model={{build.id}}>
      <FaIcon
        @icon={{build.icon.name}}
        @fixedWidth=true
        @prefix={{build.icon.prefix}}
        @spin={{build.icon.spin}}
        @flip={{build.icon.flip}}
        class={{build.status}}
      />

    </LinkTo>
  {{else}}
    <span class="fa"></span>
  {{/if}}
  <div class="job-name">
    {{jobName}}
  </div>
</div>