<div
  class="event-card{{if this.isHighlighted " highlighted"}}{{if this.isOutlined " outlined"}}{{if this.hideCard " filtered"}}"
  title={{this.title}}
  {{did-insert this.initialize}}
  {{did-update this.update @event}}
  {{on "click" this.goToEvent}}
>
  <div class="event-card-title">
    <div class="event-status {{this.aggregateStatus}}">
      <FaIcon
        @icon={{this.icon.name}}
        @fixedWidth="true"
        @prefix={{this.icon.prefix}}
        @spin={{this.icon.spin}}
        @flip={{this.icon.flip}}
      />
    </div>
    {{#if this.isPR}}
      <div class="pr-title" title={{this.prTitle}}>
        <a
          href={{@event.pr.url}}
          target="_blank"
        >
          {{this.prTitle}}
        </a>
      </div>
    {{/if}}
    <div class="sha" title={{this.truncatedSha}}>
      <a
        class={{if this.isLatestCommit "latest-commit"}}
        href={{@event.commit.url}}
        target="_blank"
      >
        {{this.truncatedSha}}
      </a>
    </div>
    {{#if (and this.isLastSuccessfulEvent (not this.isPR))}}
      <div class="last-successful">
        Last successful
      </div>
    {{/if}}
    {{#if (eq this.status "RUNNING")}}
      {{#if @allowEventAction}}
        <BsButton
          class="abort-event-button"
          @type="danger"
          @outline={{true}}
          @onClick={{fn this.openAbortBuildModal}}
          title="Abort event"
        >
          <FaIcon
            @icon="circle-stop"
            @fixedWidth="true"
            @prefix="far"
          />
          {{#if this.showAbortBuildModal}}
            <Pipeline::Modal::StopBuild
              @eventId={{@event.id}}
              @closeModal={{this.closeAbortBuildModal}}
            />
          {{/if}}
        </BsButton>
      {{/if}}
    {{else}}
      {{#if (and @allowEventAction this.isPR)}}
        <BsButton
          class="start-event-button"
          @type="primary"
          @outline={{true}}
          @onClick={{fn this.openStartEventModal}}
          title="Start PR event"
        >
          <FaIcon
            @icon="play-circle"
            @fixedWidth="true"
            @prefix="far"
          />
          {{#if this.showStartEventModal}}
            <Pipeline::Modal::ConfirmAction
              @action="start"
              @event={{@event}}
              @closeModal={{this.closeStartEventModal}}
            />
          {{/if}}
        </BsButton>
      {{/if}}
    {{/if}}
  </div>

  <div class="event-card-body">

    {{#if (starts-with this.event.startFrom "~pr-closed")}}
      <div class="message" title={{this.event.causeMessage}}>
        {{this.event.causeMessage}}
      </div>
    {{else}}
    <div class="message" title={{@event.commit.message}}>
      {{this.truncatedMessage}}
    </div>
    {{/if}}

    {{#if this.eventLabel}}
      <div class="label">
        <div class="label-contents" title={{this.eventLabel}}>
          {{linkify this.eventLabel target="_blank" rel="nofollow" urlLength=30}}
        </div>
      </div>
    {{/if}}

    <div class="by">
      {{#if this.isCommitterDifferent}}
        <div>
          Committed by:
          <a
            href={{@event.commit.author.url}}
            target="_blank"
          >
            {{@event.commit.author.name}}
          </a>
        </div>
        <div>
          Started by:
          {{#if this.isExternalTrigger}}
            <LinkTo
              @route="v2.pipeline"
              @model={{this.externalPipelineId}}
            >
              External Trigger
            </LinkTo>
          {{else}}
            <a
              href={{@event.creator.url}}
              target="_blank"
            >
              {{@event.creator.name}}
            </a>
          {{/if}}
        </div>
      {{else}}
        {{#if @event.meta.subscribedSourceUrl}}
          <div>
            Started by subscribed event:
            <a
              href={{@event.meta.subscribedSourceUrl}}
              target="_blank"
            >
              Subscribed Source
            </a>
          </div>
        {{else}}
          <div>
            Started and committed by:
            <a
              href={{@event.creator.url}}
              target="_blank"
            >
              {{@event.creator.name}}
            </a>
          </div>
        {{/if}}
      {{/if}}
    </div>

    <div class="time">
      <div>
        Started {{this.startDate}}
      </div>
      <div>
        Duration: {{this.durationText}}
      </div>
    </div>
  </div>

  <div class="event-card-footer">
    <div class="counts">
      {{#if this.failureCount}}
        <div class="count">
          <div class="failures">
            <FaIcon @icon="circle-xmark" @fixedWidth="true"/>
          </div>
          <div>
            {{this.failureCount}}
          </div>
        </div>
      {{/if}}
      {{#if this.warningCount}}
        <div class="count">
          <div class="warnings">
            <FaIcon @icon="circle-exclamation" @fixedWidth="true"/>
          </div>
          <div>
            {{this.warningCount}}
          </div>
        </div>
      {{/if}}
      {{#if this.successCount}}
        <div class="count">
          <div class="successes">
            <FaIcon @icon="circle-check" @fixedWidth="true"/>
          </div>
          <div>
            {{this.successCount}}
          </div>
        </div>
      {{/if}}
    </div>

    <div class="event-buttons">
      {{#if @event.meta.parameters}}
        {{#if @showParameters}}
          <BsButton
            class="parameters-button"
            @type="primary"
            @outline={{true}}
            @onClick={{fn this.openParametersModal}}
            title="View configured parameters"
          >
            <FaIcon
              @icon="gear"
              @fixedWidth="true"
              @prefix="fa"
            />

            {{#if this.showParametersModal}}
              <Pipeline::Modal::ShowParameters
                @event={{@event}}
                @closeModal={{this.closeParametersModal}}
              />
            {{/if}}
          </BsButton>
        {{/if}}
      {{/if}}

      {{#if @showEventGroup}}
        <BsButton
          class="event-group-button"
          @type="primary"
          @outline={{true}}
          @onClick={{fn this.openEventHistoryModal}}
          title={{this.groupHistoryButtonTitle}}
        >
          <FaIcon
            @icon="history"
            @fixedWidth="true"
            @prefix="fa"
          />
          {{#if this.showEventHistoryModal}}
            <Pipeline::Modal::EventGroupHistory
              @pipeline={{@pipeline}}
              @event={{@event}}
              @isPR={{this.isPR}}
              @closeModal={{this.closeEventHistoryModal}}
              @lastSuccessfulEvent={{this.args.lastSuccessfulEvent}}
            />
          {{/if}}
        </BsButton>
      {{/if}}
    </div>
  </div>
</div>
