<div>
  {{#each this.crumbs as |crumb index|}}
    {{#if (eq index 0)}}
      <LinkTo @route={{crumb.route}} class="link" >
        {{crumb.name}}
      </LinkTo>
    {{else}}
      {{#if (eq crumb this.crumbs.lastObject)}}
        / {{crumb.name}}
      {{else}}
        /
        <LinkTo @route={{crumb.route}} @model={{crumb.name}} class="link" >
          {{crumb.name}}
        </LinkTo>
      {{/if}}
    {{/if}}
  {{/each}}
</div>
