{{#if this.session.isAuthenticated}}
  {{#if (not this.session.data.authenticated.isGuest)}}
    <PipelineNav @pipeline={{this.pipeline}} />
  {{/if}}
{{/if}}

<div class="pipeline-message">
  {{#if this.errorMessage}}
    <InfoMessage
      @message={{this.errorMessage}}
      @type="warning"
      @icon="triangle-exclamation"
      @scmContext={{this.pipeline.scmContext}}
    />
  {{/if}}

  {{#if this.isInactivePipeline}}
    <InfoMessage
      @message="Pipeline is inactive and no new events can be started. You can activate the pipeline by adding the SCM URL in the parent pipeline yaml configuration."
      @type="info"
      @icon="triangle-exclamation"
    />
  {{/if}}

  {{#unless this.hasAdmins}}
    <BsAlert @type="warning" @dismissible={{false}}>
      <p>
        This repo has no admins, click
        <span class="text-info" onclick={{action "syncAdmins"}}>
          here
        </span>
        to sync from git repo, you must be an admin to do so.
      </p>
    </BsAlert>
  {{/unless}}

  {{#if (eq this.syncAdmins "success")}}
    <BsAlert @type="success">
      <p>
        Good job, pipeline's admins are in sync
      </p>
    </BsAlert>
  {{/if}}

  {{#if (eq this.syncAdmins "failure")}}
    <BsAlert @type="danger">
      <p>
        Something went wrong, please try syncing again
      </p>
    </BsAlert>
  {{/if}}
</div>

<div class="pipeline-event-container separator">
  <PipelineGraphNav
    @pipeline={{this.pipeline}}
    @mostRecent={{this.mostRecent}}
    @latestCommit={{this.latestCommit}}
    @lastSuccessful={{this.lastSuccessful}}
    @graphType={{this.currentEventType}}
    @selectedEvent={{this.selectedEvent}}
    @selectedEventObj={{this.selectedEventObj}}
    @selected={{this.selected}}
    @showListView={{this.showListView}}
    @showDownstreamTriggers={{this.showDownstreamTriggers}}
    @setDownstreamTrigger={{action "setDownstreamTrigger"}}
    @startMainBuild={{action "startMainBuild"}}
    @startPRBuild={{action "startPRBuild"}}
    @prGroups={{this.pullRequestGroups}}
    @stopEvent={{action "stopEvent"}}
    @setShowListView={{action "setShowListView"}}
  />

  <PipelineWorkflow
    @jobId={{this.jobId}}
    @pipeline={{this.pipeline}}
    @latestCommit={{this.latestCommit}}
    @showDownstreamTriggers={{this.showDownstreamTriggers}}
    @showPRJobs={{this.showPRJobs}}
    @completeWorkflowGraph={{this.completeWorkflowGraph}}
    @workflowGraph={{this.pipeline.workflowGraph}}
    @jobs={{this.jobs}}
    @prJobs={{this.prJobs}}
    @selectedEventObj={{this.selectedEventObj}}
    @selected={{this.selected}}
    @startDetachedBuild={{action "startDetachedBuild"}}
    @stopBuild={{action "stopBuild"}}
    @setJobState={{action "setJobState"}}
    @authenticated={{this.session.isAuthenticated}}
    @prChainEnabled={{this.prChainEnabled}}
    @stages={{this.stages}}
    @activeTab={{this.activeTab}}
  />
</div>
<div
  class="events-sidebar column-tabs-view {{if this.showListView "disabled"}}"
>
  <BsTab @customTabs={{true}} as |tab|>
    <BsNav @type="tabs" as |nav|>
      <nav.item @active={{bs-eq this.activeTab "events"}}>
        {{#nav.link-to "pipeline.events" class="nav-link"}}
          Events
        {{/nav.link-to}}
      </nav.item>
      <nav.item @active={{bs-eq this.activeTab "pulls"}}>
        {{#nav.link-to "pipeline.pulls" class="nav-link"}}
          Pull Requests
        {{/nav.link-to}}
      </nav.item>
    </BsNav>
  </BsTab>
  <div
    class="tab-content"
    onScroll={{action "onEventListScroll"}}
  >
    {{#if (eq this.activeTab "events")}}
        <PipelineEventsList
          @pipeline={{this.pipeline}}
          @expandedEventsGroup={{this.expandedEventsGroup}}
          @events={{this.events}}
          @selected={{mut this.selected}}
          @selectedEvent={{this.selectedEvent}}
          @selectedEventObj={{this.selectedEventObj}}
          @latestCommit={{this.latestCommit}}
          @lastSuccessful={{this.lastSuccessful}}
          @mostRecent={{this.mostRecent}}
          @eventsPage={{this.eventsPage}}
          @startPRBuild={{action "startPRBuild"}}
          @stopEvent={{action "stopEvent"}}
          @updateEvents={{action "updateEvents"}}
        />
        <div
          style="padding: 20px;"
          onMouseEnter={{action "onEventListScroll"}}
        />
    {{/if}}
    {{#if (eq this.activeTab "pulls")}}
      {{#if this.prChainEnabled}}
          <PipelineEventsList
            @pipeline={{this.pipeline}}
            @expandedEventsGroup={{this.expandedEventsGroup}}
            @events={{this.events}}
            @selected={{mut this.selected}}
            @selectedEventObj={{this.selectedEventObj}}
            @selectedEvent={{this.selectedEvent}}
            @latestCommit={{this.latestCommit}}
            @lastSuccessful={{this.lastSuccessful}}
            @eventsPage={{this.eventsPage}}
            @startPRBuild={{action "startPRBuild"}}
            @stopEvent={{action "stopEvent"}}
            @updateEvents={{action "updateEvents"}}
          />
        {{else}}
          {{#each this.pullRequestGroups as |prg|}}
              <PipelinePrList
                @jobs={{prg}}
                @pipeline={{this.pipeline}}
                @selected={{mut this.selected}}
                @selectedEvent={{this.selectedEvent}}
                @isRestricted={{this.isRestricted}}
                @startBuild={{action "startPRBuild"}}
                @stopPRBuilds={{action "stopPRBuilds"}}
                @workflowGraph={{this.pipeline.workflowGraph}}
              />
            {{else}}
              <div class="alert">
                No open pull requests
              </div>
            {{/each}}
        {{/if}}
    {{/if}}
  </div>
</div>

{{#if this.isShowingModal}}
  <ModalDialog
    @clickOutsideToClose={{false}}
    @targetAttachment="center"
    @translucentOverlay={{true}}
  >
    <LoadingView />
  </ModalDialog>
{{/if}}
