<BsModal
  id="add-to-collection-modal"
  @onHide={{fn @closeModal}}
  as |modal|
>
  <modal.header>
    Add to collection(s)
  </modal.header>
  <modal.body>
    {{#if this.errorMessage}}
      <InfoMessage
        @message={{this.errorMessage}}
        @type="warning"
        @icon="exclamation-triangle"
      />
    {{/if}}
    <div class="modal-title">Add to collection(s)</div>
    <div class="create-new-collection">
      <label>
        <div>Collection name:</div>
        <Input
          id="new-collection-name-input"
          @type="text"
          @value={{this.newCollectionName}}
          placeholder="Please enter a name for your new collection"
        />
      </label>
      <label>
        <div>Collection description:</div>
        <Input
          @type="text"
          @value={{this.newCollectionDescription}}
          placeholder="Optional: enter a name description for your new collection"
        />
      </label>
    </div>

    {{#if this.hasCollections}}
      <hr />

      <div class="select-collections">
        <BsButtonGroup
          @value={{this.selectedCollections}}
          @type="checkbox"
          @onChange={{fn (mut this.selectedCollections)}}
          as |bg|
        >
          {{#each this.collectionsWithoutPipeline as |collection|}}
            <bg.button
              id="collection-{{collection.id}}"
              @type="primary"
              @outline={{true}}
              @value={{collection}}
            >
              {{collection.name}}
            </bg.button>
          {{/each}}
        </BsButtonGroup>
      </div>
    {{/if}}

  </modal.body>
  <modal.footer>
    <BsButton
      id="submit-collections"
      class="confirm"
      disabled={{this.isSubmitButtonDisabled}}
      @defaultText="Add to collection(s)"
      @pendingText="Adding to collection(s)..."
      @fulfilledText="Added to collection(s)"
      @type="primary"
      @onClick={{this.submitCollections}}
    />
  </modal.footer>
</BsModal>
