<h4>
  All Versions
</h4>

{{#unless this.isPipelineTemplatePage}}
<div class="table-controls">
  <span>
    <em>Note: Changing the time or custom date range will update the metrics displayed in the table, including pipelines, jobs, and builds.</em>
  </span>
  <TimeRangePicker
    @startTime={{@startTime}}
    @endTime={{@endTime}}
    @selectedRange={{@selectedRange}}
    @onTimeRangeChange={{action "timeRangeChange"}}
  />
</div>
{{/unless}}

<ModelsTable
  @data={{this.data}}
  @columns={{this.columns}}
  @themeInstance={{this.theme}}
  @showComponentFooter={{false}}
  @showColumnsDropdown={{false}}
  @useFilteringByColumns={{false}}
  @showGlobalFilter={{false}}
  @multipleColumnsSorting={{false}}
  @showCurrentPageNumberSelect={{false}}
  @pageSize={{this.data.length}}
/>
