{{#if addCollectionError}}
  {{info-message message=addCollectionError type="warning" icon="exclamation-triangle"}}
{{/if}}
{{#if addCollectionSuccess}}
  {{info-message message=addCollectionSuccess type="success" icon="check"}}
{{/if}}
<div class="num-results">
  {{if isEmpty "No results" (concat "Showing " filteredPipelines.length " result(s)")}}
</div>
<table>
  <thead>
    <tr>
      <th class="appId">Name</th>
      <th class="branch">Branch</th>
      <th class="account">Account</th>
      {{#if session.isAuthenticated}}
      <th class="add">Add to Collection</th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each filteredPipelines as |pipeline|}}
    <tr>
      <td class="appId">{{#highlight-terms query}}{{#link-to "pipeline" pipeline.id}}{{pipeline.appId}}{{/link-to}}{{/highlight-terms}}</td>
      <td class="branch">{{fa-icon "code-fork"}}{{pipeline.branch}}</td>
      <td class="account">{{fa-icon pipeline.scmIcon}} {{pipeline.scm}}</td>
      {{#if session.isAuthenticated}}
      <td class="add">
        {{collection-dropdown
          pipeline=pipeline
          collections=collections
          addToCollection=addToCollection
          addCollectionError=addCollectionError
          addCollectionSuccess=addCollectionSuccess}}
      </td>
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>
{{#if showMore}}
<a class="showMore" {{action "moreClick"}}>Show more results...</a>
{{/if}}

{{collection-modal showModal=showModal addNewCollection=addNewCollection}}
