{{#if addCollectionError}}
  {{info-message message=addCollectionError type="warning" icon="exclamation-triangle"}}
{{/if}}
{{#if addCollectionSuccess}}
  {{info-message message=addCollectionSuccess type="success" icon="check"}}
{{/if}}
<div class="num-results">
  {{if isEmpty "No Results" (concat "Found " filteredPipelines.length " result(s)")}}
</div>
<table>
  <thead>
    <tr>
      <th class="appId">Name</th>
      <th class="branch">Branch</th>
      <th class="account">Account</th>
      {{#if session.isAuthenticated}}
      <th class="add">Add to Collection</th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each filteredPipelines as |pipeline|}}
    <tr>
      <td class="appId">{{#highlight-terms query}}{{#link-to "pipeline" pipeline.id}}{{pipeline.appId}}{{/link-to}}{{/highlight-terms}}</td>
      <td class="branch">{{fa-icon "code-fork"}}{{pipeline.branch}}</td>
      <td class="account">{{fa-icon pipeline.scmIcon}} {{pipeline.scm}}</td>
      {{#if session.isAuthenticated}}
      <td class="add">
        {{#bs-dropdown as |dd|}}
          {{#dd.button class="add-to-collection"}}
            {{fa-icon "plus" title="Add to collection" size="sm"}}
          {{/dd.button}}
          {{#dd.menu align="right" class="dropdown" as |menu|}}
            {{#each collections as |collection|}}
              {{#menu.item}}
                <span onclick={{action "addToCollection" pipeline.id collection}}>
                  {{collection.name}}
                </span>
              {{/menu.item}}
            {{/each}}
            <li>
              <span class="create-dropdown" onclick={{action "openModal"}}>
                {{fa-icon "plus-circle" title="Create" size="md"}} CREATE
              </span>
            </li>
          {{/dd.menu}}
        {{/bs-dropdown}}
      </td>
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>
{{collection-modal showModal=showModal addNewCollection=addNewCollection}}
