{{#if this.addCollectionError}}
  <InfoMessage
    @message={{this.addCollectionError}}
    @type="warning"
    @icon="triangle-exclamation"
  />
{{/if}}
{{#if this.addCollectionSuccess}}
  <InfoMessage
    @message={{this.addCollectionSuccess}}
    @type="success"
    @icon="check"
  />
{{/if}}
<div class="num-results">
  {{if
    this.isEmpty
    "No results"
    (concat "Showing " this.filteredPipelines.length " result(s)")
  }}
</div>
<table>
  <thead>
    <tr>
      <th class="appId">
        Name
      </th>
      <th class="branch">
        Branch
      </th>
      <th class="account">
        Account
      </th>
      {{#if this.session.isAuthenticated}}
        <th class="add">
          Add to Collection
        </th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each this.filteredPipelines as |pipeline|}}
      <tr>
        <td class="appId">
          {{!-- {{#highlight-terms query}} --}}
          <LinkTo @route="pipeline" @model={{pipeline.id}} title="{{pipeline.appId}}">
            {{pipeline.appId}}
          </LinkTo>
          {{!-- {{/highlight-terms}} --}}
        </td>
        <td class="branch">
          <a href={{branch-url-encode pipeline.hubUrl}} title="{{pipeline.branch}}">
            <FaIcon @icon="code-branch" />{{pipeline.branch}}
          </a>
        </td>
        <td class="account">
          <FaIcon @icon={{pipeline.scmIcon}} @prefix="fab" />
          {{pipeline.scm}}
        </td>
        {{#if this.session.isAuthenticated}}
          <td class="add">
            <CollectionDropdown
              @pipeline={{pipeline}}
              @collections={{this.collections}}
              @addToCollection={{action "addToCollection"}}
              @addCollectionError={{this.addCollectionError}}
              @addCollectionSuccess={{this.addCollectionSuccess}}
            />
          </td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>
{{#if this.showMore}}
  <a class="showMore" {{action "moreClick"}}>
    Show more results...
  </a>
{{/if}}

<CollectionModal
  @showModal={{this.showModal}}
  @addNewCollection={{this.addNewCollection}}
/>