<div class="pipeline-search-panel">
  <div class="search-pipeline-searchbar">
    <Input
      class="search-pipeline-input"
      @name="query"
      placeholder="Search Screwdriver pipelines"
      @enter={{action "searchPipelines"}}
      @autofocus="true"
      @value={{this.searchTerm}}
    />
    <button class="search-pipeline-button" {{action "searchPipelines"}}>
      <FaIcon @icon="magnifying-glass" />
    </button>
  </div>
  <div class="searched-pipelines">
    {{#each this.searchedPipelines as |pipeline|}}
      <div class="searched-pipeline">
        <span class="name">
          <LinkTo @route="pipeline" @model={{pipeline.id}}>
            {{pipeline.name}}
          </LinkTo>
        </span>
        <span class="branch">
          <a href={{branch-url-encode pipeline.hubUrl}}><FaIcon @icon="code-fork" />{{pipeline.branch}}</a>
        </span>
        <span
          onclick={{action "selectSearchedPipeline" pipeline.id}}
          class="add-pipeline-button"
        >
          {{svg-jar "add" class="img"}}
        </span>
      </div>
    {{/each}}
  </div>
</div>
