<div class="actions">
  <span {{action "startSingleBuild"}}>
    {{fa-icon "play-circle-o" fixedWidth=true title="Start a new build."}}
  </span>
  <span {{action "stopBuild"}} class={{stopButtonClass}}>
    {{fa-icon "stop-circle-o" fixedWidth=true title="Stop build."}}
  </span>
  <span {{action "startSingleBuild" "RESTART"}}>
    {{fa-icon "repeat" fixedWidth=true title="Restart from latest build."}}
  </span>
</div>