<div class="coverage" {{in-viewport onEnter=(action "didEnterViewport")}}>
  {{#if this.loading}}
    Loading
  {{else}}
    {{#if this.loaded}}
      <span class="coverage-value">
        {{get this.coverage "coverage"}}{{if
          (is-number (get this.coverage "coverage"))
          "%"
        }}
      </span>
    {{else}}
      N/A
    {{/if}}
  {{/if}}
</div>