{{info-message message=errorMessage type="error" icon="exclamation-triangle"}}

<h1>Create Pipeline</h1>
<div>
{{input
  class="text-input"
  key-up="scmChange"
  placeholder="Enter your repository url (eg: git@github.com:screwdriver-cd/ui.git#master)"
  value=scmUrl
}}
</div>
<div>
<button {{action "saveData"}} disabled={{isDisabled}} class="blue-button{{if isSaving ' saving'}}">
  <div class="saving-loading">
    Creating Pipeline
  </div>
  <div class="button-label">Create Pipeline</div>
</button>
{{#if isSaving}}{{fa-icon "spinner" spin=true}}{{/if}}
</div>