<BsModal
  id="show-event-group-modal"
  @onHide={{fn @closeModal}}
  as |modal|
>
  <modal.header>
    <div class="modal-title">{{this.modalHeaderText}}</div>
  </modal.header>
  <modal.body>
    {{#if this.showCards}}
      <VerticalCollection
        @items={{this.events}}
        @estimateHeight={{150}}
        @key={{"id"}}
        @idForFirstItem={{this.eventId}}
        as |event|
      >
        <Pipeline::Event::Card
          @event={{event}}
          @userSettings={{@userSettings}}
          @queueName="eventGroupModal"
          @onClick={{fn @closeModal}}
        />
      </VerticalCollection>
    {{/if}}
  </modal.body>
</BsModal>
