<BsModal
  id="show-event-group-modal"
  @onHide={{fn @closeModal}}
  as |modal|
>
  <modal.header>
    <div class="modal-title">{{this.modalHeaderText}}</div>
  </modal.header>
  <modal.body>
    <VerticalCollection
      @items={{this.events}}
      @estimateHeight={{150}}
      @idForFirstItem={{@event.id}}
      as |event|
    >
      <Pipeline::Event::Card
        @event={{event}}
        @jobs={{@jobs}}
        @userSettings={{@userSettings}}
        @queueName="eventGroupModal"
        @onClick={{fn @closeModal}}
      />
    </VerticalCollection>
  </modal.body>
</BsModal>
