<tr class={{this.styleNamespace}} ...attributes>
  <td class="name">{{input type="text" size="40" value=this.newName}}</td>
  <td class="description">{{input type="text" size="40" value=this.newDescription}}</td>
  <td class="last-used">{{#if this.token.lastUsed}}{{moment-from-now this.token.lastUsed}}{{else}}Never used{{/if}}</td>
  <td class="actions">
    <button type="button" {{action "refresh"}}>Refresh</button>
    <button class={{this.buttonAction}} type="button" {{action "modifyToken" this.pipelineId}}>{{this.buttonAction}}</button>
  </td>
</tr>