<div class="row list-view-nav">
  <div class="col-2">
    <BsButtonGroup
      class="view-toggle"
      @value={{this.showListView}}
      @type="radio"
      @onChange={{action this.setShowListView}} as |bg|
    >
      <bg.button @value={{false}}>
        <FaIcon @icon="th" />
      </bg.button>
      <bg.button @value={{true}}>
        <FaIcon @icon="th-list" />
      </bg.button>
    </BsButtonGroup>
  </div>
</div>

<ModelsTable
  @data={{this.data}}
  @columns={{this.columns}}
  @themeInstance={{this.theme}}
  @showComponentFooter={{false}}
  @showColumnsDropdown={{false}}
  @useFilteringByColumns={{false}}
  @showGlobalFilter={{false}}
  @showCurrentPageNumberSelect={{false}}
  @multipleColumnsSorting={{false}}
  @pageSize={{this.data.length}}
/>
<div class="loader" {{in-viewport onEnter=(action "onScrolledToBottom")}}>
  {{#if this.isLoading}}
      Loading...
  {{/if}}
</div>

{{#if this.isShowingModal}}
  <ModalDialog
    @targetAttachment="center"
    @translucentOverlay={{true}}
    @clickOutsideToClose={{true}}
    @onClickOverlay={{action "resetForm"}}
    @containerClass="detached-confirm-dialog"
  >
    <h3>
      Are you sure to start?
    </h3>
    <PipelineParameterizedBuild
      @pipeline={{this.pipeline}}
      @showSubmitButton={{true}}
      @buildPipelineParameters={{this.pipelineParameters}}
      @buildJobParameters={{this.jobParameters}}
      @onSave={{action "startBuild"}}
      @onClose={{action "closeModal"}}
      @startFrom={{this.job.name}}
    />
  </ModalDialog>
{{/if}}