<div class="row list-view-nav">
  <div class="col-2">
    <BsButtonGroup
      class="view-toggle"
      @value={{this.showListView}}
      @type="radio"
      @onChange={{action this.setShowListView}} as |bg|
    >
      <bg.button @value={{false}}>
        <FaIcon @icon="table-cells" />
      </bg.button>
      <bg.button @value={{true}}>
        <FaIcon @icon="table-list" />
      </bg.button>
    </BsButtonGroup>
  </div>
  <div class="col-10 d-flex justify-content-end form-inline">
    <div class="form-group d-flex align-items-center">
      <label class="has-float-label" for="jobs-history-options">
        <select class="form-control custom-select" id="jobs-history-options" name="jobs-history-options" onchange={{action "updateNumBuildsHistory" value="target.value"}}>
          {{#each this.buildsHistoryOptions as |opt|}}
            <option value={{opt}} selected={{eq opt this.numBuildsHistory}}>{{opt}}</option>
          {{/each}}
        </select>
        <span>History</span>
      </label>
    </div>
  </div>
</div>

<ModelsTable
  @data={{this.data}}
  @columns={{this.columns}}
  @themeInstance={{this.theme}}
  @showComponentFooter={{false}}
  @showColumnsDropdown={{false}}
  @useFilteringByColumns={{false}}
  @showGlobalFilter={{false}}
  @showCurrentPageNumberSelect={{false}}
  @multipleColumnsSorting={{false}}
  @pageSize={{this.data.length}}
  onScroll={{action "onScrolledToBottom"}}
/>
<div class="loader">
  {{#if this.isLoading}}
      Loading...
  {{/if}}
</div>

{{#if this.isShowingModal}}
  <ModalDialog
    @targetAttachment="center"
    @translucentOverlay={{true}}
    @clickOutsideToClose={{true}}
    @onClickOverlay={{action "resetForm"}}
    @containerClass="detached-confirm-dialog"
  >
    <h3>
      Are you sure to start?
    </h3>
    <PipelineParameterizedBuild
      @pipeline={{this.pipeline}}
      @showSubmitButton={{true}}
      @buildPipelineParameters={{this.pipelineParameters}}
      @buildJobParameters={{this.jobParameters}}
      @onSave={{action "startBuild"}}
      @onClose={{action "closeModal"}}
      @startFrom={{this.job.name}}
    />
  </ModalDialog>
{{/if}}