<a href={{this.user.url}} title={{this.causeMessage}}>
  {{#if (eq this.user.username "sd:scheduler")}}
    <img src="/favicon.ico" alt="Screwdriver scheduler's avatar">
  {{else}}
    {{#if this.showAvatar}}
      <img src={{this.user.avatar}} alt="{{this.user.name}}'s avatar">
    {{/if}}
  {{/if}}
  {{this.user.name}}
</a>