<div class="button-container" style="margin-right: 10px;">
  <BsButtonGroup
    class="timePicker-options-toggle"
    @value={{this.selectedTimePicker}}
    @type="radio"
    @onChange={{action "toggleTimePicker"}} as |bg|
  >
    {{#each this.timePickerOptions as |opt|}}
      <bg.button @value={{opt.value}} @type="primary" @outline={{true}}>
        {{opt.label}}
      </bg.button>
    {{/each}}
  </BsButtonGroup>
</div>

{{#if this.isRangePicker}}
<div class="chart-control range-selection">
  <BsButtonGroup
    @value={{this.selectedRange}}
    @type="radio"
    @onChange={{action "setTimeRange"}} as |bg|
  >
    {{#each this.timeRanges as |range|}}
      <bg.button 
        @value={{range.value}}
      >
        {{range.alias}}
      </bg.button>
    {{/each}}
  </BsButtonGroup>
</div>
{{else}}
<div class="chart-control custom-date-selection">
  <EmberFlatpickr
    @clickOpens={{true}}
    @dateFormat="m/d/Y"
    @date={{this.customRange}}
    @locale="en"
    @mode="range"
    @onChange={{action (mut this.dateValues)}}
    @onClose={{action "setCustomRange"}}
    placeholder="Choose Start & End Date Time"
  />
</div>
{{/if}}