<BsModal
  id="override-secret-modal"
  @onHide={{fn @closeModal}}
  as |modal|
>
  <modal.header>
    Override inherited secret: {{@secret.name}}
  </modal.header>
  <modal.body>
    {{#if this.errorMessage}}
      <InfoMessage
        id="error-message"
        @message={{this.errorMessage}}
        @type="warning"
        @icon="triangle-exclamation"
      />
    {{/if}}

    <div class="override-secret">
      <label>
        <div>Value:</div>
        <Input
          id="secret-value-input"
          @type="text"
          @value={{this.secretValue}}
          disabled={{this.isInvalidValue}}
        />
      </label>
      <div id="allow-in-pr-container">
        <label>
          <div>Allow in PR:</div>
        </label>
        <XToggle
          id="allow-in-pr-toggle"
          @size="small"
          @theme="light"
          @value={{this.allowInPr}}
          @onToggle={{fn this.toggleAllowInPr}}
        />
      </div>
    </div>
  </modal.body>
  <modal.footer>
    <BsButton
      id="submit-secret"
      class="confirm"
      disabled={{this.isSubmitButtonDisabled}}
      @defaultText="Override secret"
      @pendingText="Overriding secret..."
      @type="primary"
      @onClick={{fn this.overrideSecret}}
    />
  </modal.footer>
</BsModal>
