
{{#if jobs.length }}
  <div class="view">
    <div class="detail">
      <div class="commit">
        <a href={{jobs.0.url}} target="_blank" rel="noopener">
          <span>{{fa-icon "code-fork"}}</span>
          PR-{{jobs.0.group}}
        </a>
        {{#if isRunning}}
          {{#bs-button type="primary" class="stopButton" onClick=(action stopPRBuilds jobs)}}Stop PR-{{jobs.0.group}}{{/bs-button}}
        {{else}}
          {{#bs-button type="primary" class="startButton" onClick=(action startBuild jobs.0.group jobs)}}Start PR-{{jobs.0.group}}{{/bs-button}}
        {{/if}}
      </div>
      <div class="date greyOut">Opened {{jobs.0.createTimeExact}}</div>
      <div class="by"><a href={{jobs.0.userProfile}} target="_blank" rel="noopener">{{jobs.0.username}}</a></div>
      {{#if showJobs }}
        {{#each jobs as |job|}}
          {{pipeline-pr-view job=job workflowGraph=workflowGraph}}
        {{/each}}
      {{/if}}
    </div>
  </div>
{{/if}}
