{{#if this.jobs.length}}
  <div class="view" onclick={{action "selectPR"}}>
    <div class="detail">
      <div class="commit">
        <a href={{this.jobs.0.url}} target="_blank" rel="noopener">
          <span>
            <FaIcon @icon="code-branch" />
          </span>
          PR-{{this.jobs.0.group}}:
          <span class="title">
            {{this.jobs.0.title}}
          </span>
        </a>
        {{#if this.isRunning}}
          <BsButton
            @type="primary"
            class="stopButton"
            @onClick={{action this.stopPRBuilds this.jobs}}
          >
            Stop
          </BsButton>
        {{else}}
          <BsButton
            @type="primary"
            class="startButton"
            disabled={{this.isStartButtonDisabled}}
            @onClick={{action this.startBuild this.jobs.0.group this.jobs}}
          >
            Start
          </BsButton>
        {{/if}}
      </div>
      <div class="date greyOut">
        Opened {{this.jobs.0.createTimeExact}}
      </div>
      <div class="by">
        <a href={{this.jobs.0.userProfile}} target="_blank" rel="noopener">
          {{this.jobs.0.username}}
        </a>
      </div>
      {{#if this.showJobs}}
        {{#each this.jobs as |job|}}
          <PipelinePrView @job={{job}} @workflowGraph={{this.workflowGraph}} />
        {{/each}}
      {{/if}}
    </div>
  </div>
{{/if}}