{{#if (gt logs.length 1)}}
  <div class="heading">
    <div class="row">
      <div>
        <span class="time" onClick={{action "toggleTimeDisplay"}}>
          {{#if (eq timeFormat "datetime")}}
            Local Timestamp
          {{else if (eq timeFormat "datetimeUTC")}}
            UTC Timestamp
          {{else if (eq timeFormat "elapsedBuild")}}
            Since build started
          {{else if (eq timeFormat "elapsedStep")}}
            Since step started
          {{/if}}
        </span>
        <span class="content"></span>
      </div>
      <div>
        <a onClick={{action "scrollToTop"}}>{{fa-icon "arrow-up"}}Go to Top</a>
        <a onClick={{action "scrollToBottom"}}>{{fa-icon "arrow-down"}}Go to Bottom</a>
        {{#unless inProgress}}
          {{#if isDownloading}}
            <span>{{fa-icon "spinner" spin=true}}Downloading</span>
          {{else}}
            <a onClick={{action "download"}}>{{fa-icon "download"}}Download</a>
          {{/if}}
          <a id="downloadLink" href download hidden></a>
        {{/unless}}
      </div>
    </div>
  </div>
{{/if}}
{{yield}}
<div class="wrap" onScroll={{action "logScroll"}}>
  <div class="logs">
    {{#each logs as |log|}}
      <div class="line">
        <span class="time" onClick={{action "toggleTimeDisplay"}}>
          {{#if (eq timeFormat "datetime")}}
            {{moment-format log.t "HH:mm:ss"}}
          {{else if (eq timeFormat "datetimeUTC")}}
            {{moment-format (utc log.t) "HH:mm:ss"}}
          {{else if (eq timeFormat "elapsedBuild")}}
            {{x-duration buildStartTime log.t precision="seconds"}}
          {{else if (eq timeFormat "elapsedStep")}}
            {{x-duration stepStartTime log.t precision="seconds"}}
          {{/if}}
        </span>
        <span class="content">{{ansi-colorize log.m}}</span>
      </div>
    {{/each}}
  </div>
  <div class="bottom"></div>
</div>
