<h4>Format: {{command.format}}</h4>

{{#if isHabitat}}
<div class="mode" title="This is the mode of the habitat.">
  <span class="label">Mode:</span>
  <span class="value">{{command.habitat.mode}}</span>
</div>
<div class="package" title="This is the package of the habitat.">
  <span class="label">Package:</span>
  <span class="value">{{command.habitat.package}}</span>
</div>
<div class="habitat-command" title="This is the command of the habitat.">
  <span class="label">Command:</span>
  <span class="value">{{command.habitat.command}}</span>
</div>
{{else if isDocker}}
<div class="image" title="This is the image of the docker.">
  <span class="label">Image:</span>
  <span class="value">{{command.docker.image}}</span>
</div>
<div class="docker-command" title="This is the command of the docker.">
  <span class="label">Command:</span>
  <span class="value">{{command.docker.command}}</span>
</div>
{{else if isBinary}}
<div class="file" title="This is the command of the binary.">
  <span class="label">File:</span>
  <span class="value">{{command.binary.file}}</span>
</div>
{{else}}
<span>Unknown type of format</span>
{{/if}}