<BsModal
  id="search-event-modal"
  @onHide={{fn @closeModal}}
  as |modal|
>
  <modal.header>
    <div class="modal-title">Search for an event</div>
  </modal.header>
  <modal.body>
    Search for an event by commit message, sha, author, or creator. (e.g. sha:996908b or author:d2lam)
    <div id="search-input">
      <Input
        @type="search"
        @value={{this.searchInput}}
        autofocus={{true}}
        maxlength="500"
        placeholder="Search for an event.."
        {{on "input" this.handleInput}}
        {{on "keydown" this.handleKeyPress}}
      />
      {{#if this.invalidSha}}
        <div class="invalid-sha">Invalid SHA.  SHA can only contain hex values.</div>
      {{/if}}
    </div>

    <div id="search-results">
      <VerticalCollection
        @items={{this.searchResults}}
        @estimateHeight={{150}}
        as |event|
      >
        <Pipeline::Event::Card
          @pipeline={{@pipeline}}
          @event={{event}}
          @jobs={{@jobs}}
          @userSettings={{@userSettings}}
          @queueName="searchResults"
        />
      </VerticalCollection>
    </div>
  </modal.body>
</BsModal>