{{page-title "Events"}}

<div class="pipeline-tab">
  <BsNav @type="tabs" as |nav|>
    <nav.item>
      <nav.link-to @route="v2.pipeline.events">Events</nav.link-to>
    </nav.item>
    <nav.item>
      <nav.link-to @route="v2.pipeline.pulls">Pull Requests</nav.link-to>
    </nav.item>
    <nav.item>
      <nav.link-to @route="v2.pipeline.jobs">Jobs</nav.link-to>
    </nav.item>
  </BsNav>
</div>

<div class="pipeline-events {{if this.isExpanded "hide"}}">
  <div class="search-filter-bar">

    <span class="search-filter">
      <span class="search">
        {{svg-jar "search" class="img"}}
      </span>
      <span class="filter">
        <FaIcon @icon="filter" />
      </span>
    </span>

    <span class="new-event">
      <span>Start a new event</span>
      <FaIcon @icon="plus" />
    </span>
  </div>

  <div class="event-cards">
  {{#if this.isGroupedEvents}}
    {{#each this.groupedEvents as |eventGroup| }}
      <Newui::EventCardGroup
       @selectedEventId={{this.selectedEventId}}
       @pipelineId={{this.pipelineId}}
       @lastSuccessful={{this.lastSuccessful}}
       @latestCommit={{this.latestCommit}}
       @events={{eventGroup}}
      />
    {{/each}}
  {{else}}
    {{#each this.events as |event|}}
      <Newui::EventCard @event={{event}}
       @selectedEventId={{this.selectedEventId}}
       @pipelineId={{this.pipelineId}}
       @lastSuccessful={{this.lastSuccessful}}
       @latestCommit={{this.latestCommit}}
      />
    {{/each}}
  {{/if}}
  </div>
</div>

<div class="pipeline-workflow-graph-builds-table">
  <div class="nav-button-container">
    <div class="button-container layout-buttons">
        <div class="btn-group view-toggle" role="group">
            <button class="btn btn-outline-primary" type="button">
              Workflow    
            </button>
            <button class="btn active btn-outline-primary" type="button">
              Builds
            </button>
          </div>
      </div>
  </div>
  <Newui::BuildsTable />
  <div>
    {{#if this.isExpanded}}
      <button data-button="" class="showHideEventsBtn right" type="button" aria-label="Show events list" {{on "click" this.toggleExpanded}}>{{svg-jar "chevronNext" class="img"}}</button>
    {{else}}
      <button data-button="" class="showHideEventsBtn left" type="button" aria-label="Hide events list" {{on "click" this.toggleExpanded}}>{{svg-jar "chevronBack" class="img"}}</button>
    {{/if}}
  </div>
</div>

{{outlet}}
