{{#bs-navbar as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "home" class="logo navbar-brand" title="Screwdriver Home"}}{{inline-svg "Screwdriver_Logo_FullWhite" class="img"}}{{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#if showSearch}}
      {{#nav.item}}
      <form class="navbar-form navbar-left" role="search">
        {{input class="search-input" name="query" placeholder="Search Screwdriver pipelines" enter='triggerSearch'}}
        <button class="search-button" {{action 'triggerSearch'}}>{{fa-icon "fa-search"}}</button>
      </form>
      {{/nav.item}}
      {{/if}}
    {{/navbar.nav}}
    {{#navbar.nav classNames="navbar-nav navbar-right" as |nav|}}
      {{#nav.item}}
        {{#link-to "create" class="icon create"}}
        {{inline-svg "create" class="img"}}
        <span class='icontitle'>Create Pipeline</span>
        {{/link-to}}
      {{/nav.item}}
      {{#nav.item}}
        <a href="http://docs.screwdriver.cd" class="icon docs">
          {{inline-svg "docs" class="img"}}
          <span class='icontitle'>Documentation</span>
        </a>
      {{/nav.item}}

      {{#nav.item}}
        {{#nav.dropdown as |dd|}}
          {{#dd.toggle}}{{inline-svg "more-circle" class="img"}}
            <span class='icontitle'>Communication</span>
            <span class="caret"></span>
          {{/dd.toggle}}
          {{#dd.menu as |ddm|}}
            {{#ddm.item}}
              <a href="http://blog.screwdriver.cd" class="icon blog">
                {{inline-svg "tumblr" class="img"}}<span>Screwdriver Blog</span>
              </a>
            {{/ddm.item}}
            {{#ddm.item}}
              <a href="http://slack.screwdriver.cd" class="icon community">
                {{inline-svg "slack" class="img"}}<span>Slack Channel</span>
              </a>
            {{/ddm.item}}
            {{#ddm.item}}
              <a href="https://github.com/screwdriver-cd" class="icon github">
                {{inline-svg "github" class="img"}}<span>Github</span>
              </a>
            {{/ddm.item}}
          {{/dd.menu}}
        {{/nav.dropdown}}
      {{/nav.item}}
      {{#nav.item}}
        {{#if session.isAuthenticated}}
          {{#nav.dropdown as |dd|}}
            {{#dd.toggle class="icon profile-outline"}}
              {{inline-svg "profile-outline" class="img"}}
              <span class='icontitle'>Account</span>
              <span class="caret"></span>
            {{/dd.toggle}}
            {{#dd.menu as |ddm|}}
              {{#if session.isAuthenticated}}
                {{#ddm.item}}{{#link-to "user-settings" title="User Settings"}}User Settings{{/link-to}}{{/ddm.item}}
                {{ddm.divider}}
              {{/if}}
              {{#ddm.item}}
                <a {{action 'invalidateSession'}} class="logout" title="Log out of Screwdriver">Log out</a>
              {{/ddm.item}}
            {{/dd.menu}}
          {{/nav.dropdown}}
        {{else}}
          {{#link-to "login" title="Login to Screwdriver" class="icon profile-outline"}}
            {{inline-svg "profile-outline" class="img"}}
            <span class='icontitle'>Log in</span>
          {{/link-to}}
        {{/if}}
      {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}
<div class="tooltips">
  {{#bs-tooltip placement="bottom" triggerElement=".icon.create" renderInPlace=true}}Create a new Pipeline{{/bs-tooltip}}
  {{#bs-tooltip placement="bottom" triggerElement=".icon.docs" renderInPlace=true}}Screwdriver Documentation{{/bs-tooltip}}
  {{#unless session.isAuthenticated}}
    {{#bs-tooltip placement="bottom" triggerElement=".icon.profile-outline" renderInPlace=true}}Login to Screwdriver{{/bs-tooltip}}
  {{/unless}}
</div>
