<div class="topBar">
  <div id="menu" class="pure-g">
    <div class="pure-u-1 pure-u-md-2-3">
      {{#link-to "home" class="logo" title="Screwdriver Home"}}
        <img src="/assets/sd_logo.png" alt="Screwdriver Home">
      {{/link-to}}

      {{#if showSearch}}
      <div class="search">
        <form class="search-form" {{action "triggerSearch" on="submit"}}>
          {{input class="search-input" name="query" placeholder="Search Screwdriver pipelines " focus-in="onFocus" focus-out="onBlur"}}
        </form>
        <div class="search-icon" {{action "triggerSearch"}}>
          {{fa-icon "fa-search"}}
        </div>
      </div>
      {{/if}}

      <a href="#" class="custom-toggle" id="toggle" {{action "onToggleClick"}}><s class="bar"></s><s class="bar"></s></a>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="pure-menu pure-menu-horizontal custom-menu custom-can-transform">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            {{#link-to "create" title="Create a new Pipeline" class="icon create"}}
              {{inline-svg "write" class="img"}}
              <span>Create</span>
            {{/link-to}}
          </li>
          <li class="pure-menu-item">
            <a href="http://docs.screwdriver.cd" class="icon docs">
              {{inline-svg "documentation" class="img"}}
              <span>Docs</span>
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="http://blog.screwdriver.cd" class="icon blog">
              {{inline-svg "blog" class="img"}}
              <span>Blog</span>
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="http://slack.screwdriver.cd" class="icon community">
              {{inline-svg "community" class="img"}}
              <span>Slack</span>
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="https://github.com/screwdriver-cd" class="icon github">
              {{inline-svg "github" class="img"}}
              <span>GitHub</span>
            </a>
          </li>
          <li class="pure-menu-item">
            {{#if session.isAuthenticated}}
              <a {{action 'invalidateSession'}} class="icon auth">
                {{inline-svg "login" class="img"}}
                <span>Logout</span>
              </a>
            {{else}}
              {{#link-to "login" class="icon auth"}}{{inline-svg "login" class="img"}}<span>Login</span>{{/link-to}}
            {{/if}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
