{{#bs-navbar as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "home" class="logo navbar-brand" title="Screwdriver Home"}}{{inline-svg "Screwdriver_Logo_FullWhite" class="img"}}{{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav classNames="navbar-nav navbar-left" as |nav|}}
      {{#nav.item}}
        {{#link-to "dashboard" class="icon"}}
          <span>Collections</span>
        {{/link-to}}
      {{/nav.item}}
      {{#nav.item}}
        {{#nav.dropdown as |dd|}}
          {{#dd.toggle class="icon tools"}}
            <span>Tools</span>
            <span class="caret"></span>
          {{/dd.toggle}}
          {{#dd.menu as |ddm|}}
            {{#ddm.item}}
              {{#link-to "validator" classNames="icon validator"}}
                <span>Validator</span>
              {{/link-to}}
            {{/ddm.item}}
            {{#ddm.item}}
              {{#link-to "templates" classNames="icon templates"}}
                <span>Templates</span>
              {{/link-to}}
            {{/ddm.item}}
            {{#ddm.item}}
              {{#link-to "commands" classNames="icon commands"}}
                <span>Commands</span>
              {{/link-to}}
            {{/ddm.item}}
          {{/dd.menu}}
        {{/nav.dropdown}}
      {{/nav.item}}
      {{#nav.item}}
        {{#link-to "create" class="icon create"}}
          {{inline-svg "add-circle" class="img"}}
          <span>Create Pipeline</span>
        {{/link-to}}
      {{/nav.item}}
    {{/navbar.nav}}

    {{#navbar.nav classNames="navbar-nav navbar-right" as |nav|}}
      {{#if showSearch}}
        {{#nav.item}}
          <form class="navbar-form navbar-right" role="search">
            {{input
              class="search-input"
              name="query"
              placeholder="Search Screwdriver pipelines"
              enter=(action "triggerSearch")
              escape-press=(action "cancelSearch")
              autofocus="true"
              value=searchTerm}}
            <button class="search-button" {{action "triggerSearch"}}>{{fa-icon "search"}}</button>
          </form>
        {{/nav.item}}
      {{else}}
        {{#nav.item}}
          <a href="#" class="icon search" {{action (mut showSearch) (not showSearch) preventDefault=false}}>{{inline-svg "search" class="img"}}</a>
        {{/nav.item}}
      {{/if}}

      {{#nav.item}}
        {{#nav.dropdown as |dd|}}
          {{#dd.toggle class="icon docs-outline"}}
            {{inline-svg "help-circle" class="img"}}
          {{/dd.toggle}}
          {{#dd.menu as |ddm|}}
            {{#ddm.item}}
              <a href={{docUrl}} class="icon docs">
                {{inline-svg "file-text" class="img"}}<span>Documentation</span>
              </a>
            {{/ddm.item}}
            {{ddm.divider}}
            {{#ddm.item}}
              <a href="http://blog.screwdriver.cd" class="icon blog">
                {{inline-svg "tumblr" class="img"}}<span>Blog</span>
              </a>
            {{/ddm.item}}
            {{#ddm.item}}
              <a href={{slackUrl}} class="icon community">
                {{inline-svg "slack" class="img"}}<span>Slack Channel</span>
              </a>
            {{/ddm.item}}
            {{#ddm.item}}
              <a href="https://github.com/screwdriver-cd" class="icon github">
                {{inline-svg "github" class="img"}}<span>Github</span>
              </a>
            {{/ddm.item}}
          {{/dd.menu}}
        {{/nav.dropdown}}
      {{/nav.item}}
      {{#nav.item}}
        {{#if session.isAuthenticated}}
          {{#nav.dropdown as |dd|}}
            {{#dd.toggle class="icon profile-outline"}}
              {{inline-svg "profile-outline" class="img"}}
              <span class="icontitle">{{session.data.authenticated.username}}</span>
              <span class="caret"></span>
            {{/dd.toggle}}
            {{#dd.menu as |ddm|}}
              {{#ddm.item}}<span class="title">ACCOUNTS</span>{{/ddm.item}}
              {{#each scmContexts as |scmContext|}}
                {{#ddm.item}}
                  {{#if scmContext.isSignedIn}}
                    <a class="active">{{fa-icon scmContext.iconType}} {{scmContext.displayName}} <span>active</span></a>
                  {{else}}
                    <a href="#authenticate"{{action "authenticate" scmContext.context}}>
                      {{fa-icon scmContext.iconType}} {{scmContext.displayName}}
                    </a>
                  {{/if}}
                {{/ddm.item}}
              {{/each}}
              {{ddm.divider}}
              {{#if (not session.data.authenticated.isGuest)}}
                {{#ddm.item}}{{#link-to "user-settings" title="User Settings"}}User Settings{{/link-to}}{{/ddm.item}}
              {{/if}}
              {{#ddm.item}}
                <a href="#signout" {{action "invalidateSession"}} class="logout" title="Sign out of Screwdriver">Sign out</a>
              {{/ddm.item}}
            {{/dd.menu}}
          {{/nav.dropdown}}
        {{else}}
          {{#link-to "login" (query-params fromUrl=currentUrl) title="Sign in to Screwdriver" class="icon profile-outline"}}
            {{inline-svg "profile-outline" class="img"}}
            <span class="icontitle">Sign in</span>
          {{/link-to}}
        {{/if}}
      {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

<div class="tooltips">
  {{#bs-tooltip placement="bottom" triggerElement=".icon.create" renderInPlace=true}}Create a new Pipeline{{/bs-tooltip}}
  {{#if session.isAuthenticated}}
    {{#each scmContexts as |scmContext|}}
      {{#if scmContext.isSignedIn}}
        {{#bs-tooltip placement="bottom" triggerElement=".icon.profile-outline" triggerEvents="hover" renderInPlace=true}}Currently signed in to a {{scmContext.displayName}} account.{{/bs-tooltip}}
      {{/if}}
    {{/each}}
  {{else}}
    {{#bs-tooltip placement="bottom" triggerElement=".icon.profile-outline" renderInPlace=true}}Sign in to Screwdriver{{/bs-tooltip}}
  {{/if}}
</div>