<div class="topBar">
  {{#link-to "home" class="logo" title="Screwdriver Home"}}
    <img src="/assets/screwdriver.png" alt="Screwdriver Home">
  {{/link-to}}

  {{#if showSearch}}
  <div class="search">
    <form class="search-form" action="#search" method="GET">
      {{input class="search-input" name="query" placeholder="Enter your search terms" focus-in="onFocus" focus-out="onBlur"}}
    </form>
    <div class="search-icon">
      {{fa-icon "fa-search"}}
    </div>
  </div>
  {{/if}}

  <div class="right">
    {{#link-to "create" title="Create a new Pipeline" class="icon create"}}
      {{inline-svg "write" class="img"}}
      <span>Create</span>
    {{/link-to}}
    <a href="http://screwdriver.cd" class="icon docs">
      {{inline-svg "documentation" class="img"}}
      <span>Docs</span>
    </a>
    <a href="http://blog.screwdriver.cd" class="icon blog">
      {{inline-svg "blog" class="img"}}
      <span>Blog</span>
    </a>
    <a href="http://slack.screwdriver.cd" class="icon community">
      {{inline-svg "community" class="img"}}
      <span>Slack</span>
    </a>
    <a href="https://github.com/screwdriver-cd" class="icon github">
      {{inline-svg "github" class="img"}}
      <span>GitHub</span>
    </a>
    {{#if session.isAuthenticated}}
      <a {{action 'invalidateSession'}} class="icon auth">
        {{inline-svg "login" class="img"}}
        <span>Logout</span>
      </a>
    {{else}}
      {{#link-to "login" class="icon auth"}}{{inline-svg "login" class="img"}}<span>Login</span>{{/link-to}}
    {{/if}}
  </div>
</div>
