<BsNavbar @type="dark" @backgroundColor="grey-800" as |navbar|>
  <div class="navbar-header">
    <LinkTo @route="home" class="logo navbar-brand" title="Screwdriver Home">
      {{svg-jar "Screwdriver_Logo_FullWhite" class="img"}}
    </LinkTo>
    <navbar.toggle/>
  </div>
  <navbar.content>
    <navbar.nav class="mr-auto" as |nav|>
      <nav.item>
        <nav.link-to @route="home" clsass="icon">Collection</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.dropdown as |dd|>
          <dd.toggle class="icon tools">
            <span>
              Tools
            </span>
            <span class="caret"></span>
          </dd.toggle>
          <dd.menu as |ddm|>
            <ddm.item>
              <ddm.linkTo @route="validator" class="icon validator">
                <span>
                  Validator
                </span>
              </ddm.linkTo>
            </ddm.item>
            <ddm.item>
              <li class="icon templates dropdown-submenu">
                 <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Templates</span>
                 <ul class="dropdown-menu">
                  <li class="job-template"><ddm.linkTo @route="templates.job">Job Template</ddm.linkTo></li>
                  <li class="pipeline-template"><ddm.linkTo @route="templates.pipeline">Pipeline Template</ddm.linkTo></li>
                 </ul>
               </li>
            </ddm.item>

            <ddm.item>
              <ddm.linkTo @route="commands" class="icon commands">
                <span>
                  Commands
                </span>
              </ddm.linkTo>
            </ddm.item>
            <ddm.item>
              <ddm.linkTo
                @route="pipeline-visualizer"
                class="icon pipeline-visualizer"
              >
                <span>
                  Visualizer
                </span>
              </ddm.linkTo>
            </ddm.item>
          </dd.menu>
        </nav.dropdown>
      </nav.item>
      {{#if @session.isAuthenticated}}
        <nav.item>
          <nav.link-to onclick={{action "openCreatePipeline"}} class="icon create">
            {{svg-jar "add-circle" class="img" width="20px"}}
            <span>
              Create Pipeline
            </span>
          </nav.link-to>
        </nav.item>
      {{/if}}
    </navbar.nav>
    <navbar.nav as |nav|>
      {{#if this.showSearch}}
        <nav.item>
          <form class="navbar-form" role="search">
            <Input
              class="search-input"
              @name="query"
              placeholder="Search Screwdriver pipelines"
              @enter={{action "triggerSearch"}}
              @escape-press={{action "cancelSearch"}}
              autofocus={{true}}
              @value={{this.searchTerm}}
            />
            <button class="search-button" {{action "triggerSearch"}}>
              {{svg-jar "search" class="img"}}
            </button>
          </form>
        </nav.item>
      {{else}}
        <nav.item>
          <nav.link-to onclick={{action "openSearchForm" preventDefault=false}} class="icon search">
            {{svg-jar "search" class="img"}}
          </nav.link-to>
        </nav.item>
      {{/if}}
      <nav.item>
        <nav.dropdown as |dd|>
          <dd.toggle class="icon docs-outline">
            {{svg-jar "help-circle" class="img"}}
          </dd.toggle>
          <dd.menu as |ddm|>
            <ddm.item>
              <a
                href={{this.docUrl}}
                class="dropdown-item icon docs"
                title="Documentation and Contact"
                target="_blank"
              >
                {{svg-jar "file-text" class="img"}}
                <span>
                  Documentation
                </span>
              </a>
            </ddm.item>
            <ddm.item>
              <a class="release dropdown-item">
                <FaIcon @icon="tag" />
                <span>
                  {{this.releaseVersion}}
                </span>
              </a>
            </ddm.item>
            {{ddm.divider}}
            <ddm.item>
              <a href="http://blog.screwdriver.cd" target="_blank" class="icon blog dropdown-item">
                {{svg-jar "tumblr" class="img"}}
                  Blog
              </a>
            </ddm.item>
            <ddm.item>
              <a href={{this.slackUrl}} target="_blank" class="icon community dropdown-item">
                {{svg-jar "slack" class="img"}}
                  Slack Workspace
              </a>
            </ddm.item>
            <ddm.item>
              <a href="https://github.com/screwdriver-cd" target="_blank" class="icon github dropdown-item">
                {{svg-jar "github" class="img"}}
                  GitHub
              </a>
            </ddm.item>
          </dd.menu>
        </nav.dropdown>
      </nav.item>
      <nav.item>
        {{#if @session.isAuthenticated}}
          <nav.dropdown as |dd|>
            <dd.toggle class="icon profile-outline">
              {{svg-jar "profile-outline" class="img"}}
              <span class="icontitle">
                {{@session.data.authenticated.username}}
              </span>
              <span class="caret"></span>
            </dd.toggle>
            <dd.menu as |ddm|>
              <ddm.item>
                <span class="title">
                  ACCOUNTS
                </span>
              </ddm.item>
              {{#each @scmContexts as |scmContext|}}
                {{#unless scmContext.readOnly}}
                  <ddm.item>
                    {{#if scmContext.isSignedIn}}
                      <a class="active dropdown-item">
                        <FaIcon @icon={{scmContext.iconType}} @prefix="fab"/>
                        {{scmContext.displayName}}
                        <span>
                          active
                        </span>
                      </a>
                    {{else}}
                      <a
                        href="#authenticate"
                        {{action "authenticate" scmContext.context}}
                        class="dropdown-item"
                      >
                        <FaIcon @icon={{scmContext.iconType}} @prefix="fab"/>
                        {{scmContext.displayName}}
                      </a>
                    {{/if}}
                  </ddm.item>
                {{/unless}}
              {{/each}}
              {{ddm.divider}}
              {{#if (not @session.data.authenticated.isGuest)}}
                <ddm.item>
                  <ddm.linkTo @route="user-settings" @title="User Settings">
                    User Settings
                  </ddm.linkTo>
                </ddm.item>
              {{/if}}
              <ddm.item>
                <a
                  href="#signout"
                  class="logout dropdown-item"
                  title="Sign out of Screwdriver"
                  {{action "invalidateSession"}}
                >
                  Sign out
                </a>
              </ddm.item>
            </dd.menu>
          </nav.dropdown>
        {{else}}
          <nav.dropdown as |dd|>
          <LinkTo
            @route="login"
            @query={{hash fromUrl=@currentUrl}}
            title="Sign in to Screwdriver"
            class="icon profile-outline dropdown-item"
          >
            {{svg-jar "profile-outline" class="img"}}
          </LinkTo>
          </nav.dropdown>
        {{/if}}
      </nav.item>
    </navbar.nav>
  </navbar.content>

</BsNavbar>

<div class="tooltips">
  {{#if @session.isAuthenticated}}
    <BsTooltip
      @placement="bottom"
      @triggerElement=".icon.create"
      @renderInPlace={{true}}
    >
      Create a new Pipeline
    </BsTooltip>
  {{/if}}
  {{#if @session.isAuthenticated}}
    {{#each @scmContexts as |scmContext|}}
      {{#if scmContext.isSignedIn}}
        <BsTooltip
          @placement="bottom"
          @triggerElement=".icon.profile-outline"
          @triggerEvents="hover"
          @renderInPlace={{true}}
        >
          Currently signed in to a {{scmContext.displayName}} account.
        </BsTooltip>
      {{/if}}
    {{/each}}
  {{else}}
    <BsTooltip
      @placement="bottom"
      @triggerElement=".icon.profile-outline"
      @renderInPlace={{true}}
    >
      Sign in to Screwdriver
    </BsTooltip>
  {{/if}}
</div>
