{{#bs-navbar as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "home" class="logo navbar-brand" title="Screwdriver Home"}}{{inline-svg "Screwdriver_Logo_FullWhite" class="img"}}{{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#if showSearch}}
      {{#nav.item}}
      <form class="navbar-form navbar-left" role="search">
        {{input class="search-input" name="query" placeholder="Search Screwdriver pipelines" enter='triggerSearch'}}
        <button class="search-button" {{action 'triggerSearch'}}>{{fa-icon "fa-search"}}</button>
      </form>
      {{/nav.item}}
      {{/if}}
    {{/navbar.nav}}
    {{#navbar.nav classNames="navbar-nav navbar-right" as |nav|}}
      {{#nav.item}}
        {{#link-to "create" class="icon create"}}
        {{inline-svg "write" class="img"}}
        <span class='icontitle'>Create Pipeline</span>
        {{/link-to}}
      {{/nav.item}}
      {{#nav.item}}
        <a href="http://docs.screwdriver.cd" class="icon docs">
          {{inline-svg "documentation" class="img"}}
          <span class='icontitle'>Documentation</span>
        </a>
      {{/nav.item}}
      {{#nav.item}}
        <a href="http://blog.screwdriver.cd" class="icon blog">
          {{inline-svg "blog" class="img"}}
          <span class='icontitle'>Screwdriver Blog</span>
        </a>
      {{/nav.item}}
      {{#nav.item}}
        <a href="http://slack.screwdriver.cd" class="icon community">
          {{inline-svg "community" class="img"}}
          <span class='icontitle'>Slack Channel</span>
        </a>
      {{/nav.item}}
      {{#nav.item}}
        <a href="https://github.com/screwdriver-cd" class="icon github">
          {{inline-svg "github" class="img"}}
          <span class='icontitle'>Github</span>

        </a>
      {{/nav.item}}
      {{#nav.item}}
        {{#if session.isAuthenticated}}
          <a {{action 'invalidateSession'}} title="Log out of Screwdriver" class="icon auth">
            {{inline-svg "login" class="img"}}
            <span class='icontitle'>Log out</span>
          </a>
        {{else}}
          {{#link-to "login" title="Login to Screwdriver" class="icon auth"}}
          {{inline-svg "login" class="img"}}
          <span class='icontitle'>Log in</span>
          {{/link-to}}
        {{/if}}
      {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}
<div class="tooltips">
  {{#bs-tooltip placement="bottom" triggerElement=".icon.create" renderInPlace=true}}Create a new Pipeline{{/bs-tooltip}}
  {{#bs-tooltip placement="bottom" triggerElement=".icon.docs" renderInPlace=true}}Screwdriver Documentation{{/bs-tooltip}}
  {{#bs-tooltip placement="bottom" triggerElement=".icon.blog" renderInPlace=true}}Screwdriver Blog{{/bs-tooltip}}
  {{#bs-tooltip placement="bottom" triggerElement=".icon.community" renderInPlace=true}}Screwdriver Slack Channel{{/bs-tooltip}}
  {{#bs-tooltip placement="bottom" triggerElement=".icon.github" renderInPlace=true}}Screwdriver Github Repo{{/bs-tooltip}}
  {{#bs-tooltip placement="bottom" triggerElement=".icon.auth" renderInPlace=true}}
    {{#if session.isAuthenticated}}Log out of Screwdriver{{else}}Login to Screwdriver{{/if}}
  {{/bs-tooltip}}
</div>