<div class="content">
  {{#if tooltipData.externalTrigger}}
    {{#link-to "pipeline" tooltipData.externalTrigger.pipelineId}}Go to remote pipeline{{/link-to}}
  {{else}}
    {{#if tooltipData.job.buildId}}
      {{#link-to "pipeline.build" tooltipData.job.buildId}}Go to build details{{/link-to}}
    {{/if}}
    {{#if displayRestartButton}}
      {{#if (eq tooltipData.job.status "DISABLED")}}
        <p>{{tooltipData.job.stateChangeMessage}}</p>
      {{else}}
        <a {{action confirmStartBuild}}>Start pipeline from here</a>
      {{/if}}
    {{/if}}
    {{#if tooltipData.displayStop}}
      <a {{action stopBuild tooltipData.job}}>Stop build</a>
    {{/if}}
  {{/if}}
  {{yield}}
</div>