<div class="content">
  {{#if this.tooltipData.externalTrigger}}
    <LinkTo @route="pipeline" @model={{this.tooltipData.externalTrigger.pipelineId}}>
      Go to remote pipeline
    </LinkTo>
  {{else if this.tooltipData.triggers}}
    {{#each this.tooltipData.triggers as |t|}}
      <LinkTo @route="pipeline" @model={{t.pipelineId}}>
        Go to downstream pipeline {{t.triggerName}}
      </LinkTo>
    {{/each}}
  {{else}}
    {{#if (not-eq this.tooltipData.job.type "JOB_GROUP")}}
      <LinkTo
        @route="pipeline.build"
        @model={{this.tooltipData.job.buildId}}
        @disabled={{not (and this.tooltipData.job.buildId (not-eq this.tooltipData.job.status "CREATED"))}}
      >
        Go to build details
      </LinkTo>

      <LinkTo @route="pipeline.metrics" @query={{hash jobId=this.tooltipData.job.id}}>
        Go to build metrics
      </LinkTo>

      {{#if this.tooltipData.job.isDisabled}}
        {{#if this.tooltipData.job.manualStartDisabled}}
          <p>
            Disabled by annotation
          </p>
        {{else}}
          <p>
            {{this.tooltipData.job.stateChangeMessage}}
          </p>
          <a href="#" {{action "toggleJob" this.tooltipData.job.name}}>
            Enable this job
          </a>
        {{/if}}
      {{else}}
        {{#if this.canRestartPipeline}}
          {{#if this.tooltipData.job.manualStartDisabled}}
            <p>
              Disabled manually starting
            </p>
          {{else}}
            {{#if (eq this.canJobStartFromView true)}}
              <a href="#" {{action this.confirmStartBuild}}>
                {{if this.tooltipData.job.status "Restart" "Start"}} pipeline from here
              </a>
            {{/if}}
          {{/if}}
        {{/if}}
        {{#if (eq this.tooltipData.job.isDisabled false)}}
          <a href="#" {{action "toggleJob" this.tooltipData.job.name}}>
            Disable this job
          </a>
        {{/if}}
      {{/if}}

      {{#if this.tooltipData.displayStop}}
        <a href="#" {{action this.stopBuild this.tooltipData.selectedEvent this.tooltipData.job}}>
          Stop build
        </a>
      {{/if}}
      {{#if (eq this.tooltipData.job.status "FROZEN")}}
        <a href="#" {{action this.stopBuild this.tooltipData.selectedEvent this.tooltipData.job}}>
          Stop frozen build
        </a>
      {{/if}}
    {{/if}}

    {{#if this.tooltipData.job.description}}
      {{#if (not-eq this.tooltipData.job.type "JOB_GROUP")}}
        <hr>
      {{/if}}
      {{#if this.enableHiddenDescription}}
        <span class="text-nowrap" onClick={{action "clickDescription"}}>
          {{#if this.isDescriptionClicked}}
            <FaIcon @icon="caret-down" />
            {{this.tooltipData.job.description}}
          {{else}}
            <FaIcon @icon="caret-right" />
            {{this.jobDescription}}
          {{/if}}
        </span>
      {{else}}
        <span>
          {{this.tooltipData.job.description}}
        </span>
      {{/if}}
    {{/if}}
  {{/if}}
  {{yield}}
</div>
<JobToggleModal
  @showToggleModal={{this.showToggleModal}}
  @updateMessage={{action "updateMessage"}}
  @name={{this.toggleJobName}}
  @stateChange={{this.stateChange}}
/>