<div class="content">
  {{#if tooltipData.externalTrigger}}
    {{#link-to "pipeline" tooltipData.externalTrigger.pipelineId}}Go to remote pipeline{{/link-to}}
  {{else if tooltipData.triggers}}
    {{#each tooltipData.triggers as |t|}}
      {{#link-to "pipeline" t.pipelineId}}Go to downstream pipeline {{t.triggerName}}{{/link-to}}
    {{/each}}
  {{else}}
    {{#if tooltipData.job.buildId}}
      {{#if (not-eq tooltipData.job.status "CREATED")}}
        {{#link-to "pipeline.build" tooltipData.job.buildId}}Go to build details{{/link-to}}
      {{/if}}
    {{/if}}
    {{#link-to "pipeline.metrics" (query-params jobId=tooltipData.job.id)}}Go to build metrics{{/link-to}}

    {{#if tooltipData.job.isDisabled}}
      <p>{{tooltipData.job.stateChangeMessage}}</p>
      <a {{action "toggleJob" tooltipData.job.id tooltipData.job.name true}}>Enable this job</a>
    {{else}}
      {{#if displayRestartButton}}
        {{#if tooltipData.job.manualStartDisabled}}
          <p>Disabled manually starting</p>
        {{else}}
          {{#if (eq isPrChainJob false)}}
            <a {{action confirmStartBuild}}>{{if tooltipData.job.status "Restart" "Start"}} pipeline from here</a>
          {{else}}
            {{#if (eq prBuildExists true)}}
              <a {{action confirmStartBuild}}>{{if tooltipData.job.status "Restart" "Start"}} pipeline from here</a>
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}
      <a {{action "toggleJob" tooltipData.job.id tooltipData.job.name false}}>Disable this job</a>
    {{/if}}

    {{#if tooltipData.displayStop}}
      <a {{action stopBuild tooltipData.selectedEvent tooltipData.job}}>Stop build</a>
    {{/if}}
    {{#if (eq tooltipData.job.status "FROZEN")}}
      <a {{action stopBuild tooltipData.selectedEvent tooltipData.job}}>Stop frozen build</a>
    {{/if}}
  {{/if}}
  {{yield}}
</div>
{{job-toggle-modal showToggleModal=showToggleModal updateMessage=(action "updateMessage") name=toggleJobName stateChange=stateChange}}
