<div class="history-cell">
  {{#if @record.builds}}
    {{#each @record.builds as |build|}}
      <span class="build-history-container">
        {{#if (not-eq build.status "CREATED")}}
            <LinkTo
              @route="pipeline.build"
              @models={{array @record.job.pipelineId build.id}}
              @title={{build.id}}
            >
              <FaIcon
                @icon="circle"
                @fixedWidth="true"
                class={{build.status}}
              />
            </LinkTo>
            <BsTooltip
              @placement="bottom"
              @renderInPlace={{true}}
              class="tooltip"
            >
              <p>Build# {{build.id}}</p>
              <p>SHA - {{this.truncateSha build}}</p>
              {{#if build.startTime}}
                <p>Start - {{moment-format build.startTime "MM/DD/YYYY HH:mmA"}}</p>
              {{/if}}
              {{#if build.endTime}}
                <p>End - {{moment-format build.endTime "MM/DD/YYYY HH:mmA"}}</p>
              {{/if}}
            </BsTooltip>
        {{else}}
          <div class="created">
            <FaIcon
              @icon="circle"
              @fixedWidth="true"
              class={{build.status}}
            />
          </div>
        {{/if}}
      </span>
    {{/each}}
  {{/if}}
</div>
