<div id="workflow-graph-tooltip" {{did-insert this.setTooltipPosition}}>
  <div class="triangle" />

  {{#if this.canStartStageFromView}}
    <a
      id="start-stage-link"
      href="#"
      {{on "click" (fn this.openConfirmActionModal 'start')}}
    >
      Start pipeline from this stage
    </a>
    <a
      id="restart-stage-link"
      href="#"
      {{on "click" (fn this.openConfirmActionModal 'restart')}}
    >
      Restart pipeline from this stage
    </a>
  {{else}}
    <div>Can not start/restart stage</div>
  {{/if}}
</div>

{{#if this.showConfirmActionModal}}
  <Pipeline::Modal::ConfirmAction
    @action={{this.stageAction}}
    @event={{@event}}
    @job={{this.job}}
    @stage={{@d3Data.stage}}
    @closeModal={{this.closeConfirmActionModal}}
  />
{{/if}}
