<div
  id="pipeline-workflow-container"
  {{did-update this.update @event @pipelineId}}
>
  <Pipeline::Workflow::EventRail
    @event={{this.eventRailAnchor}}
    @prNums={{@prNums}}
    @reloadEvents={{@reloadEventRail}}
  />

  {{#if this.event}}
    <div id="workflow-display-container">
      <div id="workflow-display-controls">
        <BsButton
          id="show-workflow-graph-button"
          @type="primary"
          @outline={{true}}
          @onClick={{fn this.setShowGraph}}
          disabled={{this.showGraph}}
          title="View workflow as graph"
        >
          <FaIcon
            @icon="code-branch"
            @rotation={{90}}
            @fixedWidth="true"
            @prefix="fa"
          />
        </BsButton>
        <BsButton
          id="show-workflow-table-button"
          @type="primary"
          @outline={{true}}
          @onClick={{fn this.setShowEventJobsTable}}
          disabled={{this.showEventJobsTable}}
          title="View workflow as table"
        >
          <FaIcon
            @icon="table-list"
            @fixedWidth="true"
            @prefix="fa"
          />
        </BsButton>

        {{#if (and this.showGraph this.hasDownstreamTriggers)}}
          <div
            class="downstream-triggers-container"
            title="Toggle to {{if this.showDownstreamTriggers "hide" "show"}} the downstream trigger nodes."
          >
            <XToggle
              @size="small"
              @theme="light"
              @showLabels={{true}}
              @value={{this.showDownstreamTriggers}}
              @offLabel="Hide triggers"
              @onLabel="Show triggers"
              @onToggle={{fn this.toggleShowDownstreamTriggers}}
            />
          </div>
        {{/if}}
      </div>
      {{#if this.hasPrRestrictions}}
        <div id="pr-restrictions">
          <div class="restriction-message">
            Pipeline configuration has restricted automatic building of Pull Requests:
          </div>
          {{#if this.hasBranchPrRestriction}}
            <svg class="restriction-icon-container">
              <FaIcon
                @icon="code-branch"
                @fixedWidth="true"
                @prefix="fa"
              />
              <title>Pull requests from branches are disabled from automatically running</title>
            </svg>
          {{/if}}
          {{#if this.hasForkPrRestriction}}
            <svg class="restriction-icon-container">
              <FaIcon
                @icon="code-fork"
                @fixedWidth="true"
                @prefix="fa"
              />
              <title>Pull requests from forked repositories are disabled from automatically running</title>
            </svg>
          {{/if}}
        </div>
      {{/if}}
      <div id="display-container">
        {{#if this.showGraph}}
          <Pipeline::Workflow::Graph
            @workflowGraph={{this.workflowGraphToDisplay}}
            @event={{this.event}}
            @builds={{this.builds}}
            @stageBuilds={{this.stageBuilds}}
            @collapsedStages={{this.collapsedStages}}
            @chainPr={{this.pipeline.prChain}}
            @displayJobNameLength={{this.displayJobNameLength}}
            @setShowTooltip={{this.setShowTooltip}}
            @displayStageTooltip={{true}}
            @setShowStageTooltip={{this.setShowStageTooltip}}
            @toggleStageView={{this.toggleStageView}}
          />

          {{#if this.showTooltip}}
            <Pipeline::Workflow::Tooltip
              @d3Data={{this.d3Data}}
              @event={{this.event}}
              @builds={{this.builds}}
              @workflowGraph={{this.workflowGraphToDisplay}}
            />
          {{/if}}
          {{#if this.showStageTooltip}}
            <Pipeline::Workflow::Tooltip::Stage
              @d3Data={{this.d3Data}}
              @event={{this.event}}
              @builds={{this.builds}}
              @workflowGraph={{this.workflowGraphToDisplay}}
            />
          {{/if}}
        {{else if this.showEventJobsTable}}
          <Pipeline::Jobs::Table
            @event={{this.event}}
          />
        {{/if}}
      </div>
    </div>
  {{/if}}

  {{#if @noEvents}}
    <div id="no-events">
      This pipeline has no {{if this.isPR "open pull requests" "events"}} yet
    </div>
  {{/if}}

  {{#if @invalidEvent}}
    <div id="invalid-event">
      {{if this.isPR "Pull request" "Event"}} does not exist for this pipeline
    </div>
  {{/if}}
</div>
