<div>
  {{#if removePipelineError}}
    {{info-message message=removePipelineError type="warning" icon="exclamation-triangle"}}
  {{/if}}
  <div class="header row">
    <div class="col-md-7">
      <h2 class="header__name">{{collection.name}}</h2>
        {{#if collection.description}}
          <p class="header__description">{{collection.description}}</p>
        {{/if}}
    </div>
    <div class="header__sort-pipelines col-md-5">
      Sort By
      {{#bs-dropdown as |dd|}}
        {{#bs-button}}{{sortByText}}{{/bs-button}}
        {{#dd.button}}{{fa-icon "fa-caret-down"}}{{/dd.button}}
        {{#dd.menu as |menu|}}
          {{#menu.item}}
            <a onclick={{action "setSortBy" "name"}}>Name</a>
          {{/menu.item}}
          {{#menu.item}}
            <a onclick={{action "setSortBy" "lastBuildTime"}}>Last Build</a>
          {{/menu.item}}
        {{/dd.menu}}
      {{/bs-dropdown}}
    </div>
  </div>
  <div class="collection-table row">
    <table class="col-md-10">
      <thead>
        <tr>
          <th class="app-id" rowspan=2>Name</th>
          <th class="branch" rowspan=2>Branch</th>
          <th class="health" rowspan=2>Last Build</th>
          <th class="prs" colspan=2>Pull Requests</th>
          {{#if session.isAuthenticated}}
            <th rowspan=2></th>
          {{/if}}
        </tr>
        <tr>
          <th>Open</th>
          <th>Failing</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedPipelines as |pipeline|}}
          <tr class="collection-pipeline">
            <td class="app-id">
              {{#highlight-terms query}}{{#link-to "pipeline" pipeline.id}}{{pipeline.scmRepo.name}}{{/link-to}}{{/highlight-terms}}
            </td>
            <td class="branch">{{fa-icon "fa-code-fork"}}{{pipeline.scmRepo.branch}}</td>
            <td class="health">
              {{#each pipeline.workflow as |job index|}}
                {{#if pipeline.lastBuilds}}
                  {{build-health pipelineId=pipeline.id build=(index-of pipeline.lastBuilds index) jobName=job}}
                {{else}}
                  {{build-health}}
                {{/if}}
              {{/each}}
            </td>
            <td class="prs--open">
              {{#if pipeline.prs}}
                {{pipeline.prs.open}}
              {{/if}}
            </td>
            <td class="prs--failing">
              {{#if pipeline.prs}}
                {{pipeline.prs.failing}}
              {{/if}}
            </td>
            {{#if session.isAuthenticated}}
              <td onclick={{action "pipelineRemove" pipeline.id collection.id}} class="collection-pipeline__remove">
                <span>
                  &times;
                </span>
              </td>
            {{/if}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
