<div class="collection-view">
  {{#if this.addCollectionError}}
    <InfoMessage
      @message={{this.addCollectionError}}
      @type="warning"
      @icon="triangle-exclamation"
    />
  {{/if}}
  {{#if this.removePipelineError}}
    <InfoMessage
      @message={{this.removePipelineError}}
      @type="warning"
      @icon="triangle-exclamation"
    />
  {{/if}}
  {{#if this.linkCopied}}
    <InfoMessage @message={{this.linkCopied}} @type="success" @icon="check" />
  {{/if}}
  {{#if this.pipelineRemovedMessage}}
    <InfoMessage
      @message={{this.pipelineRemovedMessage}}
      @type="success"
      @icon="check"
    />
  {{/if}}
  <div class="header row">
    <div class="col-12 col-sm-8">
      <h2 class="header__name">
        {{this.collection.name}}
      </h2>

      {{#if (eq this.collection.type "normal")}}
        <span
          onclick={{action "toggleAddPipelineModal"}}
          title="Add pipeline(s) to collection"
          class="collection-operation add-pipeline-operation"
        >
          {{svg-jar "add" class="img"}}
        </span>
        <span
          onclick={{action "toggleSettingModal"}}
          title="Collection settings"
          class="collection-operation settings-operation"
        >
          {{svg-jar "setting" class="img"}}
        </span>
      {{/if}}

      <span
        onclick={{action "copyLink"}}
        title="Copy collection link"
        class="collection-operation copy-operation"
      >
        {{svg-jar "link" class="img"}}
      </span>

      <BsModal
        class="add-pipeline-modal"
        @open={{this.showAddPipelineModal}}
        @onHidden={{action "toggleAddPipelineModal"}} as |modal|
      >
        <modal.header>
          <h4 class="modal-title">
            Add Pipeline
          </h4>
        </modal.header>
        <modal.body>
          <PipelineSearchPanel
            @searchedPipelines={{this.searchedPipelines}}
            @searchPipelines={{action "searchPipelines"}}
            @selectSearchedPipeline={{action "selectSearchedPipeline"}}
          />
        </modal.body>
      </BsModal>

      <BsModal
        @class="setting-modal"
        @open={{this.showSettingModal}}
        @onHide={{action "toggleSettingModal"}}
        @onSubmit={{action "onSubmitSettingModal"}} as |modal|
      >
        <modal.header>
          <h4 class="modal-title">
            Settings
          </h4>
        </modal.header>
        <modal.body>
          <BsForm @formLayout="vertical" as |form|>
            <form.element
              @controlType="text"
              @label="Name"
              @required={{true}}
              @placeholder="Screwdriver CI/CD"
              @value={{this.collection.name}}
              @onChange={{action "updateCollectionName"}}
            />
            <form.element
              @controlType="textarea"
              @label="Description"
              @placeholder="Collection Description"
              @value={{this.collection.description}}
              @onChange={{action "updateCollectionDescription"}}
            />
          </BsForm>
        </modal.body>
        <modal.footer>
          <BsButton @onClick={{action modal.close}}>
            Cancel
          </BsButton>
          <BsButton
            @type="primary"
            disabled={{this.isModelSaveDisabled}}
            @onClick={{action "onSubmitSettingModal"}}
          >
            Save
          </BsButton>
        </modal.footer>
      </BsModal>

      {{#if this.collection.description}}
        <div>
          <p class="header__description">
            {{this.collection.description}}
          </p>
        </div>
      {{else}}
        <p class="description-placeholder">
          Add a description
        </p>
      {{/if}}
    </div>
    <div class="header__organize col-6 col-sm-3">
      {{#if this.showOrganizeButton}}
        {{#if this.isOrganizing}}
          {{#if this.showOperations}}
            <span>
              {{this.selectedPipelines.length}} Selected
            </span>
            {{#unless this.isDefaultCollection}}
              <BsButton
                class="operation-button"
                onclick={{action "removeSelectedPipelines"}}
              >
                Remove
              </BsButton>
            {{/unless}}
            <CollectionDropdown
              class="copy-pipeline"
              @collections={{this.collections}}
              @addMultipleToCollection={{action "addMultipleToCollection"}}
              @buttonClass="operation-button"
              @buttonText="Copy To"
            />
          {{/if}}
          <BsButton
            class="cancel-organize-button"
            onclick={{action "resetView"}}
          >
            Cancel
          </BsButton>
        {{else}}
          <BsButton class="organize-button" onclick={{action "organize"}}>
            Organize
          </BsButton>
        {{/if}}
      {{/if}}
    </div>
    {{#if this.showViewSwitch}}
      <BsButtonGroup
        class="header__change-view col-6 col-sm-1"
        @value={{this.activeViewOptionValue}}
        @type="radio"
        @onChange={{action (mut this.activeViewOptionValue)}} as |bg|
      >
        {{#each this.viewOptions as |viewOption|}}
          <bg.button @value={{viewOption.value}} onclick={{action "resetView"}}>
            {{svg-jar viewOption.svgName class="img"}}
          </bg.button>
        {{/each}}
      </BsButtonGroup>
    {{/if}}
  </div>

  {{#if (eq this.sortedPipelines.length 0)}}
    <div class="collection-empty-view">
      <div class="guide">
        <img
          class="guide-image"
          src="/assets/images/jobs-example.png"
          alt="example diagram of pipeline jobs"
        />
        <p class="guide-text">
          You haven't created a pipeline yet. Once you create a pipeline it will show up in this collection. To help you get started check out our documentation or if you already know what you are doing, create a new pipeline
        </p>
        <div class="guide-buttons">
          <LinkTo @route="create">
            <BsButton
              class="guide-create-pipeline-button"
              onclick={{action "organize"}}
            >
              Create Pipeline
            </BsButton>
          </LinkTo>
          <a href="https://docs.screwdriver.cd/" target="_blank" rel="noopener">
            <BsButton class="guide-docs-button" onclick={{action "goToDocs"}}>
              View Docs
            </BsButton>
          </a>
        </div>
      </div>
    </div>
  {{else}}
    {{#if this.isListView}}
      <div class="collection-list-view row">
        <table class="col-md-12">
          <thead>
            <tr>
              <th class="collection-pipeline__choose"></th>
              <th class="app-id" rowspan="1" onclick={{action "setSortBy" "pipelineName" (if (eq this.sortOrder "desc") "asc" "desc")}} >
                {{#if this.hasAliasName}}
                  Alias /
                {{/if}}
                Name
                <span class="icon-wrapper">
                  {{#if (eq this.sortBy "pipelineName")}}
                    {{#if (eq this.sortOrder "desc")}}
                      <FaIcon @icon="sort-up" />
                    {{else}}
                      <FaIcon @icon="sort-down" />
                    {{/if}}
                  {{else}}
                    <FaIcon @icon="sort" />
                  {{/if}}
                </span>
              </th>
              <th class="branch" rowspan="1" onclick={{action "setSortBy" "branch" (if (eq this.sortOrder "desc") "asc" "desc")}} >
                Branch
                <span class="icon-wrapper">
                  {{#if (eq this.sortBy "branch")}}
                    {{#if (eq this.sortOrder "desc")}}
                      <FaIcon @icon="sort-up" />
                    {{else}}
                      <FaIcon @icon="sort-down" />
                    {{/if}}
                  {{else}}
                    <FaIcon @icon="sort" />
                  {{/if}}
                </span>
              </th>
              <th class="last-run" rowspan="1" onclick={{action "setSortBy" "lastRun" (if (eq this.sortOrder "desc") "asc" "desc")}}>
                Last run
                <span class="icon-wrapper">
                  {{#if (eq this.sortBy "lastRun")}}
                    {{#if (eq this.sortOrder "desc")}}
                      <FaIcon @icon="sort-up" />
                    {{else}}
                      <FaIcon @icon="sort-down" />
                    {{/if}}
                  {{else}}
                    <FaIcon @icon="sort" />
                  {{/if}}
                </span>
              </th>
              <th class="duration" rowspan="1" onclick={{action "setSortBy" "duration" (if (eq this.sortOrder "desc") "asc" "desc")}} >
                Duration
                <span class="icon-wrapper">
                  {{#if (eq this.sortBy "duration")}}
                    {{#if (eq this.sortOrder "desc")}}
                      <FaIcon @icon="sort-up" />
                    {{else}}
                      <FaIcon @icon="sort-down" />
                    {{/if}}
                  {{else}}
                    <FaIcon @icon="sort" />
                  {{/if}}
                </span>
              </th>
              <th class="status" rowspan="1" onclick={{action "setSortBy" "lastRunStatus" (if (eq this.sortOrder "desc") "asc" "desc")}} >
                Status
                <span class="icon-wrapper">
                  {{#if (eq this.sortBy "lastRunStatus")}}
                    {{#if (eq this.sortOrder "desc")}}
                      <FaIcon @icon="sort-up" />
                    {{else}}
                      <FaIcon @icon="sort-down" />
                    {{/if}}
                  {{else}}
                    <FaIcon @icon="sort" />
                  {{/if}}
                </span>
              </th>
              <th class="history" rowspan="1" onclick={{action "setSortBy" "history" (if (eq this.sortOrder "desc") "asc" "desc")}}>
                Build History
                <BsTooltip @placement="top" @renderInPlace={{true}}>
                  sort on number of failed builds
                </BsTooltip>
                <span class="icon-wrapper">
                  {{#if (eq this.sortBy "history")}}
                    {{#if (eq this.sortOrder "desc")}}
                      <FaIcon @icon="sort-up" />
                    {{else}}
                      <FaIcon @icon="sort-down" />
                    {{/if}}
                  {{else}}
                    <FaIcon @icon="sort" />
                  {{/if}}
                </span>
              </th>
              <th class="collection-pipeline__remove"></th>
            </tr>
          </thead>
          <tbody>
            {{#each this.sortedPipelines as |pipeline|}}
              <CollectionTableRow
                class="collection-pipeline"
                @removePipeline={{action "removePipeline"}}
                @pipeline={{pipeline}}
                @isAuthenticated={{this.session.isAuthenticated}}
                @isOrganizing={{this.isOrganizing}}
                @isDefaultCollection={{this.isDefaultCollection}}
                @selectPipeline={{action "selectPipeline"}}
                @deselectPipeline={{action "deselectPipeline"}}
                @reset={{this.reset}}
                @collectionName={{this.collection.name}}
                @hasAliasName={{this.hasAliasName}}
              />
            {{/each}}
          </tbody>
        </table>
      </div>
    {{else}}
      <div class="collection-card-view">
        {{#each this.sortedPipelines as |pipeline|}}
          <PipelineCard
            @removePipeline={{action "removePipeline"}}
            @pipeline={{pipeline}}
            @isAuthenticated={{this.session.isAuthenticated}}
            @isOrganizing={{this.isOrganizing}}
            @isDefaultCollection={{this.isDefaultCollection}}
            @selectPipeline={{action "selectPipeline"}}
            @deselectPipeline={{action "deselectPipeline"}}
            @reset={{this.reset}}
            @collectionName={{this.collection.name}}
          />
        {{/each}}
      </div>
    {{/if}}
  {{/if}}
</div>
