<div>
  {{#if removePipelineError}}
    {{info-message message=removePipelineError type="warning" icon="exclamation-triangle"}}
  {{/if}}
  <div class="header row">
    <div class="col-md-7">
      {{#if editingName}}
        <div class="name-edit">
          <input class="edit-area-name" value={{collection.name}}>
          <button class="save-name btn btn-primary" {{action "saveName"}}>Save</button>
        </div>
      {{else}}
        <h2 class="header__name">{{collection.name}} <a class="edit-icon move-left" onClick={{action "editName"}}>{{fa-icon "pencil"}}</a></h2>
      {{/if}}
      {{#if editingDescription}}
        <textarea class="edit-area">{{collection.description}}</textarea>
        <button class="save btn btn-primary" {{action "saveDescription"}}>Save</button>
      {{else}}
        {{#if collection.description}}
          <div>
            <p class="header__description">{{collection.description}}<a class="edit-icon" onClick={{action "editDescription"}}>{{fa-icon "pencil"}}</a></p>
          </div>
        {{else}}
          <p class="description-placeholder" onClick={{action "editDescription"}}>Add a description</p>
        {{/if}}
      {{/if}}
    </div>
    <div class="header__sort-pipelines col-md-5">
      Sort By
      {{#bs-dropdown as |dd|}}
        {{#bs-button}}{{sortByText}}{{/bs-button}}
        {{#dd.button}}{{fa-icon "caret-down"}}{{/dd.button}}
        {{#dd.menu as |menu|}}
          {{#menu.item}}
            <a onclick={{action "setSortBy" "name"}}>Name</a>
          {{/menu.item}}
          {{#menu.item}}
            <a onclick={{action "setSortBy" "lastEventTime"}}>Last Event</a>
          {{/menu.item}}
        {{/dd.menu}}
      {{/bs-dropdown}}
    </div>
  </div>
  <div class="collection-table row">
    <table class="col-md-12">
      <thead>
        <tr>
          <th class="app-id" rowspan="1">Name</th>
          <th class="branch" rowspan="1">Branch</th>
          <th class="status" rowspan="1">Status</th>
          <th class="start" rowspan="1">Start Time</th>
          <th class="duration" rowspan="1">Duration</th>
          <th class="history" rowspan="1">Build History</th>
          <td class="collection-pipeline__remove"></td>
        </tr>
      </thead>
      <tbody>
        {{#each sortedPipelines as |pipeline|}}
          {{events-table-row
              class="collection-pipeline"
              pipelineRemove=(action "pipelineRemove")
              pipeline=pipeline
              collectionId=collection.id
              isAuthenticated=session.isAuthenticated
          }}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
