<div class="collection-view">
  {{#if addCollectionError}}
    {{info-message message=addCollectionError type="warning" icon="exclamation-triangle"}}
  {{/if}}
  {{#if removePipelineError}}
    {{info-message message=removePipelineError type="warning" icon="exclamation-triangle"}}
  {{/if}}
  {{#if linkCopied}}
    {{info-message message=linkCopied type="success" icon="check"}}
  {{/if}}
  <div class="header row">
    <div class="col-md-8">
      <h2 class="header__name">{{collection.name}}</h2>

      <span onclick={{action "toggleAddPipelineModal"}} class="collection-operation">
        {{inline-svg "add" class="img"}}
      </span>
      <span onclick={{action "toggleSettingModal"}} class="collection-operation">
        {{inline-svg "setting" class="img"}}
      </span>
      <span onclick={{action "copyLink"}} class="collection-operation">
        {{inline-svg "link" class="img"}}
      </span>
      <span class="collection-operation">
        {{inline-svg "user-add" class="img"}}
      </span>

      <BsModal
        @open={{showAddPipelineModal}} 
        @onHidden={{action "toggleAddPipelineModal"}}
      as |modal|>
        <modal.header>
          <h4 class="modal-title">
            Add Pipeline
          </h4>
        </modal.header>
        <modal.body>
          {{pipeline-search-panel
              searchedPipelines=searchedPipelines
              searchPipelines=(action "searchPipelines")
              cancelSearch=(action "cancelSearch")
              selectSearchedPipeline=(action "selectSearchedPipeline")
          }}
        </modal.body>
      </BsModal>

      <BsModal
        @open={{showSettingModal}}
        @onHide={{action "toggleSettingModal"}}
        @onSubmit={{action "onSubmitSettingModal"}} as |modal|>
        <modal.header>
          <h4 class="modal-title">
            Settings
          </h4>
        </modal.header>
        <modal.body>
          <BsForm @formLayout="vertical" as |form|>
            <form.element 
              @controlType="text" 
              @label="Name" 
              @placeholder="Screwdriver CI/CD" 
              @value={{collection.name}}
              @onChange={{action "updateCollectionName"}}
            />
            <form.element 
              @controlType="textarea" 
              @label="Description" 
              @placeholder="Collection Description" 
              @value={{collection.description}}
              @onChange={{action "updateCollectionDescription"}}
            />
          </BsForm>
        </modal.body>
        <modal.footer>
          <BsButton @onClick={{action modal.close}}>Cancel</BsButton>
          <BsButton @type="primary" @onClick={{action "onSubmitSettingModal"}}>Save</BsButton>
        </modal.footer>
      </BsModal>

      {{#if collection.description}}
        <div>
          <p class="header__description">
            {{collection.description}}
          </p>
        </div>
      {{else}}
        <p class="description-placeholder">Add a description</p>
      {{/if}}
    </div>
    <div class="header__organize col-md-3">
      {{#if showOrganizeButton}}
        {{#if isOrganizing}}
          {{#if showOperations}}
            <span>{{selectedPipelines.length}}&nbsp;&nbsp;Selected</span>
            <BsButton class="operation-button" onclick={{action "removeSelectedPipelines"}}>Remove</BsButton>
            {{collection-dropdown
                collections=collections
                addMultipleToCollection=(action "addMultipleToCollection")
                buttonClass="operation-button"
                buttonText="Move To"
            }}
          {{/if}}
          <BsButton onclick={{action "resetView"}}>Cancel</BsButton>
        {{else}}
          <BsButton onclick={{action "organize"}}>Organize</BsButton>
        {{/if}}
      {{/if}}
    </div>
    <BsButtonGroup
      class="header__change-view col-md-1"
      @value={{activeViewOptionValue}}
      @type="radio"
      @onChange={{action (mut activeViewOptionValue)}} as |bg|>
      {{#each viewOptions as |viewOption|}}
        <bg.button @value={{viewOption.value}} onclick={{action "resetView"}}>{{inline-svg viewOption.svgName class="img"}}</bg.button>
      {{/each}}
    </BsButtonGroup>
  </div>

  {{#if (eq sortedPipelines.length 0)}}
    <div class="collection-empty-view">
      <div class="guide">
        <img class="guide-image" src="/assets/images/jobs-example.png" alt="example diagram of pipeline jobs">
        <p class="guide-text">You haven't created a pipeline yet. Once you create a pipeline it will show up in this collection. To help you get started check out our documentation or if you already know what you are doing, create a new pipeline</p>
        <div class="guide-buttons">
          {{#link-to "create"}}
            <BsButton class="guide-create-pipeline-button" onclick={{action "organize"}}>Create Pipeline</BsButton>
          {{/link-to}}
          <a href="https://docs.screwdriver.cd/" target="_blank" rel="noopener">
            <BsButton class="guide-docs-button" onclick={{action "goToDocs"}}>View Docs</BsButton>
          </a>
        </div>
      </div>
    </div>
  {{else}}
    {{#if isListView}}
      <div class="collection-list-view row">
        <table class="col-md-12">
          <thead>
            <tr>
              <th class="collection-pipeline__choose"></th>
              <th class="app-id" rowspan="1">Name</th>
              <th class="branch" rowspan="1">Branch</th>
              <th class="status" rowspan="1">Status</th>
              <th class="start" rowspan="1">Start Time</th>
              <th class="duration" rowspan="1">Duration</th>
              <th class="history" rowspan="1">Build History</th>
              <th class="collection-pipeline__remove"></th>
            </tr>
          </thead>
          <tbody>
            {{#each sortedPipelines as |pipeline|}}
              {{collection-table-row
                  class="collection-pipeline"
                  pipelineRemove=(action "pipelineRemove")
                  pipeline=pipeline
                  isAuthenticated=session.isAuthenticated
                  isOrganizing=isOrganizing
                  selectPipeline=(action "selectPipeline")
                  deselectPipeline=(action "deselectPipeline")
                  reset=reset
              }}
            {{/each}}
          </tbody>
        </table>
      </div>
    {{else}}
      <div class="collection-card-view">
        {{#each sortedPipelines as |pipeline|}}
          {{pipeline-card
              class="pipeline-card"
              pipelineRemove=(action "pipelineRemove")
              pipeline=pipeline
              isAuthenticated=session.isAuthenticated
              isOrganizing=isOrganizing
              selectPipeline=(action "selectPipeline")
              deselectPipeline=(action "deselectPipeline")
              reset=reset
          }}
        {{/each}}
      </div>
    {{/if}}
  {{/if}}  
</div>
