<div
  id="pipeline-settings-jobs-tab-contents"
  {{did-update this.update @pipelineId}}
>
  <div class="section">
    <div class="text-container">
      <div class="title">
        Toggle jobs
      </div>
      <div>
        Enable or disable jobs to modify your workflow.  To toggle multiple jobs at once, select one of the button options below.
      </div>
    </div>
    <div class="toggle-buttons-container">
      <BsButton
        id="enable-jobs-button"
        @type="primary"
        @outline={{true}}
        @defaultText="Enable multiple jobs"
        @onClick={{fn this.toggleMultiple true}}
        disabled={{this.disableEnableMultipleJobsButton}}
      />
      <BsButton
        id="disable-jobs-button"
        @type="primary"
        @outline={{true}}
        @defaultText="Disable multiple jobs"
        @onClick={{fn this.toggleMultiple false}}
        disabled={{this.disableDisableMultipleJobsButton}}
      />
      {{#if this.isToggleMultiple}}
        <BsButton
          id="cancel-toggle-jobs-button"
          @type="danger"
          @outline={{true}}
          @defaultText="Cancel"
          @onClick={{fn this.cancelToggleMultiple}}
        />
      {{/if}}
    </div>
  </div>

  <div id="jobs-table">
    {{#if this.showTable}}
      <Pipeline::Settings::Jobs::Table
        @pipelineId={{@pipelineId}}
        @isToggleMultiple={{this.isToggleMultiple}}
        @isEnable={{this.isEnable}}
        @onDestroy={{this.onTableDestroy}}
      />
    {{/if}}
  </div>
</div>
