<div>
  {{#if this.isGroupedEvents}}
    {{#each this.groups as |group|}}
      <PipelineEventsRowGroup
        @pipeline={{this.pipeline}}
        @expandedEventsGroup={{this.expandedEventsGroup}}
        @selectedEventObj={{this.selectedEventObj}}
        @events={{group}}
        @selectedEvent={{this.selectedEvent}}
        @latestCommit={{this.latestCommit}}
        @lastSuccessful={{this.lastSuccessful}}
        @startPRBuild={{action "startPRBuild"}}
        @stopEvent={{action "stopEvent"}}
        @eventClick={{action "eventClick"}}
      />
    {{else}}
      <div class="alert">
        No events have been run for this pipeline
      </div>
    {{/each}}
  {{else}}
    {{#each this.eventsList as |event|}}
      <PipelineEventRow
        @event={{event}}
        @selectedEvent={{this.selectedEvent}}
        @selectedEventObj={{this.selectedEventObj}}
        @latestCommit={{this.latestCommit}}
        @lastSuccessful={{this.lastSuccessful}}
        @startPRBuild={{action "startPRBuild"}}
        @stopEvent={{action "stopEvent"}}
        @eventClick={{action "eventClick"}}
      />
    {{else}}
      <div class="alert">
        No events have been run for this pipeline
      </div>
    {{/each}}
  {{/if}}
</div>

{{yield}}