<div class={{this.styleNamespace}} ...attributes>
  <div>
    {{#if isGroupedEvents}}
    {{#each this.groups as |group|}}
      {{pipeline-events-row-group
        pipeline=this.pipeline
        expandedEventsGroup=this.expandedEventsGroup
        events=group
        selectedEvent=this.selectedEvent
        latestCommit=this.latestCommit
        lastSuccessful=this.lastSuccessful
        startPRBuild=this.startPRBuild
        stopEvent=this.stopEvent
        eventClick=(action "eventClick")
      }}
    {{else}}
      <div class="alert">No events have been run for this pipeline</div>
    {{/each}}
  {{else}}
    {{#each eventsList as |event|}}
      {{pipeline-event-row
        event=event
        selectedEvent=this.selectedEvent
        latestCommit=this.latestCommit
        lastSuccessful=this.lastSuccessful
        startPRBuild=this.startPRBuild
        stopEvent=this.stopEvent
        eventClick=(action "eventClick")
      }}
    {{else}}
      <div class="alert">No events have been run for this pipeline</div>
    {{/each}}
  {{/if}}
</div>

  {{yield}}
</div>