{{info-message message=this.errorMessage type="warning" icon="exclamation-triangle"}}

{{template-header
  template=this.versionTemplate
  trusted=this.trusted
  isAdmin=this.isAdmin
  onUpdateTrust=(action "updateTrust")
  onRemoveTemplate=(action "removeTemplate")
}}

<h4>Contents:</h4>
{{validator-job name=this.versionTemplate.fullName job=this.versionTemplate.config template=this.versionTemplate collapsible=false isOpen=true}}

{{template-versions templates=this.templates}}

{{outlet}}