{{info-message message=errorMessage type="warning" icon="exclamation-triangle"}}

{{template-header
  template=versionTemplate
  trusted=trusted
  isAdmin=isAdmin
  onUpdateTrust=(action "updateTrust")
  onRemoveTemplate=(action "removeTemplate")
}}

<h4>Contents:</h4>
{{validator-job name=versionTemplate.fullName job=versionTemplate.config template=versionTemplate collapsible=false}}

{{template-versions templates=templates}}

{{outlet}}
