{{#link-to "pipeline" pipeline.id}}<h1>{{pipeline.appId}}</h1>{{/link-to}}
<a href="{{pipeline.hubUrl}}" class="branch">{{fa-icon "fa-code-fork"}} {{pipeline.branch}}</a>
<span class="scm">{{fa-icon scmContext.scmIcon}} {{scmContext.scm}}</span>
