{{#if this.addCollectionError}}
  <InfoMessage
    @message={{this.addCollectionError}}
    @type="warning"
    @icon="exclamation-triangle"
  />
{{/if}}
{{#if this.addCollectionSuccess}}
  <InfoMessage
    @message={{this.addCollectionSuccess}}
    @type="success"
    @icon="check"
  />
{{/if}}
<LinkTo @route="pipeline" @model={{this.pipeline.id}}>
  <h1>
    {{this.pipeline.appId}}
  </h1>
</LinkTo>
<span class="branch-move">
  <a href={{branch-url-encode this.pipeline.hubUrl}} class="branch">
    <FaIcon @icon="code-branch" @title="Source code" />
    {{this.pipeline.branch}}
  </a>
  <BsDropdown as |dd|>
    <dd.toggle>
      <span class="caret caret-display"></span>
    </dd.toggle>
    <dd.menu class="commit-dropdown" as |ddm|>
      {{#each (await this.sameRepoPipeline) as |pipe|}}
        <ddm.item>
          <li class="branch-item">
            <a href={{pipe.url}}>
              {{pipe.branchAndRootDir}}
            </a>
          </li>
        </ddm.item>
      {{/each}}
    </dd.menu>
  </BsDropdown>
</span>
<span class="scm">
  <FaIcon @icon={{this.scmContext.scmIcon}} @prefix="fab" />
  {{this.scmContext.scm}}
</span>
{{#if this.pipeline.configPipelineId}}
  <FaIcon @icon="cog" />
  <LinkTo @route="pipeline" @model={{this.pipeline.configPipelineId}}>
    Parent Pipeline
  </LinkTo>
{{/if}}
<CollectionDropdown
  @pipeline={{this.pipeline}}
  @pipelineId={{this.pipeline.id}}
  @collections={{this.collections}}
  @addToCollection={{this.addToCollection}}
  @addCollectionSuccess={{this.addCollectionSuccess}}
  @addCollectionError={{this.addCollectionError}}
  @dropdownText={{this.dropdownText}}
/>
