{{#if this.addCollectionError}}
  {{info-message message=this.addCollectionError type="warning" icon="exclamation-triangle"}}
{{/if}}
{{#if this.addCollectionSuccess}}
  {{info-message message=this.addCollectionSuccess type="success" icon="check"}}
{{/if}}
{{#link-to "pipeline" this.pipeline.id}}<h1>{{this.pipeline.appId}}</h1>{{/link-to}}
<a href={{branch-url-encode this.pipeline.hubUrl}} class="branch"><FaIcon @icon="code-branch" @title="Source code" /> {{this.pipeline.branch}}</a>
<span class="scm"><FaIcon @prefix="fab" @icon={{this.scmContext.scmIcon}} /> {{this.scmContext.scm}}</span>
{{#if this.pipeline.configPipelineId}}
  <FaIcon @icon="cog"/> {{#link-to "pipeline" this.pipeline.configPipelineId}}Parent Pipeline{{/link-to}}
{{/if}}
{{collection-dropdown
  pipeline=this.pipeline
  pipelineId=this.pipeline.id
  collections=this.collections
  addToCollection=this.addToCollection
  addCollectionSuccess=this.addCollectionSuccess
  addCollectionError=this.addCollectionError
  dropdownText=this.dropdownText}}