<div
  id="event-rail"
  {{did-insert this.initialize}}
  {{did-update this.update @event @reloadEvents}}
>
  <div id="event-rail-actions">
    <BsButton
      id="search-for-event-button"
      @type="primary"
      @outline={{true}}
      @onClick={{this.openSearchEventModal}}
      disabled={{this.isSearchDisabled}}
      title="Search for an event"
    >
      <FaIcon @icon="magnifying-glass" />
      {{#if this.showSearchEventModal}}
        <Pipeline::Modal::SearchEvent
          @closeModal={{this.closeSearchEventModal}}
        />
      {{/if}}
    </BsButton>
    {{#if (not this.isPR)}}
      <BsButton
        id="start-event-button"
        @type="primary"
        @outline={{true}}
        @defaultText="Start a new event"
        @onClick={{this.openStartEventModal}}
        title="Start a new event"
      />
      {{#if this.showStartEventModal}}
        <Pipeline::Modal::ConfirmAction
          @action="start"
          @closeModal={{this.closeStartEventModal}}
        />
      {{/if}}
    {{/if}}
  </div>

  <div id="event-cards-container">
    {{#if this.showCards}}
      <VerticalCollection
        @items={{this.events}}
        @estimateHeight={{150}}
        @key={{"id"}}
        @idForFirstItem={{this.firstItemId}}
        @firstReached={{this.addNewerEvents}}
        @lastReached={{this.addOlderEvents}}
        @registerAPI={{this.registerApi}}
        as |event|
      >
        <Pipeline::Event::Card
          @event={{event}}
          @queueName="eventRail"
          @allowEventAction={{true}}
          @showParameters={{true}}
          @showEventGroup={{true}}
          @handleFilter={{true}}
        />
      </VerticalCollection>
    {{/if}}
  </div>
</div>
