<div class="row">
  <div class="col-xs-4 col-lg-2 commit">
    <h6><a href="{{event.commit.url}}">#{{event.truncatedSha}}</a></h6>
  </div>
  <div class="col-xs-8 col-lg-6 message">
    <div class="cause" title="{{event.commit.message}}">{{event.truncatedMessage}}</div>
    <div>
      {{#if (and (is-fulfilled event.builds) event.workflowGraph)}}
        {{workflow-graph-d3
          builds=event.builds
          workflowGraph=event.workflowGraph
          startFrom=event.startFrom
          causeMessage=event.causeMessage
          minified=true
        }}
      {{else}}
        {{#each event.workflow as |name index|}}
        {{build-bubble jobName=name build=(index-of event.buildsSorted index) small=true}}
        {{/each}}
      {{/if}}
    </div>
  </div>
  <div class="col-xs-6 col-lg-2 user">
    {{user-link user=event.creator causeMessage=event.causeMessage small=true}}
  </div>
  <div class="col-xs-6 col-lg-2 time">
    <div class="created">{{event.createTimeWords}}</div>
    <div class="duration">{{event.durationText}}</div>
  </div>
</div>