<div class="pure-g">
  <div class="pure-u-1-3 pure-u-lg-1-8 commit">
    <h6><a href="{{event.commit.url}}">#{{event.truncatedSha}}</a></h6>
  </div>
  <div class="pure-u-2-3 pure-u-lg-5-8 message">
    <div class="cause" title="{{event.commit.message}}">{{event.truncatedMessage}}</div>
    <div>
      {{#each event.workflow as |name index|}}
      {{build-bubble jobName=name build=(index-of event.buildsSorted index) small=true}}
      {{/each}}
    </div>
  </div>
  <div class="pure-u-1-2 pure-u-lg-1-8 user">
    {{user-link user=event.creator causeMessage=event.causeMessage large=true}}
  </div>
  <div class="pure-u-1-2 pure-u-lg-1-8 time">
    <div class="created">{{event.createTimeWords}}</div>
    <div class="duration">{{event.durationText}}</div>
  </div>
</div>