<article class="template">
  <header>
    <h4>{{#link-to "templates.namespace" template.namespace}} {{template.namespace}} {{/link-to}}/ {{#link-to "templates.detail" template.namespace template.fullName}}{{template.name}}{{/link-to}}</h4>
  </header>
  <p class="description">
    {{template.description}}
  </p>
  <ul>
    <li>Released by: <a href="mailto:{{template.maintainer}}">{{template.maintainer}}</a></li>
    {{#if template.lastUpdated}}<li>Last published: {{template.lastUpdated}}</li>{{/if}}
    {{#if template.labels.length}}<li>Tags: {{#each template.labels as |l|}}<span class="template-label">{{l}}</span>{{/each}}</li>{{/if}}
  </ul>
</article>
