<div class="pipeline-events-group">
  {{#each this.events as |event index|}}
    {{#if (eq index 0)}}
      {{#if (not-eq this.events.length 1)}}
        <a
          onclick={{action "toggleExpanded"}}
          class="float-right expand-collapse"
        >
          {{#if (eq this.isExpanded true)}}
            Collapse
            <FaIcon @icon="circle-chevron-up" />
          {{else}}
            Expand
            <FaIcon @icon="circle-chevron-down" />
          {{/if}}
        </a>
        <span class="clearfix"></span>
      {{/if}}
      <PipelineEventRow
        @pipeline={{this.pipeline}}
        @event={{event}}
        @selectedEventObj={{this.selectedEventObj}}
        @selectedEvent={{this.selectedEvent}}
        @lastSuccessful={{this.lastSuccessful}}
        @latestCommit={{this.latestCommit}}
        @startPRBuild={{this.startPRBuild}}
        @stopEvent={{this.stopEvent}}
        @eventClick={{this.eventClick}}
      />
    {{else if (eq this.isExpanded true)}}
      <PipelineEventRow
        @pipeline={{this.pipeline}}
        @event={{event}}
        @selectedEvent={{this.selectedEvent}}
        @selectedEventObj={{this.selectedEventObj}}
        @latestCommit={{this.latestCommit}}
        @lastSuccessful={{this.lastSuccessful}}
        @startPRBuild={{this.startPRBuild}}
        @stopEvent={{this.stopEvent}}
        @eventClick={{this.eventClick}}
      />
    {{/if}}
  {{else}}
    <div class="alert">
      No events have been run for this pipeline
    </div>
  {{/each}}
</div>

{{yield}}