<div class={{this.styleNamespace}} ...attributes>
  <div class="pipeline-events-group">
    {{#each this.events as |event index|}}
      {{#if (eq index 0)}}
        {{#if (not-eq this.events.length 1)}}
          <a onclick={{action "toggleExpanded"}} class="pull-right expand-collapse">
            {{#if (eq this.isExpanded true)}}
              Collapse
              {{fa-icon "chevron-circle-up"}}
            {{else}}
              Expand
              {{fa-icon "chevron-circle-down"}}
            {{/if}}
          </a>
          <span class="clearfix" />
        {{/if}}
        {{pipeline-event-row
                pipeline=this.pipeline
                event=event
                selectedEvent=this.selectedEvent
                lastSuccessful=this.lastSuccessful
                latestCommit=this.latestCommit
                startPRBuild=this.startPRBuild
                stopEvent=this.stopEvent
                eventClick=this.eventClick
        }}
      {{else if (eq this.isExpanded true)}}
        {{pipeline-event-row
                pipeline=this.pipeline
                event=event
                selectedEvent=this.selectedEvent
                latestCommit=this.latestCommit
                lastSuccessful=this.lastSuccessful
                startPRBuild=this.startPRBuild
                stopEvent=this.stopEvent
                eventClick=this.eventClick
        }}
      {{/if}}
    {{else}}
      <div class="alert">No events have been run for this pipeline</div>
    {{/each}}
  </div>

  {{yield}}
</div>