<InfoMessage
  @message={{this.errorMessage}}
  @type="warning"
  @icon="triangle-exclamation"
/>

{{#if this.pipelines.length}}
  <div class="num-results col-12 col-md-8">
    <span>Found {{this.pipelines.length}} child pipeline(s)</span>
    <button class="start-button" {{action "startAll"}} disabled={{this.isStartAllButtonDisabled}} title="Start a new event for all the active pipelines">
      Start All
    </button>
  </div>
  <ul class="col-12 col-md-8">
    <table>
      <thead>
        <tr>
          <th class="appId">Name</th>
          <th class="branch">Branch</th>
          <th class="account">Account</th>
          <th class="state">Status</th>
          <th class="state">Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.pipelines as |pipeline|}}
          <tr>
            <td class="appId">
              {{!-- {{#highlight-terms query}} --}}
              <LinkTo @route="pipeline" @model={{pipeline.id}}>
                {{pipeline.appId}}
              </LinkTo>
              {{!-- {{/highlight-terms}} --}}
            </td>
            <td class="branch">
              <a href={{branch-url-encode pipeline.hubUrl}}>
                <FaIcon @icon="code-branch" />{{pipeline.branch}}
              </a>
            </td>
            <td class="account">
              <FaIcon @icon={{pipeline.scmIcon}} @prefix="fab" />
              {{pipeline.scm}}
            </td>
            <td class="state">
              <PipelineChildListStateCell @state={{pipeline.state}} />
            </td>
            <td class="action">
              <PipelineChildListActionsCell @pipeline={{pipeline}} @pipelines={{this.pipelines}} @onDeletePipeline={{action "deletePipeline"}} />
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </ul>
{{else}}
  <div class="num-results">
    <span>
      No child pipeline(s) created
    </span>
  </div>
{{/if}}

{{#if this.isShowingModal}}
  <ModalDialog
    @clickOutsideToClose={{false}}
    @targetAttachment="center"
    @translucentOverlay={{true}}
  >
    <LoadingView />
  </ModalDialog>
{{/if}}