<header>
  <h4>
    {{this.collectionType}}
    <a
      href="http://docs.screwdriver.cd/user-guide/{{this.routes.prefix}}"
      title="More Information"
      target="_blank"
      rel="noopener"
      class="link pull-right"
    >
      {{this.collectionType}} Docs
      <FaIcon @icon="question-circle" />
    </a>
  </h4>
  <div class="collection-description">
    {{yield}}
  </div>
</header>

<section class="row">
  <h5>
    <b>
      Screwdriver {{this.collectionType}}
    </b>
    <span class="pull-right">
      <span class="text-uppercase total">
        Total
      </span>
      <span>
        {{this.filteredModel.length}}
      </span>
    </span>
  </h5>

  <div class="row">
    <div class="col-sm-1">
      <label class="trusted-toggle">
        <XToggle
          @size="small"
          @theme="material"
          @value={{this.trustedOnly}}
          @onToggle={{action "toggleTrustedOnly"}}
        />
        Trusted
      </label>
    </div>

    <div class="col-sm-3">
      <select onchange={{action "onFilterNamespace" value="target.value"}}>
        <option value="">
          All Namespaces
        </option>
        {{#each this.namespaces as |ns|}}
          {{#if (eq ns this.filteringNamespace)}}
            <option value={{ns}} selected="selected">
              {{ns}}
            </option>
          {{else}}
            <option value={{ns}}>
              {{ns}}
            </option>
          {{/if}}
        {{/each}}
      </select>
      <span class="control-icon">
        <FaIcon @icon="caret-down" />
      </span>
    </div>

    <div class="col-sm-3">
      <select onchange={{action "onFilterMaintainer" value="target.value"}}>
        <option value="">
          All Maintainers
        </option>
        {{#each this.maintainers as |m|}}
          {{#if (eq this.ns this.filteringMaintainer)}}
            <option value={{m}} selected="selected">
              {{m}}
            </option>
          {{else}}
            <option value={{m}}>
              {{m}}
            </option>
          {{/if}}
        {{/each}}
      </select>
      <span class="control-icon">
        <FaIcon @icon="caret-down" />
      </span>
    </div>

    <div class="col-sm-5">
      <input
        value=""
        placeholder="Search {{this.collectionType}}"
        type="search"
        oninput={{action (mut this.query) value="target.value"}}
      />
      <span class="control-icon">
        <FaIcon @icon="search" />
      </span>
    </div>
  </div>

  <ModelsTable
    @data={{this.data}}
    @columns={{this.columns}}
    @themeInstance={{this.theme}}
    @showComponentFooter={{false}}
    @showColumnsDropdown={{false}}
    @useFilteringByColumns={{false}}
    @showGlobalFilter={{false}}
    @showCurrentPageNumberSelect={{false}}
    @multipleColumnsSorting={{false}}
    @noDataToShowMsg="Sorry! No result is found."
  />
</section>
