<div class="{{this.styleNamespace}} " ...attributes>
  <header>
    <h4>
      {{this.collectionType}}
      <a href="http://docs.screwdriver.cd/user-guide/{{this.routes.prefix}}" title="More Information" target="_blank" rel="noopener noreferrer" class="link pull-right">{{this.collectionType}} Docs {{fa-icon "question-circle"}}</a>
    </h4>
    <div class="collection-description">{{yield}}</div>
  </header>

  <section class="row">
    <h5>
      <b>Screwdriver {{this.collectionType}}</b>
      <span class="pull-right">
        <span class="text-uppercase total">Total </span><span>{{this.filteredModel.length}}</span>
      </span>
    </h5>

    <div class="row">
      <div class="col-sm-1">
        {{x-toggle
          size="small"
          theme="material"
          showLabels=true
          value=this.trustedOnly
          offLabel=null
          onLabel="Trusted"
          onToggle=(action "toggleTrustedOnly")
        }}
      </div>

      <div class="col-sm-3">
        <select onchange={{action "onFilterNamespace" value="target.value"}}>
          <option value="">All Namespaces</option>
          {{#each this.namespaces as |ns|}}
            {{#if (eq ns this.filteringNamespace)}}
              <option value={{ns}} selected="selected">{{ns}}</option>
            {{else}}
              <option value={{ns}}>{{ns}}</option>
            {{/if}}
          {{/each}}
        </select>
        <span class="control-icon">{{fa-icon "caret-down"}}</span>
      </div>

      <div class="col-sm-3">
        <select onchange={{action "onFilterMaintainer" value="target.value"}}>
          <option value="">All Maintainers</option>
          {{#each this.maintainers as |m|}}
            {{#if (eq this.ns this.filteringMaintainer)}}
              <option value={{m}} selected="selected">{{m}}</option>
            {{else}}
              <option value={{m}}>{{m}}</option>
            {{/if}}
          {{/each}}
        </select>
        <span class="control-icon">{{fa-icon "caret-down"}}</span>
      </div>

      <div class="col-sm-5">
        <input value="" placeholder="Search {{this.collectionType}}" type="search" oninput={{action (mut this.query) value="target.value"}}>
        <span class="control-icon">{{fa-icon "search"}}</span>
      </div>
    </div>

    {{#light-table
      this.table
      height="75vh"
      responsive=true
      classNames="collection-list"
      tableClassNames="collection-list-table"
      extra=(hash routes=this.routes) as |t|
    }}
      {{t.head
        onColumnClick=(action "sortByColumn")
        iconSortable="fa fa-sort"
        iconAscending="fa fa-sort-asc"
        iconDescending="fa fa-sort-desc"
        resizeOnDrag=true
      }}
      <t.body @canSelect={{false}} as |body|>
        {{#if this.table.isEmpty}}
          <body.no-data>
            Sorry! No result is found.
            {{#if this.filteringNamespace}} under <b><i>{{this.filteringNamespace}}</i></b>{{/if}}
            {{#if this.filteringMaintainer}} by <b><i>{{this.filteringMaintainer}}</i></b>{{/if}}
          </body.no-data>
        {{/if}}
      </t.body>
    {{/light-table}}
  </section>
</div>