<section>
  <h5>
    <b>
      {{#if (eq this.collectionType "Commands")}}
        Commands
      {{else}}
        {{this.collectionType}} Templates
      {{/if}}
    </b>
    <span class="float-right">
      <span class="text-uppercase total">
        Total
      </span>
      <span>
        {{this.filteredModel.length}}
      </span>
    </span>
  </h5>

  <div class="row">
    <div class="col-sm-2">
      <label class="trusted-toggle">
        <XToggle
          @size="small"
          @theme="material"
          @value={{this.trustedOnly}}
          @onToggle={{action "toggleTrustedOnly"}}
        />
        Trusted
      </label>
    </div>

    <div class="col-sm-3">
      <select onchange={{action "onFilterNamespace" value="target.value"}}>
        <option value="">
          All Namespaces
        </option>
        {{#each this.namespaces as |ns|}}
          {{#if (eq ns this.filteringNamespace)}}
            <option value={{ns}} selected="selected">
              {{ns}}
            </option>
          {{else}}
            <option value={{ns}}>
              {{ns}}
            </option>
          {{/if}}
        {{/each}}
      </select>
      <span class="control-icon">
        <FaIcon @icon="caret-down" />
      </span>
    </div>

    <div class="col-sm-3">
      <select onchange={{action "onFilterMaintainer" value="target.value"}}>
        <option value="">
          All Maintainers
        </option>
        {{#each this.maintainers as |m|}}
          {{#if (eq this.ns this.filteringMaintainer)}}
            <option value={{m}} selected="selected">
              {{m}}
            </option>
          {{else}}
            <option value={{m}}>
              {{m}}
            </option>
          {{/if}}
        {{/each}}
      </select>
      <span class="control-icon">
        <FaIcon @icon="caret-down" />
      </span>
    </div>

    <div class="col-sm-4">
      <input
        value=""
        placeholder="{{this.placeholder}}"
        type="search"
        oninput={{action (mut this.query) value="target.value"}}
      />
      <span class="control-icon">
        <FaIcon @icon="magnifying-glass" />
      </span>
    </div>
  </div>

  <ModelsTable
    @data={{this.refinedModel}}
    @columns={{this.columns}}
    @columnComponents={{hash
    tcCollectionLinker=(
      component "tc-collection-linker"
      prefix=this.routes.prefix
      label="Name"
    )
    tcCollectionNamespaceLinker=(
      component "tc-collection-linker"
      prefix=this.routes.prefix
      label="Namespace"
    )
  }}
    @themeInstance={{this.theme}}
    @showComponentFooter={{false}}
    @showColumnsDropdown={{false}}
    @useFilteringByColumns={{false}}
    @showGlobalFilter={{false}}
    @showCurrentPageNumberSelect={{false}}
    @multipleColumnsSorting={{false}}
    @noDataToShowMsg="Sorry! No result is found."
    @pageSize={{this.refinedModel.length}}
  />
</section>
