{{#link-to "templates" class="back"}}Back to Templates{{/link-to}}
<h1>
  {{template.fullName}}
  {{#if scmUrl}}
    <a href="{{scmUrl}}">{{fa-icon "code-fork"}}</a> <a href="#" {{action "setTemplateToRemove" template}} class="remove">{{fa-icon "trash"}}</a>
  {{else}}
    {{fa-icon "code-fork" title="The pipeline for this template does not exist."}} {{fa-icon "trash" title="Cannot delete template; pipeline could not be found."}}
  {{/if}}
</h1>
<h2>{{template.version}}</h2>
<p>{{template.description}}</p>
<ul>
  {{#if template.namespace}}<li>Namespace: {{template.namespace}}</li><li>Name: {{template.name}}</li>{{/if}}
  <li>Released by: <a href="mailto:{{template.maintainer}}">{{template.maintainer}}</a></li>
  {{#if template.lastUpdated}}<li>Last publish: {{template.lastUpdated}}</li>{{/if}}
  {{#if template.labels.length}}<li>Tags: {{#each template.labels as |l|}}<span class="template-label">{{l}}</span>{{/each}}</li>{{/if}}
</ul>
<h4>Usage:</h4>
<pre>jobs:
  main:
    template: {{template.fullName}}@{{template.version}}
</pre>
{{#if templateToRemove}}
  {{#if isRemoving}}
    {{#modal-dialog clickOutsideToClose="false"
      targetAttachment="center"
      translucentOverlay=true
    }}
      {{loading-view}}
    {{/modal-dialog}}
  {{else}}
    {{#bs-modal onSubmit=(action "removeTemplate" template.fullName) onHide=(action "cancelRemovingTemplate") as |modal|}}
      {{#modal.header}}
        <h4>Are you sure?</h4>
      {{/modal.header}}
      {{#modal.body}}
        {{fa-icon "exclamation-triangle" pull="left" size=3}}
        You're about to delete all versions and tags of <strong>{{template.fullName}}</strong>. There might be existing pipelines using this template.
      {{/modal.body}}
      {{#modal.footer as |footer|}}
        {{#bs-button onClick=(action "cancelRemovingTemplate")}}Cancel{{/bs-button}}
        {{#bs-button onClick=(action "removeTemplate" template.fullName) type="danger"}}{{fa-icon "trash"}} Confirm{{/bs-button}}
      {{/modal.footer}}
    {{/bs-modal}}
  {{/if}}
{{/if}}
