<h1>
  {{#if trusted}}
    <span title="Trusted">
      {{inline-svg "trusted" class="trusted"}}
    </span>
  {{/if}}
  <LinkTo
    @route="pipeline"
    @model={{template.pipelineId}}
    @title="Go to template pipeline"
  >
    {{template.fullName}}
  </LinkTo>
  {{#if scmUrl}}
    <a href={{scmUrl}}>
      <FaIcon @icon="code-branch" @title="Source code" />
    </a>
  {{else}}
    <FaIcon @icon="code-branch"
      @title="The pipeline for this template does not exist."
    />
  {{/if}}
  {{#if isAdmin}}
    <a href="#" class="remove" {{action "setTemplateToRemove" template}}>
      <FaIcon @icon="trash" @title="Delete template" />
    </a>
    <label class="trusted-toggle">
      <XToggle
        @size="medium"
        @theme="light"
        @value={{trusted}}
        @onToggle={{action "updateTrust" template.fullName}}
      />
      Trust?
    </label>
  {{else}}
    {{#if scmUrl}}
      <a href="#" class="remove" {{action "setTemplateToRemove" template}}>
        <FaIcon @icon="trash" @title="Delete template" />
      </a>
    {{else}}
      <FaIcon @icon="trash"
        @title="Cannot delete template; pipeline could not be found."
      />
    {{/if}}
  {{/if}}
</h1>
<div class="template-stats">
  <h2 class="template-version">
    {{template.version}}
  </h2>
  <div class="template-metrics">
    Usage - Jobs: {{template.metrics.jobs.count
    }} | Builds: {{template.metrics.builds.count}}
  </div>
</div>
<p>
  {{template.description}}
</p>
{{#if template.namespace}}
  <div class="template-details--item" id="template-namespace">
    <div class="template-details--label">
      Namespace:
    </div>
    <div class="template-details--value">
      {{template.namespace}}
    </div>
  </div>
  <div class="template-details--item" id="template-name">
    <div class="template-details--label">
      Name:
    </div>
    <div class="template-details--value">
      {{template.name}}
    </div>
  </div>
{{/if}}
<div class="template-details--item" id="template-maintainer">
  <div class="template-details--label">
    Released by:
  </div>
  <div class="template-details--value">
    <a href="mailto:{{template.maintainer}}">
      {{template.maintainer}}
    </a>
  </div>
</div>
{{#if template.labels.length}}
  <div class="template-details--item" id="template-tags">
    <div class="template-details--label">
      Tags:
    </div>
    <div class="template-details--value">
      {{#each template.labels as |l|}}
        <span class="template-label">
          {{l}}
        </span>
      {{/each}}
    </div>
  </div>
{{/if}}
<h4>
  Usage:
</h4>
{{! template-lint-disable block-indentation }}
<pre>
  jobs:
  main:
    template: {{template.fullName}}@{{template.version}}
</pre>

{{#if templateToRemove}}
  {{#if isRemoving}}
    <ModalDialog
      @clickOutsideToClose="false"
      @targetAttachment="center"
      @translucentOverlay={{true}}
    >
      <LoadingView />
    </ModalDialog>
  {{else}}
    <BsModal
      @onSubmit={{action "removeTemplate" template.fullName}}
      @onHide={{action "cancelRemovingTemplate"}} as |modal|
    >
      <modal.header>
        <h4>
          Are you sure?
        </h4>
      </modal.header>
      <modal.body>
        <FaIcon @icon="exclamation-triangle" @pull="left" @size=3 />
        You're about to delete all versions and tags of
        <strong>
          {{template.fullName}}
        </strong>
        . There might be existing pipelines using this template.
      </modal.body>
      <modal.footer>
        <BsButton @onClick={{action "cancelRemovingTemplate"}}>
          Cancel
        </BsButton>
        <BsButton
          @onClick={{action "removeTemplate" template.fullName}}
          @type="danger"
        >
          <FaIcon @icon="trash" /> Confirm
        </BsButton>
      </modal.footer>
    </BsModal>
  {{/if}}
{{/if}}