<div class="header">
  <div class="left-header">
    <h1>
      {{#if this.isAdmin}}
        <span title="Toggle template trusted" class="clickable" onclick={{action "showToggleTrustModal"}}>
          {{#if this.isTrusted}}
            {{svg-jar "trusted" class="trusted"}}
          {{else}}
            {{svg-jar "trusted" class="trusted distrusted"}}
          {{/if}}
        </span>
      {{else}}
        {{#if this.isTrusted}}
          <span title="Trusted">
            {{svg-jar "trusted" class="trusted"}}
          </span>
        {{/if}}
      {{/if}}
      <LinkTo
        @route="pipeline"
        @model={{this.template.pipelineId}}
        @title="Go to template pipeline"
        class="link"
      >
        {{this.template.fullName}}
      </LinkTo>
      {{#if this.scmUrl}}
        <a href={{this.scmUrl}} class="link">
          <FaIcon @icon="code-branch" @title="Source code" />
        </a>
      {{else}}
        <FaIcon
          @icon="code-branch"
          @title="The pipeline for this template does not exist."
          class="link"
        />
      {{/if}}
    </h1>
  </div>
  <div class="right-header">
    <h1>
      {{#if (or this.isAdmin this.scmUrl)}}
        <a href="#" class="danger link" disabled {{action "setTemplateToRemove" this.template}}>
          <FaIcon @icon="trash" @title="Delete template" />
        </a>
      {{else}}
        <span title="Cannot delete template; pipeline could not be found.">
          <FaIcon
            @icon="trash"
            class="danger link disabled"
          />
        </span>
      {{/if}}
    </h1>
  </div>
</div>
<div class="template-stats">
  <h2 class="template-version">
    {{this.template.version}}
  </h2>
  <div class="template-metrics">
    Usage - Jobs: {{this.template.metrics.jobs.count}} | Builds: {{this.template.metrics.builds.count}}
  </div>
</div>
<p>
  {{this.template.description}}
</p>
{{#if this.template.namespace}}
  <div class="template-details--item" id="template-namespace">
    <div class="template-details--label">
      Namespace:
    </div>
    <div class="template-details--value">
      {{this.template.namespace}}
    </div>
  </div>
  <div class="template-details--item" id="template-name">
    <div class="template-details--label">
      Name:
    </div>
    <div class="template-details--value">
      {{this.template.name}}
    </div>
  </div>
{{/if}}
<div class="template-details--item" id="template-maintainer">
  <div class="template-details--label">
    Released by:
  </div>
  <div class="template-details--value">
    <a href="mailto:{{this.template.maintainer}}" class="link">
      {{this.template.maintainer}}
    </a>
  </div>
</div>
{{#if this.template.labels.length}}
  <div class="template-details--item" id="template-tags">
    <div class="template-details--label">
      Tags:
    </div>
    <div class="template-details--value">
      {{#each this.template.labels as |l|}}
        <span class="template-label">
          {{l}}
        </span>
      {{/each}}
    </div>
  </div>
{{/if}}
<h4>
  Usage:
</h4>
{{! template-lint-disable block-indentation }}
<pre>jobs:
  main:
    template: {{this.template.fullName}}@{{this.template.version}}</pre>
{{#if this.templateToRemove}}
  {{#if this.isRemoving}}
    <ModalDialog
      @clickOutsideToClose="false"
      @targetAttachment="center"
      @translucentOverlay={{true}}
    >
      <LoadingView />
    </ModalDialog>
  {{else}}
    <BsModal
      @onSubmit={{action "removeTemplate" this.template.fullName}}
      @onHide={{action "cancelRemovingTemplate"}} as |modal|
    >
      <modal.header>
        <h4>
          Are you sure?
        </h4>
      </modal.header>
      <modal.body>
        <FaIcon @icon="exclamation-triangle" @pull="left" @size="3" />
        You're about to delete all versions and tags of
        <strong>
          {{this.template.fullName}}
        </strong>
        . There might be existing pipelines using this template.
      </modal.body>
      <modal.footer>
        <BsButton @onClick={{action "cancelRemovingTemplate"}}>
          Cancel
        </BsButton>
        <BsButton
          @onClick={{action "removeTemplate" this.template.fullName}}
          @type="danger"
        >
          <FaIcon @icon="trash" />
          Confirm
        </BsButton>
      </modal.footer>
    </BsModal>
  {{/if}}
{{/if}}
{{#if this.showToggleTrustModal}}
  <BsModalSimple
    @title="Confirm template trusted"
    @closeTitle="Cancel"
    @submitTitle="Confirm"
    @submitButtonType="primary"
    @size={{null}}
    @fade={{true}}
    @onSubmit={{action "updateTrust" this.template.fullName (not this.isTrusted)}}
    @onHide={{action "cancelToggleTrustModal"}}
  >
    Set {{this.template.fullName}} template to {{if this.isTrusted "Distrusted" "Trusted"}}.
  </BsModalSimple>
{{/if}}
