<div class="header">
  <div class="left-header">
    <h1>
      {{#if this.isTrusted}}
        {{svg-jar "trusted" class="trusted"}}
      {{else}}
        {{svg-jar "trusted" class="trusted distrusted"}}
      {{/if}}
      <LinkTo
        @route="pipeline"
        @model={{this.template.pipelineId}}
        @title="Go to template pipeline"
        class="link"
      >
        {{this.template.fullName}}
      </LinkTo>
      {{#if this.scmUrl}}
        <a href={{this.scmUrl}} class="link"><span class="branch-icon"><FaIcon @icon="code-branch" @title="Source code" /></span></a>
      {{else}}
        <span class="branch-icon"><FaIcon
          @icon="code-branch"
          @title="The pipeline for this template does not exist."
          class="link"
        /></span>
      {{/if}}
      {{#if (or this.isAdmin this.scmUrl)}}
        <a href="#" class="danger link" disabled {{action "setTemplateToRemove" this.template}}><span class="trash-icon"><FaIcon @icon="trash" @title="Delete template" /></span>
        </a>
      {{else}}
        <span title="Cannot delete template; pipeline could not be found.">
          <FaIcon
            @icon="trash"
            class="danger link disabled"
          />
        </span>
      {{/if}}
    </h1>
  </div>

  {{#if this.isAdmin}}
  <div class="right-header">
    <div class="stack">
      <div class="stack-item"><span class="stack-label">Trusted</span></div>
      <div class="stack-item">
      <XToggle
        @theme='ios'
        @size="small"
        @value={{this.isTrusted}}
        @onToggle={{action "showToggleTrustModal"}}
        title="Toggle mark template as trusted"
        />
      </div>
    </div>
  </div>
  {{/if}}
</div>

<div class="template-stats">
  <h2 class="template-version">
    {{this.template.version}}
  </h2>
  {{#unless this.isPipelineTemplatePage}}
  <div class="template-metrics">
    Usage - Jobs: {{this.template.metrics.jobs.count}} | Builds: {{this.template.metrics.builds.count}}
  </div>
  {{/unless}}
</div>

<p>
  {{this.template.description}}
</p>
{{#if this.template.namespace}}
  <div class="template-details--item" id="template-namespace">
    <div class="template-details--label">
      Namespace:
    </div>
    <div class="template-details--value">
      {{this.template.namespace}}
    </div>
  </div>
  <div class="template-details--item" id="template-name">
    <div class="template-details--label">
      Name:
    </div>
    <div class="template-details--value">
      {{this.template.name}}
    </div>
  </div>
{{/if}}
<div class="template-details--item" id="template-maintainer">
  <div class="template-details--label">
    Released by:
  </div>
  <div class="template-details--value">
    <a href="mailto:{{this.template.maintainer}}" class="link">
      {{this.template.maintainer}}
    </a>
  </div>
</div>
{{#if this.template.compatibilities}}
  {{#if this.template.compatibilities.clouds.length}}
  <div class="template-details--item" id="template-compatibilities">
    <div class="template-details--label">
      Supported Clouds:
    </div>
    <div class="template-details--value">
      {{#each this.template.compatibilities.clouds as |cloud|}}
        <span>{{cloud}}</span>
      {{/each}}
    </div>
  </div>
  {{/if}}
  {{#if this.template.compatibilities.architectures.length}}
  <div class="template-details--item" id="template-compatibilities">
    <div class="template-details--label">
      Supported Arches:
    </div>
    <div class="template-details--value">
      {{#each this.template.compatibilities.architectures as |arch|}}
        <span>{{arch}}</span>
      {{/each}}
    </div>
  </div>
  {{/if}}
{{/if}}

{{#if this.template.labels.length}}
  <div class="template-details--item" id="template-tags">
    <div class="template-details--label">
      Tags:
    </div>
    <div class="template-details--value">
      {{#each this.template.labels as |l|}}
        <span class="template-label">
          {{l}}
        </span>
      {{/each}}
    </div>
  </div>
{{/if}}
<h4>
  Usage:
</h4>
{{#if this.isPipelineTemplatePage}}
{{! template-lint-disable block-indentation }}
<pre>template: {{this.template.fullName}}@{{this.template.version}}</pre>
{{else}}
{{! template-lint-disable block-indentation }}
<pre>jobs:
  main:
    template: {{this.template.fullName}}@{{this.template.version}}</pre>
{{/if}}

{{#if this.templateToRemove}}
  {{#if this.isRemoving}}
    <ModalDialog
      @clickOutsideToClose="false"
      @targetAttachment="center"
      @translucentOverlay={{true}}
    >
      <LoadingView />
    </ModalDialog>
  {{else}}
    <BsModal
      @onSubmit={{action "removeTemplate" this.template.fullName}}
      @onHide={{action "cancelRemovingTemplate"}} as |modal|
    >
      <modal.header>
        <h4>
          Are you sure?
        </h4>
      </modal.header>
      <modal.body>
        <FaIcon @icon="triangle-exclamation" @pull="left" @size="3" />
        You're about to delete all versions and tags of
        <strong>
          {{this.template.fullName}}
        </strong>
        . There might be existing pipelines using this template.
      </modal.body>
      <modal.footer>
        <BsButton @onClick={{action "cancelRemovingTemplate"}}>
          Cancel
        </BsButton>
        <BsButton
          @onClick={{action "removeTemplate" this.template.fullName}}
          @type="danger"
        >
          <FaIcon @icon="trash" />
          Confirm
        </BsButton>
      </modal.footer>
    </BsModal>
  {{/if}}
{{/if}}
{{#if this.showToggleTrustModal}}
  <BsModalSimple
    @title="Confirm template trusted"
    @closeTitle="Cancel"
    @submitTitle="Confirm"
    @submitButtonType="primary"
    @size={{null}}
    @fade={{true}}
    @onSubmit={{action "updateTrust" this.template.fullName (not this.isTrusted)}}
    @onHide={{action "cancelToggleTrustModal"}}
  >
    Set <span style="font-weight: bold;">{{this.template.fullName}}</span> template to {{if this.isTrusted "Distrusted" "Trusted"}}.
  </BsModalSimple>
{{/if}}
