{{#if pipeline}}
  <div class="workflow">
    <WorkflowGraphD3
      @pipeline={{pipeline}}
      @workflowGraph={{workflowGraph}}
      @startFrom={{startFrom}}
      @graphClicked={{action "graphClicked"}}
    >
      <WorkflowTooltip
        @tooltipData={{tooltipData}}
        @showTooltip={{showTooltip}}
        @showTooltipPosition={{showTooltipPosition}}
      />
    </WorkflowGraphD3>
  </div>
{{else}}
  <div class="pipeline-vis empty">
    {{inline-svg "pipeline-vis-display"}}
  </div>
{{/if}}