{{#if session.isAuthenticated}}
  {{#if (not session.data.authenticated.isGuest)}}
    {{pipeline-nav pipeline=pipeline}}
  {{/if}}
{{/if}}


{{info-message message=errorMessage type="warning" icon="exclamation-triangle" scmContext=pipeline.scmContext}}

<div class="row">
  <div class="col-xs-12 col-md-9 separator partial-view">
    {{pipeline-graph-nav
      pipeline=pipeline
      mostRecent=mostRecent
      lastSuccessful=lastSuccessful
      graphType=currentEventType
      selectedEvent=selectedEvent
      selectedEventObj=selectedEventObj
      selected=selected
      showDownstreamTriggers=showDownstreamTriggers
      setDownstreamTrigger=(action "setDownstreamTrigger")
      startMainBuild=(action "startMainBuild")
      startPRBuild=(action "startPRBuild")
      prGroups=pullRequestGroups
      stopEvent=(action "stopEvent")
    }}

    {{pipeline-workflow
      pipeline=pipeline
      showDownstreamTriggers=showDownstreamTriggers
      completeWorkflowGraph=completeWorkflowGraph
      workflowGraph=pipeline.workflowGraph
      jobs=jobs
      selectedEventObj=selectedEventObj
      selected=selected
      startDetachedBuild=(action "startDetachedBuild")
      stopBuild=(action "stopBuild")
      authenticated=session.isAuthenticated
    }}
  </div>
  <div class="col-xs-12 col-md-3 no-padding column-tabs-view partial-view" onScroll={{action "onEventListScroll"}}>
    {{#bs-tab customTabs=true as |tab|}}
      {{#bs-nav type="tabs" as |nav|}}
        {{#nav.item active=(bs-eq activeTab "events")}}
          {{#nav.link-to "pipeline.events" class="nav-link"}}Events{{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item active=(bs-eq activeTab "pulls")}}
          {{#nav.link-to "pipeline.pulls" class="nav-link"}}Pull Requests{{/nav.link-to}}
        {{/nav.item}}
      {{/bs-nav}}

      <div class="tab-content">
        {{#tab.pane activeId=activeTab elementId="events" title="Events"}}
          {{pipeline-events-list
            events=events
            selected=(mut selected)
            selectedEvent=selectedEvent
            lastSuccessful=lastSuccessful
            mostRecent=mostRecent
            eventsPage=eventsPage
            updateEvents=(action "updateEvents")
          }}
        {{/tab.pane}}
        {{#tab.pane activeId=activeTab elementId="pulls" title="Pull Requests"}}
          {{#if prChainEnabled}}
            {{pipeline-events-list
            events=events
            selected=(mut selected)
            selectedEvent=selectedEvent
            lastSuccessful=lastSuccessful
            eventsPage=eventsPage
            updateEvents=(action "updateEvents")
            }}
          {{else}}
            {{#each pullRequestGroups as |prg|}}
              {{pipeline-pr-list
                jobs=prg
                isRestricted=isRestricted
                startBuild=(action "startPRBuild")
                stopPRBuilds=(action "stopPRBuilds")
              }}
            {{else}}
              <div class="alert">No open pull requests</div>
            {{/each}}
          {{/if}}
        {{/tab.pane}}
      </div>
    {{/bs-tab}}
  </div>
</div>

{{#if isShowingModal}}
  {{#modal-dialog clickOutsideToClose=false
    targetAttachment="center"
    translucentOverlay=true
  }}
    {{loading-view}}
  {{/modal-dialog}}
{{/if}}

{{outlet}}
