{{#if session.isAuthenticated}}
  {{#if (not session.data.authenticated.isGuest)}}
    {{pipeline-nav pipeline=pipeline}}
  {{/if}}
{{/if}}

{{info-message message=errorMessage type="warning" icon="exclamation-triangle"}}
<div class="row">
  <div class="col-xs-12 col-md-9">
    {{pipeline-graph-nav
      mostRecent=mostRecent
      lastSuccessful=lastSuccessful
      selectedEvent=selectedEvent
      selectedEventObj=selectedEventObj
      selected=selected
      startBuild=(action "startMainBuild")
    }}

    {{pipeline-workflow
      workflowGraph=pipeline.workflowGraph
      jobs=jobs
      selectedEventObj=selectedEventObj
      selected=selected
      startDetachedBuild=(action "startDetachedBuild")
      authenticated=session.isAuthenticated
    }}

    {{pipeline-events-list
      events=events
      pipeline=pipeline
      selected=(mut selected)
      selectedEvent=selectedEvent
      lastSuccessful=lastSuccessful
      mostRecent=mostRecent
      updateEvents=(action "updateEvents")
      moreToShow=moreToShow
    }}

  </div>
  <div class="col-xs-12 col-md-3">
    {{pipeline-pr-list pullRequests=pullRequests}}
  </div>
</div>

{{#if isShowingModal}}
  {{#modal-dialog clickOutsideToClose=false
    targetAttachment="center"
    translucentOverlay=true
  }}
    {{loading-view}}
  {{/modal-dialog}}
{{/if}}

{{outlet}}
