<div class="actions-button-container">
  <BsButton
    @type="primary"
    @outline={{true}}
    @onClick={{this.showEditSecretModal}}
  >
    <FaIcon
      @icon="pen"
      @outline={{true}}
    />
    {{#if this.isEditSecretModalOpen}}
      <Pipeline::SecretsAndTokens::Secrets::Modal::Edit
        @secret={{@record}}
        @closeModal={{this.closeEditSecretModal}}
      />
    {{/if}}
  </BsButton>

  {{#if (or @record.overridden (not @record.inherited))}}
    <BsButton
      @type="danger"
      @outline={{true}}
      @onClick={{this.showDeleteSecretModal}}
      disabled={{this.isActionDisabled}}
    >
      {{#if @record.overridden}}
        <FaIcon
          @icon="rotate-left"
        />
      {{else}}
        <FaIcon
          @icon="trash"
        />
      {{/if}}
      {{#if this.isDeleteSecretModalOpen}}
        <Pipeline::SecretsAndTokens::Secrets::Modal::Delete
          @secret={{@record}}
          @closeModal={{this.closeDeleteSecretModal}}
        />
      {{/if}}
    </BsButton>
  {{/if}}
</div>
