{{#if (and (is-fulfilled selectedEventObj.builds) (is-fulfilled graph))}}
  {{#workflow-graph-d3
    completeWorkflowGraph=completeWorkflowGraph
    showDownstreamTriggers=showDownstreamTriggers
    builds=selectedEventObj.builds
    jobs=jobs
    workflowGraph=selectedEventObj.workflowGraph
    startFrom=selectedEventObj.startFrom
    causeMessage=selectedEventObj.causeMessage
    graphClicked=(action "graphClicked")
    isSkipped=selectedEventObj.isSkipped
  }}
    {{workflow-tooltip
      tooltipData=tooltipData
      displayRestartButton=displayRestartButton
      stopBuild=stopBuild
      showTooltip=showTooltip
      showTooltipPosition=showTooltipPosition
      confirmStartBuild=(action "confirmStartBuild")
    }}
  {{/workflow-graph-d3}}
  {{#if isShowingModal}}
    {{#modal-dialog
      targetAttachment="center"
      translucentOverlay=true
      containerClass="detached-confirm-dialog"
    }}
      <h3>Are you sure?</h3>
      <p>
        Job: <code>{{tooltipData.job.name}}</code><br>
        Commit:<a href={{selectedEventObj.commit.url}}><code>{{selectedEventObj.commit.message}}</code>({{selectedEventObj.truncatedSha}})</a> 
      </p>
      <div class="row">
        <div class="col-xs-6">
          <button class="d-button is-primary" {{action "startDetachedBuild"}}>Yes</button>
        </div>
        <div class="col-xs-6 right">
          <button class="d-button is-secondary" {{action "cancelStartBuild"}}>No</button>
        </div>
      </div>
    {{/modal-dialog}}
  {{/if}}
{{/if}}
