{{#if (and (is-fulfilled this.selectedEventObj.builds) (is-fulfilled this.graph) (or (not this.selectedEventObj.hasStages) (is-fulfilled this.selectedEventObj.stageBuilds)))}}
  <WorkflowGraphD3
    @jobId={{this.jobId}}
    @pipeline={{this.pipeline}}
    @completeWorkflowGraph={{this.completeWorkflowGraph}}
    @showDownstreamTriggers={{this.showDownstreamTriggers}}
    @showPRJobs={{this.showPRJobs}}
    @selectedEventObj={{this.selectedEventObj}}
    @selectedEventObjStatus={{this.selectedEventObj.status}}
    @builds={{this.selectedEventObj.builds}}
    @stageBuilds={{this.stageBuilds}}
    @jobs={{this.jobs}}
    @prJobs={{this.prJobs}}
    @workflowGraph={{this.selectedEventObj.workflowGraph}}
    @startFrom={{this.selectedEventObj.startFrom}}
    @causeMessage={{this.selectedEventObj.causeMessage}}
    @graphClicked={{action "graphClicked"}}
    @onShowStageActionsMenu={{action "onShowStageActionsMenu"}}
    @isSkipped={{this.selectedEventObj.isSkipped}}
    @prChainEnabled={{this.prChainEnabled}}
    @stages={{this.stages}}
    @displayStageMenuHandle={{this.displayStageMenuHandle}}
  >
    <WorkflowTooltip
      @pipeline={{this.pipeline}}
      @tooltipData={{this.tooltipData}}
      @canJobStartFromView={{this.canJobStartFromView}}
      @activeTab={{this.activeTab}}
      @canRestartPipeline={{this.canRestartPipeline}}
      @stopBuild={{this.stopBuild}}
      @showTooltip={{this.showTooltip}}
      @showTooltipPosition={{this.showTooltipPosition}}
      @setJobState={{this.setJobState}}
      @confirmStartBuild={{action "confirmStartBuild"}}
    />

    <WorkflowStageActionsMenu
      @showMenu={{this.showStageActionsMenu}}
      @canRestartPipeline={{this.canRestartPipeline}}
      @canStageStartFromView={{this.canStageStartFromView}}
      @menuData={{this.stageMenuData}}
      @confirmStartBuild={{action "confirmStartBuild"}}
    />
  </WorkflowGraphD3>
  {{#if this.isShowingModal}}
    <ModalDialog
      @targetAttachment="center"
      @translucentOverlay={{true}}
      @containerClass="detached-confirm-dialog"
    >
      <h3>
        Are you sure to start?
      </h3>
      <p>
        {{#if (eq this.newEventStartFromType 'STAGE')}}
          Stage:
          <code>
            {{this.stageMenuData.stage.name}}
          </code>
        {{else}}
          Job:
          <code>
            {{this.tooltipData.job.name}}
          </code>
        {{/if}}
        <br />
        Commit:
        <code>
          {{this.selectedEventObj.truncatedMessage}}
        </code>
        <a
          class={{if
            (eq this.selectedEventObj.sha this.latestCommit.sha)
            "latest-commit"
          }}
          href={{this.selectedEventObj.commit.url}}
        >
          #{{this.selectedEventObj.truncatedSha}}
        </a>
        {{#if
          (and
            (not-eq this.selectedEventObj.type "pr")
            (not-eq this.selectedEventObj.sha this.latestCommit.sha)
          )
        }}
          <br />
          <div class="commit-warning alert alert-warning">
            <FaIcon @icon="triangle-exclamation" />
            This is
            <strong>
              NOT
            </strong>
            the latest commit.
          </div>
        {{/if}}
      </p>
      {{#if (eq this.tooltipData.job.status "FROZEN")}}
        {{#if (get-length this.tooltipData.selectedEvent.meta.parameters)}}
          <PipelineParameterizedBuild
            @pipeline={{this.pipeline}}
            @buildPipelineParameters={{this.tooltipData.pipelineParameters}}
            @buildJobParameters={{this.tooltipData.jobParameters}}
            @startFrom={{this.tooltipData.job.name}} as |parameterizedBuild|
          >
            <div class="form-group form-horizontal">
              <label class="control-label col-md-4">
                Reason:
              </label>
              <div class="col-md-8">
                <Input
                  class="form-control"
                  @type="text"
                  @value={{this.reason}}
                  placeholder="Please enter reason"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <button
                  class="d-button is-primary"
                  disabled={{eq (get-length this.reason) 0}}
                  {{action
                    "startDetachedBuild"
                    (hash
                      reason=this.reason parameters=parameterizedBuild.parameters
                    )
                  }}
                >
                  Yes
                </button>
              </div>
              <div class="col-6 right">
                <button
                  class="d-button is-secondary"
                  {{action "cancelStartBuild"}}
                >
                  No
                </button>
              </div>
            </div>
          </PipelineParameterizedBuild>
        {{else}}
          <div class="form-group form-horizontal">
            <label class="control-label col-md-4">
              Reason:
            </label>
            <div class="col-md-8">
              <Input
                class="form-control"
                @type="text"
                @value={{this.reason}}
                placeholder="Please enter reason"
              />
            </div>
          </div>
          <div class="row non-parameters-build">
            <div class="col-6">
              <button
                class="d-button is-primary"
                disabled={{eq (get-length this.reason) 0}}
                {{action "startDetachedBuild" (hash reason=this.reason)}}
              >
                Yes
              </button>
            </div>
            <div class="col-6 right">
              <button
                class="d-button is-secondary"
                {{action "cancelStartBuild"}}
              >
                No
              </button>
            </div>
          </div>
        {{/if}}
      {{else if (get-length this.tooltipData.selectedEvent.meta.parameters)}}
        <PipelineParameterizedBuild
          @pipeline={{this.pipeline}}
          @buildPipelineParameters={{this.buildPipelineParameters}}
          @buildJobParameters={{this.buildJobParameters}}
          @startFrom={{this.tooltipData.job.name}} as |parameterizedBuild|
        >
          <div class="row">
            <div class="col-6">
              <button
                class="d-button is-primary"
                {{action
                  "startDetachedBuild"
                  (hash parameters=parameterizedBuild.parameters)
                }}
              >
                Yes
              </button>
            </div>
            <div class="col-6 right">
              <button
                class="d-button is-secondary"
                {{action "cancelStartBuild"}}
              >
                No
              </button>
            </div>
          </div>
        </PipelineParameterizedBuild>
      {{else}}
        <div class="row non-parameters-build">
          <div class="col-6">
            <button class="d-button is-primary" {{action "startDetachedBuild"}}>
              Yes
            </button>
          </div>
          <div class="col-6 right">
            <button class="d-button is-secondary" {{action "cancelStartBuild"}}>
              No
            </button>
          </div>
        </div>
      {{/if}}
    </ModalDialog>
  {{/if}}
{{/if}}