{{#if (and (is-fulfilled selectedEventObj.builds) (is-fulfilled graph))}}
  {{#workflow-graph-d3
    completeWorkflowGraph=completeWorkflowGraph
    showDownstreamTriggers=showDownstreamTriggers
    builds=selectedEventObj.builds
    jobs=jobs
    workflowGraph=selectedEventObj.workflowGraph
    startFrom=selectedEventObj.startFrom
    causeMessage=selectedEventObj.causeMessage
    graphClicked=(action "graphClicked")
    isSkipped=selectedEventObj.isSkipped
  }}
    {{workflow-tooltip
      tooltipData=tooltipData
      displayRestartButton=displayRestartButton
      stopBuild=stopBuild
      showTooltip=showTooltip
      showTooltipPosition=showTooltipPosition
      confirmStartBuild=(action "confirmStartBuild")
    }}
  {{/workflow-graph-d3}}
  {{#if isShowingModal}}
    {{#modal-dialog
      targetAttachment="center"
      translucentOverlay=true
      containerClass="detached-confirm-dialog"
    }}
      <h3>Are you sure to start?</h3>
      <p>
        Job: <code>{{tooltipData.job.name}}</code><br>
        Commit:<a href={{selectedEventObj.commit.url}}><code>{{selectedEventObj.truncatedMessage}}</code>({{selectedEventObj.truncatedSha}})</a>
      </p>
      {{#if (eq tooltipData.job.status "FROZEN")}}
        {{#if (get-length tooltipData.selectedEvent.meta.parameters)}}
          {{#pipeline-parameterized-build
            buildParameters=tooltipData.selectedEvent.meta.parameters
            as |parameterizedBuild| }}
            <div class="form-group form-horizontal">
              <label class="control-label col-md-4">Reason:</label>
              <div class="col-md-8">
                {{input class="form-control" type="text" value=reason
                  placeholder="Please enter reason"}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <button class="d-button is-primary"
                disabled={{eq (get-length reason) 0}}
                {{action "startDetachedBuild" (hash reason=reason
                parameters=parameterizedBuild.parameters)}}>
                  Yes
                </button>
              </div>
              <div class="col-xs-6 right">
                <button class="d-button is-secondary" {{action "cancelStartBuild"}}>No</button>
              </div>
            </div>
          {{/pipeline-parameterized-build}}
        {{else}}
          <div class="form-group form-horizontal">
            <label class="control-label col-md-4">Reason:</label>
            <div class="col-md-8">
              {{input class="form-control" type="text" value=reason
                placeholder="Please enter reason"}}
            </div>
          </div>
          <div class="row non-parameters-build">
            <div class="col-xs-6">
              <button class="d-button is-primary" disabled={{eq (get-length reason) 0}}
              {{action "startDetachedBuild" (hash reason=reason)}}>
                Yes
              </button>
            </div>
            <div class="col-xs-6 right">
              <button class="d-button is-secondary" {{action "cancelStartBuild"}}>No</button>
            </div>
          </div>
        {{/if}}
      {{else if (get-length tooltipData.selectedEvent.meta.parameters)}}
        {{#pipeline-parameterized-build
          buildParameters=buildParameters
          as |parameterizedBuild| }}
          <div class="row">
            <div class="col-xs-6">
              <button class="d-button is-primary" {{action "startDetachedBuild" (hash parameters=parameterizedBuild.parameters)}}>Yes</button>
            </div>
            <div class="col-xs-6 right">
              <button class="d-button is-secondary" {{action "cancelStartBuild"}}>No</button>
            </div>
          </div>
        {{/pipeline-parameterized-build}}
      {{else}}
        <div class="row non-parameters-build">
          <div class="col-xs-6">
            <button class="d-button is-primary" {{action "startDetachedBuild"}}>Yes</button>
          </div>
          <div class="col-xs-6 right">
            <button class="d-button is-secondary" {{action "cancelStartBuild"}}>No</button>
          </div>
        </div>
      {{/if}}
    {{/modal-dialog}}
  {{/if}}
{{/if}}