{{#if (and (eq selected 'aggregate') (is-fulfilled graph))}}
  {{#workflow-graph-d3
    workflowGraph=directedGraph
    builds=builds
    graphClicked=(action "graphClicked")
  }}
  {{workflow-tooltip
    tooltipData=tooltipData
    displayRestartButton=false
    showTooltip=showTooltip
  }}
  {{/workflow-graph-d3}}
{{else}}
  {{#if (is-fulfilled selectedEventObj.builds)}}
    {{#workflow-graph-d3
      builds=selectedEventObj.builds
      workflowGraph=selectedEventObj.workflowGraph
      startFrom=selectedEventObj.startFrom
      causeMessage=selectedEventObj.causeMessage
      graphClicked=(action "graphClicked")
    }}
    {{workflow-tooltip
      tooltipData=tooltipData
      displayRestartButton=displayRestartButton
      showTooltip=showTooltip
      showTooltipPosition=showTooltipPosition
      confirmStartBuild=(action "confirmStartBuild")
    }}
    {{/workflow-graph-d3}}
    {{#if isShowingModal}}
      {{#modal-dialog
        targetAttachment="center"
        translucentOverlay=true
        containerClass="detached-confirm-dialog"
      }}
        <h3>Are you sure?</h3>
        <p>
          You are about to start the job <code>{{tooltipData.job.name}}</code> in a new event with the same
          context of the selected event for sha <code>#{{selectedEventObj.truncatedSha}}</code>
        </p>
        <div class="row">
          <div class="col-xs-6">
            <button class="d-button is-primary" {{action "startDetachedBuild"}}>Yes</button>
          </div>
          <div class="col-xs-6 right">
            <button class="d-button is-secondary" {{action "cancelStartBuild"}}>No</button>
          </div>
        </div>
      {{/modal-dialog}}
    {{/if}}
  {{/if}}
{{/if}}
