{{#bs-dropdown as |dd|}}
  {{#if dropdownText}}
    {{#dd.toggle}}
      <a class="toggler-text">
        {{dropdownText}}<span class="caret caret-display"></span>
      </a>
    {{/dd.toggle}}
  {{else}}
    {{#dd.button class="add-to-collection"}}
      {{fa-icon "plus" title="Add to collection" size="sm"}}
    {{/dd.button}}
  {{/if}}
  {{#dd.menu align="right" class="dropdown" as |menu|}}
    {{#each collections as |collection|}}
      {{#menu.item}}
        <span onclick={{action "addToCollection" pipeline.id collection}}>
          {{collection.name}}
        </span>
      {{/menu.item}}
    {{/each}}
    <li>
      <span class="create-dropdown" onclick={{action "openModal"}}>
        {{fa-icon "plus-circle" title="Create" size="md"}} CREATE
      </span>
    </li>
  {{/dd.menu}}
{{/bs-dropdown}}
{{collection-modal showModal=showCollectionModal addNewCollection=addNewCollection}}
