<h3>
  Access Tokens
</h3>
<InfoMessage
  @message={{errorMessage}}
  @type="warning"
  @icon="exclamation-triangle"
/>
{{#if newToken}}
  <BsAlert @type="success" @onDismissed={{action "clearNewToken"}}>
    <div class="new-token">
      <p>
        <FaIcon @icon="check" /> Token {{newToken.action
        }}. You can only see this value once, so remember to copy it!
      </p>
      <span class="new-name">
        {{newToken.name}}:
      </span>
      <span class="new-value">
        {{newToken.value}}
      </span>
    </div>
  </BsAlert>
{{/if}}
<p>
  {{tokenName}} tokens provide access to the
  <a href="http://docs.screwdriver.cd/user-guide/api">
    Screwdriver API
  </a>
  . They are scoped to {{tokenScope}}.
</p>
<table class="token-list">
  <thead>
    <tr>
      <th class="token-name">
        Name
      </th>
      <th class="token-description">
        Description
      </th>
      <th class="last-used">
        Last Used
      </th>
      <th class="actions">
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedTokens as |token|}}
      <TokenView
        @token={{token}}
        @pipelineId={{pipelineId}}
        @confirmAction={{action "confirmAction"}}
        @setErrorMessage={{action "setErrorMessage"}}
        @setIsSaving={{action "setIsSaving"}}
      />
    {{/each}}
  </tbody>
  <tfoot>
    <tr class="new">
      <td class="name">
        <Input placeholder="NAME" @size="40" @value={{newName}} />
      </td>
      <td class="description" colspan="2">
        <Input placeholder="DESCRIPTION" @size="40" @value={{newDescription}} />
      </td>
      <td>
        <button
          class="add"
          disabled={{isButtonDisabled}}
          {{action "addNewToken"}}
        >
          Add
        </button>
      </td>
    </tr>
  </tfoot>
</table>
{{#if isShowingModal}}
  <ModalDialog
    @translucentOverlay={{true}}
    @onClickOverlay={{action "closeModal" false}}
  >
    <div class="token-confirm-dialog">
      <h3>
        Are you sure?
      </h3>
      <p>
        {{modalText}}
      </p>
      <button onclick={{action "closeModal" true}} class={{modalAction}}>
        {{modalButtonText}}
      </button>
    </div>
  </ModalDialog>
{{/if}}
{{#if isSaving}}
  <ModalDialog
    @clickOutsideToClose={{false}}
    @targetAttachment="center"
    @translucentOverlay={{true}}
  >
    <LoadingView />
  </ModalDialog>
{{/if}}