{{#if (eq 'file' @node.file.type)}}
  <LinkTo
    @route="pipeline.build.artifacts.detail"
    @model={{this.artifactPath}}>
    <FaIcon @icon="file" @fixedWidth={{true}}/>
    {{@node.file.text}}
  </LinkTo>
{{else}}
  <span onclick={{action "toggle"}}>
    <FaIcon @icon="folder{{if @node.isExpanded "-open"}}" @fixedWidth={{true}}/>
    {{@node.fileName}}
  </span>
{{/if}}
