{{#if (eq 'file' @node.file.type)}}
  <a href={{this.nodeURL}}>
    <FaIcon @icon="file" @fixedWidth={{true}}/>
    {{@node.file.text}}
  </a>
{{else}}
  <span onclick={{action "toggle"}}>
    <FaIcon @icon="folder{{if @node.isExpanded "-open"}}" @fixedWidth={{true}}/>
    {{@node.fileName}}
  </span>
{{/if}}
