<div class={{this.styleNamespace}} ...attributes>
  {{#if (eq this.column.label "Name")}}
    <a href="/{{this.extra.routes.prefix}}/{{this.row.content.namespace}}/{{this.value}}">{{#if this.row.content.trusted}}<span title="Trusted">{{inline-svg "trusted" class="trusted"}}</span>{{/if}}<span class="name">{{this.value}}</span></a>
  {{else if (eq this.column.label "Namespace")}}
    {{#link-to this.extra.routes.namespace this.value}}<span class="namespace">{{this.value}}</span>{{/link-to}}
  {{/if}}
</div>