{{#if (eq this.label "Name")}}
  <a href="/{{this.prefix}}/{{this.namespace}}/{{this.name}}">
    {{#if this.trusted}}
      <span title="Trusted">
        {{svg-jar "trusted" class="trusted"}}
      </span>
    {{/if}}<span class="name">
      {{this.name}}
    </span>
  </a>
{{else if (eq this.label "Namespace")}}
  <a href="/{{this.prefix}}/{{this.namespace}}">
    <span class="namespace">
      {{this.namespace}}
    </span>
  </a>
{{/if}}
