{{#if (eq this.column.label "Name")}}
  <a href="/{{this.extra.routes.prefix}}/{{this.row.content.namespace}}/{{this.value}}">
    {{#if this.row.content.trusted}}
      <span title="Trusted">
        {{svg-jar "trusted" class="trusted"}}
      </span>
    {{/if}}<span class="name">
      {{this.value}}
    </span>
  </a>
{{else if (eq this.column.label "Namespace")}}
  <LinkTo @route={{this.extra.routes.namespace}} @model={{this.value}}>
    <span class="namespace">
      {{this.value}}
    </span>
  </LinkTo>
{{/if}}