{{#if (eq column.label "Name")}}
  <a href="/{{extra.routes.prefix}}/{{row.content.namespace}}/{{value}}">
    {{#if row.content.trusted}}
      <span title="Trusted">
        {{inline-svg "trusted" class="trusted"}}
      </span>
    {{/if}}<span class="name">
      {{value}}
    </span>
  </a>
{{else if (eq column.label "Namespace")}}
  <LinkTo @route={{extra.routes.namespace}} @model={{value}}>
    <span class="namespace">
      {{value}}
    </span>
  </LinkTo>
{{/if}}