{{#if this.showGraphNavRow}}
  <div class="nav-button-container">
    {{#if (not this.isPR)}}
      <div class="button-container layout-buttons">
        <BsButtonGroup
          class="view-toggle"
          @value={{this.showListView}}
          @type="radio"
          @onChange={{action this.setShowListView}} as |bg|
        >
          <bg.button @value={{false}} @type="primary" @outline={{true}}>
            <FaIcon @icon="table-cells" />
          </bg.button>
          <bg.button @value={{true}} @type="primary" @outline={{true}}>
            <FaIcon @icon="table-list" />
          </bg.button>
        </BsButtonGroup>
      </div>
    {{/if}}

    <div class="button-container">
      {{#if this.isPR}}
        <strong>
          Pull Requests
        </strong>
      {{/if}}
      <BsButtonGroup
        class="event-options-toggle"
        @value={{this.selectedEvent}}
        @type="radio"
        @onChange={{action (mut this.selected)}} as |bg|
      >
        {{#each this.eventOptions as |opt|}}
          <bg.button @value={{opt.value}} @type="primary" @outline={{true}}>
            {{opt.label}}
          </bg.button>
        {{/each}}
      </BsButtonGroup>
    </div>
    {{#if (not this.isPR)}}
      <div
        class="button-container"
        title="Toggle to {{if this.showDownstreamTriggers "hide" "show"}} the downstream trigger nodes."
      >
        <XToggle
          @size="medium"
          @theme="material"
          @showLabels={{true}}
          @value={{this.showDownstreamTriggers}}
          @offLabel="Hide triggers"
          @onLabel="Show triggers"
          @onToggle={{action this.setDownstreamTrigger}}
        />
      </div>
    {{/if}}
    <div class="button-container start-build-button">
      {{#if this.session.isAuthenticated}}
        {{#if (not-eq this.selectedEventObj.type "pr")}}
          <PipelineStart
            @startBuild={{action this.startMainBuild}}
            @pipeline={{this.pipeline}}
          />
        {{/if}}
      {{/if}}
    </div>
  </div>
{{/if}}
{{#if this.selectedEventObj}}
  <div class="event-info-container {{this.selectedEventObj.status}}">
    <div class="info-col info-col-commit">
      <span class="title">
        Commit
      </span>
      <span>
        <a
          class={{if
            (eq this.selectedEventObj.sha this.latestCommit.sha)
            "latest-commit"
          }}
          href={{this.selectedEventObj.commit.url}}
        >
          #{{this.selectedEventObj.truncatedSha}}
        </a>
      </span>
    </div>
    <div class="info-col info-col-message">
      <span class="title">
        Message
      </span>
      <div class="commit-message" title={{this.selectedEventObj.commit.message}}>
        {{this.selectedEventObj.truncatedMessage}}
      </div>
    </div>
    <div class="info-col info-col-branch">
      <span class="title">
        Branch
      </span>
      <span class="branch-name">
        {{this.selectedEventObj.baseBranch}}
      </span>
    </div>
    <div class="info-col info-col-status">
      <span class="title">
        Status
      </span>
      <span class="status">
        <FaIcon
          @icon={{this.icon.name}}
          @fixedWidth="true"
          @prefix={{this.icon.prefix}}
          @spin={{this.icon.spin}}
          @flip={{this.icon.flip}}
        />
        {{this.selectedEventObj.status}}
      </span>
    </div>
    <div class="info-col info-col-committer">
      <span class="title">
        Committer
      </span>
      <span>
        <a href={{this.selectedEventObj.commit.author.url}}>
          {{this.selectedEventObj.commit.author.name}}
        </a>
      </span>
    </div>
    <div class="info-col info-col-build-date">
      <span class="title">
        Start Date
      </span>
      <span>
        {{this.startDate.content}}
      </span>
    </div>
    <div class="info-col info-col-build-duration">
      <span class="title">
        Duration
      </span>
      <span>
        {{this.selectedEventObj.durationText}}
      </span>
    </div>
    {{#if this.selectedEventObj.label}}
      <div class="info-col info-col-label">
        <span class="title">Label</span><br>
        <span class="customize-label" title={{this.selectedEventObj.label}}>
          {{linkify this.selectedEventObj.label target="_blank" rel="nofollow" urlLength=30}}
        </span>
      </div>
    {{/if}}
  </div>
{{/if}}