{{#if this.showGraphNavRow}}
  <div class="row">
    {{#if (not this.isPR)}}
      <div class="col-2">
        <BsButtonGroup
          class="view-toggle"
          @value={{this.showListView}}
          @type="radio"
          @onChange={{action this.setShowListView}} as |bg|
        >
          <bg.button @value={{false}} @type="primary" @outline={{true}}>
            <FaIcon @icon="th" />
          </bg.button>
          <bg.button @value={{true}} @type="primary" @outline={{true}}>
            <FaIcon @icon="th-list" />
          </bg.button>
        </BsButtonGroup>
      </div>
    {{/if}}

    <div class="col-4">
      {{#if this.isPR}}
        <strong>
          Pull Requests
        </strong>
      {{/if}}
      <BsButtonGroup
        class="event-options-toggle"
        @value={{this.selectedEvent}}
        @type="radio"
        @onChange={{action (mut this.selected)}} as |bg|
      >
        {{#each this.eventOptions as |opt|}}
          <bg.button @value={{opt.value}} @type="primary" @outline={{true}}>
            {{opt.label}}
          </bg.button>
        {{/each}}
      </BsButtonGroup>
    </div>
    {{#if (not this.isPR)}}
      <div
        class="col-3"
        title="Toggle to {{if this.showDownstreamTriggers "hide" "show"}} the downstream trigger nodes."
      >
        <XToggle
          @size="medium"
          @theme="material"
          @showLabels={{true}}
          @value={{this.showDownstreamTriggers}}
          @offLabel="Hide triggers"
          @onLabel="Show triggers"
          @onToggle={{action this.setDownstreamTrigger}}
        />
      </div>
    {{/if}}
    <div class="col-3">
      {{#if this.session.isAuthenticated}}
        {{#if (not-eq this.selectedEventObj.type "pr")}}
          <PipelineStart
            @startBuild={{action this.startMainBuild}}
            @pipeline={{this.pipeline}}
          />
        {{/if}}
      {{/if}}
    </div>
  </div>
{{/if}}
{{#if this.selectedEventObj}}
  <div class="row {{this.selectedEventObj.status}}">
    <div class="col-12">
      <div class="event-info">
        <div class="col">
          <span class="title">
            Commit
          </span>
          <br />
          <span>
            <a
              class={{if
                (eq this.selectedEventObj.sha this.latestCommit.sha)
                "latest-commit"
              }}
              href={{this.selectedEventObj.commit.url}}
            >
              #{{this.selectedEventObj.truncatedSha}}
            </a>
          </span>
        </div>
        <div class="col">
          <span class="title">
            Message
          </span>
          <br />
          <span title={{this.selectedEventObj.commit.message}}>
            {{this.selectedEventObj.truncatedMessage}}
          </span>
        </div>
        <div class="col">
          <span class="title">
            Branch
          </span>
          <br />
          <span>
            {{this.selectedEventObj.baseBranch}}
          </span>
        </div>
        <div class="col">
          <span class="title">
            Status
          </span>
          <br />
          <span class="status">
            <FaIcon
              @icon={{this.icon.name}}
              @fixedWidth="true"
              @prefix={{this.icon.prefix}}
              @spin={{this.icon.spin}}
              @flip={{this.icon.flip}}
            />
            {{this.selectedEventObj.status}}
          </span>
        </div>
        <div class="col">
          <span class="title">
            Committer
          </span>
          <br />
          <span>
            <a href={{this.selectedEventObj.commit.author.url}}>
              {{this.selectedEventObj.commit.author.name}}
            </a>
          </span>
        </div>
        <div class="col">
          <span class="title">
            Start Date
          </span>
          <br />
          <span>
            {{this.startDate.content}}
          </span>
        </div>
        <div class="col">
          <span class="title">
            Duration
          </span>
          <br />
          <span>
            {{this.selectedEventObj.durationText}}
          </span>
        </div>
        {{#if this.selectedEventObj.label}}
          <div class="col">
            <span class="title">
              Label
            </span>
            <br />
            <span class="customize-label" title={{this.selectedEventObj.label}}>
              {{this.selectedEventObj.label}}
            </span>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}