<h6>Details</h6>
<dl>
  <dt>Author</dt>
  <dd>unknown</dd>
  <dt>Branch</dt>
  <dd>{{fa-icon "fa-code-fork"}} banana</dd>
  <dt>Based on</dt>
  <dd><a class="sha">#{{truncatedSha}}</a></dd>
  <dt>Container</dt>
  <dd>
    <a href="{{containerHref}}" target="_blank" class="container">
      {{if build.buildContainer build.buildContainer "node"}}
    </a>
  </dd>
  <dt>Created</dt>
  <dd class="created">{{moment-format build.createTime 'lll'}}</dd>
  <dt>Started</dt>
  <dd class="started">{{moment-format build.startTime 'lll'}}</dd>
  <dt>Completed</dt>
  <dd class="completed">{{moment-format build.endTime 'lll'}}</dd>
  {{#if build.buildDuration}}
  <dt>Duration</dt>
  <dd class="buildDuration">{{moment-duration build.buildDuration 'seconds'}}</dd>
  {{/if}}
  {{#if build.queuedDuration}}
  <dt>Queued</dt>
  <dd class="queuedDuration">{{moment-duration build.queuedDuration 'seconds'}}</dd>
  {{/if}}
</dl>
{{yield}}
