<div class="pipeline-viz-row {{if this.isSelectedConnectedPipeline "selected"}}">
  <div class="repo" onclick={{action "handleClick" this.pipeline}}>
    <i class="fa fa-circle-check success" aria-hidden="true"></i>
    <span class="repo-name" href={{this.pipeline.scmRepo.url}}>
      {{this.pipeline.name}} ({{this.pipeline.id}})
    </span>
  </div>

  <div class="repo-action" onclick={{action "handleActionClick" this.pipeline}}>
    {{#unless this.isSelectedPipeline}}
      <i class="glyphicon glyphicon-arrow-right"></i>
    {{/unless}}
  </div>
</div>