<h4>Versions:</h4>
<ul>
  {{#each commands as |c|}}
    {{#if c.tag}}
      <li {{action changeVersion c.version on="click"}}><span class="version">{{c.version}} - {{c.tag}}</span></li>
    {{else}}
      <li {{action changeVersion c.version on="click"}}><span class="version">{{c.version}}</span></li>
    {{/if}}
  {{/each}}
</ul>
