<div class={{this.styleNamespace}} ...attributes>
  <div class="left">
    <div class="back">
      {{inline-svg "arrowhead-left" class="img"}}
      <span onclick={{action (mut this.showCreatePipeline) false}}>Back</span>
    </div>
  </div>

  <div class="center {{if this.showQuickStartGuide "menu-open"}}">
    {{pipeline-create-form
      isSaving=this.isSaving
      prUrl=this.prUrl
      errorMessage=this.errorMessage
      onCreatePipeline=(action "createPipeline")
      templates=this.templates
    }}
  </div>

  <div class="right {{if this.showQuickStartGuide "menu-open"}}">
    {{quickstart-guide isOpen=this.showQuickStartGuide}}
  </div>
</div>