<BsModal
  id="start-event-modal"
  @onHide={{fn @closeModal}}
  as |modal|
>
  <modal.header>
    <div class="modal-title">Are you sure you want to start a new event?</div>
  </modal.header>
  <modal.body>
    {{#if this.errorMessage}}
      <InfoMessage
        @message={{this.errorMessage}}
        @type="warning"
        @icon="triangle-exclamation"
        @dismissible={{false}}
      />
    {{/if}}

    {{#if @notice}}
      <div
        id="user-notice"
        class="alert alert-warning"
      >
        <FaIcon @icon="triangle-exclamation" />
        {{@notice}}
      </div>
    {{/if}}

    {{#if this.isParameterized}}
      <Pipeline::Parameters
        @action="start"
        @pipelineParameters={{this.defaultPipelineParameters}}
        @jobParameters={{this.defaultJobParameters}}
        @onUpdateParameters={{this.onUpdateParameters}}
      />
    {{else}}
      <div class="no-parameters-title">
        No parameters to configure
      </div>
    {{/if}}
  </modal.body>
  <modal.footer>
    <BsButton
      id="submit-action"
      disabled={{this.isSubmitButtonDisabled}}
      @type="primary"
      @defaultText="Yes"
      @pendingText="Starting"
      @onClick={{fn this.startBuild}}
    />
  </modal.footer>
</BsModal>
