<div class="row">
  <div class="col-12 col-md-6">
    <ValidatorInput @yaml={{mut this.yaml}} />
  </div>
  <div class="col-12 col-md-6">
    <ValidatorResults
      @results={{this.results}}
      @isJobTemplate={{this.isJobTemplate}}
      @isPipelineTemplate={{this.isPipelineTemplate}}
      @isOpen={{true}}
    />
  </div>
</div>
{{outlet}}