<div class="row">
  <div class="col-xs-12 col-md-6">
    <ValidatorInput @yaml={{mut this.yaml}} />
  </div>
  <div class="col-xs-12 col-md-6">
    <ValidatorResults
      @results={{this.results}}
      @isTemplate={{this.isTemplate}}
      @isOpen={{true}}
    />
  </div>
</div>
{{outlet}}