<div class="row">
  <div class="col-xs-12 col-md-6">
    <ValidatorInput @yaml={{mut yaml}} />
  </div>
  <div class="col-xs-12 col-md-6">
    <ValidatorResults
      @results={{results}}
      @isTemplate={{isTemplate}}
      @isOpen={{true}}
    />
  </div>
</div>
{{outlet}}