<div class="row">
  <div class="col-12 col-md-{{if this.spreadView '12' '6' }}">
    <ValidatorInput
      @yaml={{mut this.yaml}}
      @spreadView={{this.spreadView}}
    />
  </div>
  <div class="col-12 col-md-{{if this.spreadView '12' '6' }}">
    <ValidatorResults
      @results={{this.results}}
      @isTemplate={{this.isTemplate}}
      @isOpen={{true}}
    />
  </div>
</div>
{{outlet}}