<div class="chart-c3">
  <p class="chart-title">
    {{this.chartTitle}}
  </p>

  {{#if @legends}}
    {{#if @legends.left}}
      <ul class="list-inline chart-legend pull-left">
        {{#each @legends.left as |leg|}}
          <li style={{leg.style}}>
            {{leg.name}}
          </li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if @legends.right}}
      <ul class="list-inline chart-legend pull-right">
        {{#each @legends.right as |leg|}}
          <li style={{leg.style}}>
            {{leg.name}}
          </li>
        {{/each}}
      </ul>
    {{/if}}
  {{/if}}

  {{#if (is-fulfilled this.metrics)}}
    <Metrics::BaseChart
      @chartName={{this.chartName}}
      @data={{this.metrics}}
      @axis={{this.axis}}
      @tooltip={{this.tooltip}}
      @onrendered={{this.onrendered}}
      @onresized={{this.onresized}}
      @oninit={{@oninit}}
    />
  {{/if}}

  <p
    class="reset-button"
    onClick={{action "resetZoom" chartName dependentChartNames}}
    title="Reset Zoom Level"
  >
    <FaIcon @icon="refresh" />
  </p>
</div>