<div class="chart-c3">
  <p class="chart-title">{{this.chartTitle}}</p>
  {{x-toggle
    size="small"
    theme="material"
    showLabels=true
    value=@inBuildCountView
    offLabel=null
    onLabel="Build Count"
    onToggle=(action @toggleDowntimeJobsView)}}

  <Metrics::Legends
    @chartName={{this.chartName}}
    @legends={{this.legends}}
    @onLegendClick={{action "onLegendClick"}}
    @onLegendHover={{action "onLegendHover"}}
    @onLegendHoverOut={{action "onLegendHoverOut"}}
  />

  {{log "onInitFns" oninit}}

  {{log "this.onInitFns" this.oninit}}

  {{log "this.metrics outside" this.metrics}}

  {{#if (is-fulfilled this.metrics)}}
    {{log "this.metrics inside" this.metrics}}
    <Metrics::BarChart
      @chartName={{this.chartName}}
      @data={{this.metrics}}
      @axis={{this.axis}}
      @tooltip={{this.tooltip}}
      @onrendered={{this.onrendered}}
      @onresized={{this.onresized}}
      @oninit={{@oninit}}
      @yaxisLabel={{@yaxisLabel}}
    />
  {{/if}}

  <p class="reset-button" onClick={{action "resetZoom" chartName dependentChartNames}} title="Reset Zoom Level">{{fa-icon "refresh"}}</p>
</div>