{{#if this.showModal}}
  {{! Modal to create a collection }}
  <BsModal @onHide={{action "setModal" false}} as |modal|>
    <div class="collection-modal">
      <modal.header>
        <h4 class="modal-title">
          Create New Collection
        </h4>
      </modal.header>
      <modal.body>
        {{#if this.errorMessage}}
          <InfoMessage
            @message={{this.errorMessage}}
            @type="warning"
            @icon="triangle-exclamation"
          />
        {{/if}}
        <BsForm
          class="collection-form"
          @onSubmit={{action "addNewCollection"}} as |form|
        >
          <form.element
            @controlType="Textarea"
            @label="Collection Name"
            @value={{this.name}}
            @onChange={{action (mut this.name)}}
            class="control-label name" as |el|
          >
            <el.control placeholder="Name" class="name-input form-control" required />
          </form.element>
          <form.element
            @controlType="textarea"
            @label="Description"
            @value={{this.description}}
            @onChange={{action (mut this.description)}}
            class="control-label description" as |el|
          >
            <el.control placeholder="Description for the collection" class="form-control description-input" />
          </form.element>
          <BsButton
            class="collection-form__cancel"
            @onClick={{action modal.close}}
            @type="default"
          >
            Cancel
          </BsButton>
          <form.submitButton
            class="collection-form__create"
            disabled={{this.isSaveDisabled}}
            @type="primary"
          >
            Create
          </form.submitButton>
        </BsForm>
      </modal.body>
    </div>
  </BsModal>
{{/if}}