<InfoMessage
  @message={{this.errorMessage}}
  @type="warning"
  @icon="exclamation-triangle"
/>
<InfoMessage @message={{this.successMessage}} @type="success" @icon="check" />
<div class="row">
  {{#unless this.pipeline.configPipelineId}}
    <div class="col-12 col-md-8">
      <section class="pipeline">
        <h3>
          Pipeline
        </h3>
        <ul>
          <li>
            <div class="row">
              <div class="col-10">
                <h4>
                  Checkout URL and Source Directory
                </h4>
                <p>
                  Update your checkout URL and / or source directory.
                </p>
              </div>
            </div>
            <div>
              <Input
                class="text-input scm-url"
                @key-up={{action "scmChange"}}
                @value={{this.scmUrl}}
              />
            </div>
            <PipelineRootdir
              @hasRootDir={{this.hasRootDir}}
              @rootDir={{this.rootDir}}
              @updateRootDir={{action "updateRootDir"}}
            />
          </li>

          <li>
            <div class="row">
              <div class="col-12 right">
                <button
                  disabled={{this.isDisabled}}
                  class="blue-button{{if this.isSaving " saving"}}"
                  {{action "updatePipeline"}}
                >
                  <div class="saving-loading">
                    Updating pipeline
                  </div>
                  <div class="button-label">
                    Update
                  </div>
                </button>
                {{#if this.isSaving}}
                  <FaIcon @icon="spinner" @spin="true" />
                {{/if}}
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <div class="col-12">
                <h4>
                  Pipeline alias
                </h4>
                <p>
                  Setup your own preferred pipeline name for the dashboard list view.
                </p>
              </div>
              <div class="col-md-8 right">
                <input
                  type="text"
                  class="pipeline-alias-name col-12"
                  placeholder="alias"
                  value={{this.aliasName}}
                  oninput={{action (mut this.aliasName) value="target.value"}}
                />
                <button class="reset-button" {{action "resetPipelineAlias"}}>
                  <FaIcon @icon="sync" />
                  Reset
                </button>
                <button
                  class="blue-button-alias"
                  {{action "updatePipelineAlias"}}
                >
                  Save
                </button>
              </div>
            </div>
          </li>

          {{#if this.displayDowntimeJobs}}
            <li>
              <div class="row">
                <div class="col-10">
                  <h4>
                    Downtime Jobs
                  </h4>
                  <p>
                    Pick your own preferred jobs to be counted in metrics graph (default all jobs)
                  </p>
                  <div class="row">
                    <div class="col-5">
                      <PowerSelectMultiple
                        @searchEnabled={{true}}
                        @options={{this.sortedJobs}}
                        @selected={{this.metricsDowntimeJobs}}
                        @searchField="name"
                        @placeholder="Select Jobs..."
                        @onChange={{action
                          (mut this.metricsDowntimeJobs)
                        }} as |metricsDowntimeJob|
                      >
                        {{metricsDowntimeJob.name}}
                      </PowerSelectMultiple>
                    </div>
                  </div>
                </div>
                <div class="col-2 right sync">
                  <a
                    href="#"
                    {{action "updateMetricsDowntimeJobs" this.metricsDowntimeJobs}}
                  >
                    <FaIcon
                      @icon="sync"
                      @spin={{this.isUpdatingMetricsDowntimeJobs}}
                    />
                  </a>
                </div>
              </div>
            </li>
          {{/if}}
        </ul>
      </section>
    </div>
  {{/unless}}

  <div class="col-12 col-md-8">
    <section class="jobs">
      <h3>
        Jobs
      </h3>
      <ul>
        <li>
          <div class="row">
            <div class="col-10">
              <p>
                Toggle to disable or enable the job.
              </p>
            </div>
          </div>
          {{#each this.sortedJobs as |job|}}
            {{#unless (starts-with job.name "PR-")}}
              <li>
                <div class="row">
                  <div class="col-10">
                    <h4>
                      {{job.name}}
                    </h4>
                    {{#if job.stateChanger}}
                      <i class="float-right">
                        <small>
                          {{job.stateChangeTimeWords}}
                        </small>
                      </i>
                      <p>
                        {{if
                          job.isDisabled
                          "Disabled"
                          "Enabled"
                        }} by {{job.stateChanger}}{{#if job.stateChangeMessage}}: {{job.stateChangeMessage}}
                        {{/if}}
                      </p>
                    {{/if}}
                  </div>
                  <div
                    class="col-2 right"
                    title="Toggle to {{if job.isDisabled "enable" "disable"}} the {{job.name}} job."
                  >
                    <XToggle
                      @size="small"
                      @value={{not job.isDisabled}}
                      @onLabel="Enabled::false"
                      @offLabel="Disabled::true"
                      @onToggle={{action "toggleJob" job.id this.username job.name}}
                    />
                  </div>
                </div>
              </li>
            {{/unless}}
          {{/each}}
        </li>
      </ul>
    </section>
  </div>

  <div class="col-12 col-md-8">
    <section class="sync">
      <h3>
        Sync
      </h3>
      <ul>
        <li>
          <div class="row">
            <div class="col-10">
              <h4>
                SCM webhooks
              </h4>
              <p>
                Update the webhooks if they are not working correctly.
              </p>
            </div>
            <div class="col-2 right">
              <a href="#" {{action "sync" "webhooks"}}>
                <FaIcon @icon="sync" />
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-10">
              <h4>
                Pull requests
              </h4>
              <p>
                Create or update pull-request jobs if they are not displaying properly.
              </p>
            </div>
            <div class="col-2 right">
              <a href="#" {{action "sync" "pullrequests"}}>
                <FaIcon @icon="sync" />
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-10">
              <h4>
                Pipeline
              </h4>
              <p>
                Update jobs if they are not displaying properly.
              </p>
            </div>
            <div class="col-2 right">
              <a href="#" {{action "sync"}}>
                <FaIcon @icon="sync" />
              </a>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>

  <div class="col-12 col-md-8">
    <section class="cache">
      <h3>
        Cache
      </h3>
      <ul>
        <li>
          <div class="row">
            <div class="col-10">
              <h4>
                Pipeline
              </h4>
              <p>
                Click to clear the cache for the pipeline.
              </p>
            </div>
            <div class="col-2 right">
              <a href="#" {{action "clearCache" "pipelines"}}>
                <FaIcon @icon="trash" />
              </a>
            </div>
          </div>
        </li>
        {{#each this.sortedJobs as |job|}}
          {{#unless job.isPR}}
            <li>
              <div class="row">
                <div class="col-10">
                  <h4>
                    Job {{job.name}}
                  </h4>
                  <p>
                    Click to clear the cache for the {{job.name}} job.
                  </p>
                </div>
                <div
                  class="col-2 right"
                  title="Click to clear cache for {{job.name}} job."
                >
                  <a href="#" {{action "clearCache" "jobs" job.id}}>
                    <FaIcon @icon="trash" />
                  </a>
                </div>
              </div>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </section>
  </div>

  <div class="col-12 col-md-8">
    <section class="preference">
      <h3>
        Pipeline Preferences
      </h3>
      <ul>
        <li>
          <div class="row">
            <div class="col-10">
              <h4>
                Group Events
              </h4>
              <p>
                Setup your pipeline preference to group events or not.
                <FaIcon
                  @icon="question-circle"
                  @title="When grouping is enabled, events which share a common accesstor will be grouped together"
                />
              </p>
            </div>
            <div
              class="col-2 right"
              title="Toggle to {{if this.groupedEvents "group" "ungroup"}} the pipeline"
            >
              <XToggle
                @size="small"
                @value={{this.groupedEvents}}
                @onLabel="groupedEvents:true"
                @offLabel="groupedEvents::false"
                @onToggle={{action "updatePipelineGroupedEvents"}}
              />
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-10">
              <h4>
                Show Triggers
              </h4>
              <p>
                Setup your pipeline preference to show event triggers by default
              </p>
            </div>
            <div
              class="col-2 right"
              title="Toggle to {{if this.showEventTriggers "hide" "show"}} event tiggers"
            >
              <XToggle
                @size="small"
                @value={{this.showEventTriggers}}
                @onLabel="showEventTriggers:true"
                @offLabel="showEventTriggers::false"
                @onToggle={{action "updatePipelineShowTriggers"}}
              />
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-10">
              <h4>
                Filter Events For No Builds
              </h4>
              <p>
                Setup your pipeline preference to not show events with no builds. (latest event is not hidden)
              </p>
            </div>
            <div
              class="col-2 right"
              title="Toggle to {{if this.filterEventsForNoBuilds "filter" "unfilter"}} events for no builds"
            >
              <XToggle
                @size="small"
                @value={{this.filterEventsForNoBuilds}}
                @showLabels={{false}}
                @onToggle={{action "updateFilterEventsForNoBuilds"}}
              />
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>

  <div class="col-12 col-md-8">
    <section class="preference">
      <h3>
        User Preference
      </h3>
      <ul>
        <li>
          <div class="row">
            <div class="col-10">
              <p>
                All settings here are stored locally in your browser.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-10">
              <h4>
                Show PR Jobs
              </h4>
              <p>
                Show or Hide jobs that are triggered from Pull Request
              </p>
            </div>
            <div
              class="col-2 right"
              title="Toggle to {{if this.showPRJobs "show" "hide"}} the jobs that are triggered from PRs"
            >
              <XToggle
                @size="small"
                @value={{this.showPRJobs}}
                @onLabel="showPRJobs:true"
                @offLabel="showPRJobs::false"
                @onToggle={{action "updateShowPRJobs"}}
              />
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>

  {{#unless this.pipeline.configPipelineId}}
    <div class="col-12 col-md-8">
      <section class="danger">
        <h3>
          Danger Zone
        </h3>
        <ul>
          {{#if this.privateRepo}}
            <li>
              {{#if this.showPipelineVisibilityDangerButton}}
                <div class="row">
                  <div class="col-10">
                    <h4>
                      Set pipeline visibility
                    </h4>
                    <p>
                      Think twice before setting pipeline to public.
                    </p>
                  </div>
                  <div class="col-2 right" title="Set pipeline visibility">
                    <XToggle
                      @size="small"
                      @value={{this.publicPipeline}}
                      @onLabel="publicPipeline::true"
                      @offLabel="publicPipeline::false"
                      @onToggle={{action
                        (if
                          this.publicPipeline
                          "updatePipelineVisibility"
                          "showPipelineVisibilityButtons"
                        )
                      }}
                    />
                  </div>
                </div>
              {{/if}}
              {{#if this.showPipelineVisibilityButtons}}
                <h4>
                  Are you absolutely sure?
                </h4>
                <a
                  href="#"
                  class="cancel"
                  {{action "cancelPipelineVisibility"}}
                >
                  <FaIcon @icon="ban" />
                  Cancel
                </a>
                <a
                  href="#"
                  class="remove"
                  {{action "updatePipelineVisibility" true}}
                >
                  <FaIcon @icon="unlock" />
                  Publish
                </a>
              {{/if}}
              {{#if this.isUpdatingPipelineVisibility}}
                <p>
                  Please wait...
                </p>
              {{/if}}
            </li>
          {{/if}}
          <li>
            {{#if this.showRemoveDangerButton}}
              <div class="row">
                <div class="col-1 col-md-8">
                  <h4>
                    Delete this pipeline
                  </h4>
                  <p>
                    Once you delete a pipeline, there is no going back.
                  </p>
                </div>
                <div class="col-1 col-md-4 right">
                  <a
                    href="#"
                    class="trash"
                    title="Delete pipeline"
                    {{action "showRemoveButtons"}}
                  >
                    <FaIcon @icon="trash" />
                  </a>
                </div>
              </div>
            {{/if}}
            {{#if this.showRemoveButtons}}
              <BsModal
                @onSubmit={{action "removePipeline"}}
                @onHide={{action "cancelRemove"}} as |modal|
              >
                <div class="delete-pipeline__modal">
                    <modal.header>
                      <h4>
                        Are you absolutely sure?
                      </h4>
                    </modal.header>
                    <modal.body>
                      <FaIcon @icon="exclamation-triangle" @pull="left" @size="4" />
                      <span>This action cannot be undone. Are you sure you want to delete the pipeline?</span>
                      <p>Please type <b>{{this.pipeline.scmRepo.name}}</b>  to confirm.</p> 
                      <Input
                        @type="text"
                        class="delete-pipeline__input col-12"
                        @value={{this.pipelineName}}
                      />
                    </modal.body>
                    <modal.footer>
                      <BsButton
                        class="delete-pipeline-cancel"
                        @onClick={{action modal.close}}
                        @outline={{true}}
                        @type="secondary"
                      >
                        Cancel
                      </BsButton>
                      <BsButton disabled={{this.isPipelineDeletionDisabled}} @outline={{true}} @onClick={{action "removePipeline"}} @type="danger" class="delete-pipeline-btn">
                        Delete
                      </BsButton>
                    </modal.footer>
                  </div>
                </BsModal>
            {{/if}}
            {{#if this.isRemoving}}
              <p>
                Please wait...
              </p>
            {{/if}}
          </li>
        </ul>
      </section>
    </div>
  {{/unless}}
</div>

{{#if this.isShowingModal}}
  <ModalDialog
    @clickOutsideToClose={{false}}
    @targetAttachment="center"
    @translucentOverlay={{true}}
  >
    <LoadingView />
  </ModalDialog>
{{/if}}

<JobToggleModal
  @showToggleModal={{this.showToggleModal}}
  @updateMessage={{action "updateMessage"}}
  @name={{this.name}}
  @stateChange={{this.stateChange}}
/>
{{yield}}
