<InfoMessage
  @message={{this.errorMessage}}
  @type="warning"
  @icon="triangle-exclamation"
/>
<InfoMessage @message={{this.successMessage}} @type="success" @icon="check" />
<div class="row">
  {{#unless this.pipeline.configPipelineId}}
    <div class="col-12 col-md-8">
      <section class="pipeline">
        <h3>Pipeline</h3>
        <ul>
          <li>
            <div class="row">
              <div class="col-10">
                <h4>Checkout URL and Source Directory</h4>
                <p>Update your checkout URL and / or source directory.</p>
              </div>
            </div>
            <div>
              <Input
                class="text-input scm-url"
                @key-up={{action "scmChange"}}
                @value={{this.scmUrl}}
              />
            </div>
            <PipelineRootdir
              @hasRootDir={{this.hasRootDir}}
              @rootDir={{this.rootDir}}
              @updateRootDir={{action "updateRootDir"}}
            />
          </li>

          <li>
            <div class="row">
              <div class="col-12 right">
                <button
                  disabled={{this.isDisabled}}
                  class="blue-button{{if this.isSaving " saving"}}"
                  {{action "updatePipeline"}}
                >
                  <div class="saving-loading">
                    Updating pipeline
                  </div>
                  <div class="button-label">
                    Update
                  </div>
                </button>
                {{#if this.isSaving}}
                  <FaIcon @icon="spinner" @spin="true" />
                {{/if}}
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <div class="col-12">
                <h4>Badges</h4>
                <p>
                  Customize your own sonar badge dashboard and link
                </p>
              </div>
              <div class="col-8">
                <Input
                  class="pipeline-badge-name col-12"
                  placeholder="Sonar badge name"
                  @type="text"
                  @value={{this.sonarName}}
                />
              </div>
              <div class="col-8">
                <Input
                  class="pipeline-badge-uri col-12"
                  placeholder="Sonar badge uri"
                  @type="text"
                  @value={{this.sonarUri}}
                />
              </div>
              <div class="col-4 right">
                <button class="reset-button" {{action "resetPipelineSonarBadge"}}>
                  <FaIcon @icon="rotate" />
                  Reset
                </button>
                <button type="submit"
                  class="blue-button-alias"
                  {{action "updatePipelineSonarBadge"}}
                >
                  Save
                </button>
              </div>
            </div>
          </li>

          <li>
            <div class="row">
              <div class="col-12">
                <h4>
                  Pipeline alias
                </h4>
                <p>
                  Setup your own preferred pipeline name for the dashboard list view.
                </p>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  class="pipeline-alias-name col-12"
                  placeholder="alias"
                  value={{this.aliasName}}
                  oninput={{action (mut this.aliasName) value="target.value"}}
                />
              </div>
              <div class="col-4 right">
                <button class="reset-button" {{action "resetPipelineAlias"}}>
                  <FaIcon @icon="rotate" />
                  Reset
                </button>
                <button
                  class="blue-button-alias"
                  {{action "updatePipelineAlias"}}
                >
                  Save
                </button>
              </div>
            </div>
          </li>

          {{#if this.displayDowntimeJobs}}
            <li>
              <div class="row">
                <div class="col-12">
                  <h4>
                    Downtime Jobs
                  </h4>
                  <p>
                    Pick your own preferred jobs to be counted in metrics graph (default all jobs)
                  </p>
                  <div class="row">
                    <div class="col-8">
                      <PowerSelectMultiple
                        @searchEnabled={{true}}
                        @options={{this.sortedJobs}}
                        @selected={{this.metricsDowntimeJobs}}
                        @searchField="name"
                        @placeholder="Select Jobs..."
                        @onChange={{action
                          (mut this.metricsDowntimeJobs)
                        }} as |metricsDowntimeJob|
                      >
                        {{metricsDowntimeJob.name}}
                      </PowerSelectMultiple>
                    </div>
                    <div class="col-4 right">
                      <button class="reset-button" {{action "resetMetricsDowntimeJobs"}}>
                        <FaIcon @icon="rotate" />
                        Reset
                      </button>
                      <button
                        class="blue-button-alias"
                        {{action "updateMetricsDowntimeJobs" this.metricsDowntimeJobs}}
                      >
                        Save
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-12">
                  <h4>Admins</h4>
                  <p>
                    Users with admin permission to this pipeline.
                    <FaIcon
                      @icon="circle-question"
                      @title="If you have write access to the repository, you can become a pipeline admin by starting/stopping builds or syncing the pipeline."
                    />
                  </p>
                  {{#if this.displayAdmins}}
                    <p class="admins-list">
                      {{this.displayAdmins}}
                      {{#if (and (gt this.adminsCount 5) (not this.isAdminsExpanded))}}
                        ... <a class="admin-toggle" {{action "toggleExpand"}}>more</a>
                      {{/if}}
                      {{#if this.isAdminsExpanded}}
                        <a class="admin-toggle" {{action "toggleExpand"}}>collapse</a>
                      {{/if}}
                    </p>
                  {{else}}
                    <p class="no-admin-message">
                      This pipeline has no admins.
                    </p>
                  {{/if}}
                </div>
              </div>
            </li>
          {{/if}}
        </ul>
      </section>
    </div>
  {{/unless}}

  <div class="col-12 col-md-8">
    <section class="jobs">
      <h3>
        Jobs
      </h3>
      <ul>
        <li>
          <div class="row">
            <div class="col-10">
              <p>
                Toggle to disable or enable the job.
              </p>
            </div>
          </div>
        </li>
        {{#each this.sortedJobs as |job|}}
          {{#unless (starts-with job.name "PR-")}}
            <li>
              <div class="row">
                <div class="col-10">
                  <h4 title="Job: {{job.name}}">
                    {{truncate job.name 50}}
                    {{# if job.virtualJob}}
                      <span class="job-label">virtual</span>
                    {{/if}}
                  </h4>
                  {{#if job.stateChanger}}
                    <i class="float-right">
                      <small>
                        {{job.stateChangeTimeWords}}
                      </small>
                    </i>
                    <p>
                      {{if job.isDisabled "Disabled" "Enabled"}} by {{job.stateChanger}}:
                      <span>
                        {{#if (get this.expandedState job.id)}}
                          {{job.stateChangeMessage}}
                          <span
                            class="toggle-expand"
                            {{action "toggleJobExpansion" job.id}}
                            role="button"
                            tabindex="0"
                          >less</span>
                        {{else}}
                          {{truncate job.stateChangeMessage 50}}
                          {{#if (gt job.stateChangeMessage.length 50)}}
                            <span
                              class="toggle-expand"
                              {{action "toggleJobExpansion" job.id}}
                              role="button"
                              tabindex="0"
                            >more</span>
                          {{/if}}
                        {{/if}}
                      </span>
                    </p>
                  {{/if}}
                </div>
                <div class="col-2">
                  <div class="toggle-wrapper">
                    <XToggle
                      @size="small"
                      @value={{not job.isDisabled}}
                      @onLabel="Enabled::false"
                      @offLabel="Disabled::true"
                      @onToggle={{action "toggleJob" job.id this.username job.name}}
                      title="Toggle to {{if job.isDisabled "enable" "disable"}} the {{job.name}} job."
                    />
                  </div>
                </div>
              </div>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </section>
  </div>

  <div class="col-12 col-md-8">
    <section class="sync">
      <h3>
        Sync
      </h3>
      <ul>
        <li>
          <div class="row">
            <div class="col-10">
              <h4>
                SCM webhooks
              </h4>
              <p>
                Update the webhooks if they are not working correctly.
              </p>
            </div>
            <div class="col-2 right" title="Click to sync the webhooks.">
              <a href="#" {{action "sync" "webhooks"}}>
                <FaIcon @icon="rotate" />
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-10">
              <h4>
                Pull requests
              </h4>
              <p>
                Create or update pull-request jobs if they are not displaying properly.
              </p>
            </div>
            <div class="col-2 right" title="Click to sync pull requests.">
              <a href="#" {{action "sync" "pullrequests"}}>
                <FaIcon @icon="rotate" />
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-10">
              <h4 id="sync-pipeline">
                Pipeline
              </h4>
              <p>
                Update jobs if they are not displaying properly.
              </p>
            </div>
            <div class="col-2 right" title="Click to sync the pipeline property.">
              <a href="#" {{action "sync"}}>
                <FaIcon @icon="rotate" />
              </a>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>

  <div class="col-12 col-md-8">
    <section class="cache">
      <h3>
        Cache
      </h3>
      <ul>
        <li>
          <div class="row">
            <div class="col-10">
              <h4>
                Pipeline
              </h4>
              <p>
                Click to clear the cache for the pipeline.
              </p>
            </div>
            <div class="col-2 right" title="Click to clear cache for this pipeline.">
              <a href="#" {{action "clearCache" "pipelines"}}>
                <FaIcon @icon="trash" />
              </a>
            </div>
          </div>
        </li>
        {{#each this.sortedJobs as |job|}}
          {{#unless job.isPR}}
            <li>
              <div class="row">
                <div class="col-10">
                  <h4 title="Job: {{job.name}}">
                    Job {{truncate job.name 50}}
                  </h4>
                  <p>
                    Click to clear the cache for the {{truncate job.name 50}} job.
                  </p>
                </div>
                <div class="col-2 right">
                  <a href="#" title="Click to clear cache for {{truncate job.name 50}} job." {{action "clearCache" "jobs" job.id}}>
                    <FaIcon @icon="trash" />
                  </a>
                </div>
              </div>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </section>
  </div>

  <div class="col-12 col-md-8">
    <section class="preference">
      <h3>
        Pipeline Preferences
      </h3>
      <ul>
        <li>
          <div class="row">
            <div class="col-10">
              <h4>
                Group Events
              </h4>
              <p>
                Setup your pipeline preference to group events or not.
                <FaIcon
                  @icon="circle-question"
                  @title="When grouping is enabled, events which share a common accesstor will be grouped together"
                />
              </p>
            </div>
            <div class="col-2 right">
              <div class="toggle-wrapper">
                <XToggle
                  @size="small"
                  @value={{this.groupedEvents}}
                  @onLabel="groupedEvents:true"
                  @offLabel="groupedEvents::false"
                  @onToggle={{action "updatePipelineGroupedEvents"}}
                  title="Toggle to {{if this.groupedEvents "group" "ungroup"}} the pipeline"
                />
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-10">
              <h4>
                Show Triggers
              </h4>
              <p>
                Setup your pipeline preference to show event triggers by default
              </p>
            </div>
            <div class="col-2 right">
              <div class="toggle-wrapper">
                <XToggle
                  @size="small"
                  @value={{this.showEventTriggers}}
                  @onLabel="showEventTriggers:true"
                  @offLabel="showEventTriggers::false"
                  @onToggle={{action "updatePipelineShowTriggers"}}
                  title="Toggle to {{if this.showEventTriggers "hide" "show"}} event tiggers"
                />
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-10">
              <h4>
                Filter Events For No Builds
              </h4>
              <p>
                Setup your pipeline preference to not show events with no builds. (latest event is not hidden)
              </p>
            </div>
            <div class="col-2 right">
              <div class="toggle-wrapper">
                <XToggle
                  @size="small"
                  @value={{this.filterEventsForNoBuilds}}
                  @showLabels={{false}}
                  @onToggle={{action "updateFilterEventsForNoBuilds"}}
                  title="Toggle to {{if this.filterEventsForNoBuilds "filter" "unfilter"}} events for no builds"
                />
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-10">
              <h4>
                Filter Scheduler Events
              </h4>
              <p>
                Toggle to hide the events started by Scheduler
              </p>
            </div>
            <div class="col-2 right">
              <div class="toggle-wrapper">
                <XToggle
                  @size="small"
                  @value={{this.filterSchedulerEvents}}
                  @onLabel="filterSchedulerEvents:true"
                  @offLabel="filterSchedulerEvents::false"
                  @onToggle={{action "updateSchedulerEventsFilter"}}
                  title="Toggle to {{if this.filterSchedulerEvents "filter" "unfilter"}} events by scheduler"
                />
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>

  <div class="col-12 col-md-8">
    <section class="preference">
      <h3>
        User Preference
      </h3>
      <ul>
        <li>
          <div class="row">
            <div class="col-10">
              <p>
                All settings here are stored locally in your browser.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-10">
              <h4>
                Show PR Jobs
              </h4>
              <p>
                Show or Hide jobs that are triggered from Pull Request
              </p>
            </div>
            <div class="col-2 right">
              <div class="toggle-wrapper">
                <XToggle
                  @size="small"
                  @value={{this.showPRJobs}}
                  @onLabel="showPRJobs:true"
                  @offLabel="showPRJobs::false"
                  @onToggle={{action "updateShowPRJobs"}}
                  title="Toggle to {{if this.showPRJobs "show" "hide"}} the jobs that are triggered from PRs"
                />
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>

  {{#unless this.pipeline.configPipelineId}}
    <div class="col-12 col-md-8">
      <section class="danger">
        <h3>
          Danger Zone
        </h3>
        <ul>
          {{#if this.privateRepo}}
            <li>
              {{#if this.showPipelineVisibilityDangerButton}}
                <div class="row">
                  <div class="col-10">
                    <h4>
                      Set pipeline visibility
                    </h4>
                    <p>
                      Think twice before setting pipeline to public.
                    </p>
                  </div>
                  <div class="col-2 right" title="Set pipeline visibility">
                    <div class="toggle-wrapper">
                      <XToggle
                        @size="small"
                        @value={{this.publicPipeline}}
                        @onLabel="publicPipeline::true"
                        @offLabel="publicPipeline::false"
                        @onToggle={{action
                          (if
                            this.publicPipeline
                            "updatePipelineVisibility"
                            "showPipelineVisibilityButtons"
                          )
                        }}
                      />
                    </div>
                  </div>
                </div>
              {{/if}}
              {{#if this.showPipelineVisibilityButtons}}
                <h4>
                  Are you absolutely sure?
                </h4>
                <a
                  href="#"
                  class="cancel"
                  {{action "cancelPipelineVisibility"}}
                >
                  <FaIcon @icon="ban" />
                  Cancel
                </a>
                <a
                  href="#"
                  class="remove"
                  {{action "updatePipelineVisibility" true}}
                >
                  <FaIcon @icon="unlock" />
                  Publish
                </a>
              {{/if}}
              {{#if this.isUpdatingPipelineVisibility}}
                <p>
                  Please wait...
                </p>
              {{/if}}
            </li>
          {{/if}}
          <li>
            {{#if this.showRemoveDangerButton}}
              <div class="row">
                <div class="col-10">
                  <h4>
                    Delete this pipeline
                  </h4>
                  <p>
                    Once you delete a pipeline, there is no going back.
                  </p>
                </div>
                <div class="col-2 right">
                  <a
                    href="#"
                    class="trash"
                    title="Delete pipeline"
                    {{action "showRemoveButtons"}}
                  >
                    <FaIcon @icon="trash" />
                  </a>
                </div>
              </div>
            {{/if}}
            {{#if this.showRemoveButtons}}
              <BsModal
                @onSubmit={{action "removePipeline"}}
                @onHide={{action "cancelRemove"}} as |modal|
              >
                <div class="delete-pipeline__modal">
                    <modal.header>
                      <h4>
                        Are you absolutely sure?
                      </h4>
                    </modal.header>
                    <modal.body>
                      <FaIcon @icon="triangle-exclamation" @pull="left" @size="4" />
                      <span>This action cannot be undone. Are you sure you want to delete the pipeline?</span>
                      <p>Please type <b>{{this.pipeline.scmRepo.name}}</b>  to confirm.</p>
                      <Input
                        @type="text"
                        class="delete-pipeline__input col-12"
                        @value={{this.pipelineName}}
                      />
                    </modal.body>
                    <modal.footer>
                      <BsButton
                        class="delete-pipeline-cancel"
                        @onClick={{action modal.close}}
                        @outline={{true}}
                        @type="secondary"
                      >
                        Cancel
                      </BsButton>
                      <BsButton disabled={{this.isPipelineDeletionDisabled}} @outline={{true}} @onClick={{action "removePipeline"}} @type="danger" class="delete-pipeline-btn">
                        Delete
                      </BsButton>
                    </modal.footer>
                  </div>
                </BsModal>
            {{/if}}
            {{#if this.isRemoving}}
              <p>
                Please wait...
              </p>
            {{/if}}
          </li>
        </ul>
      </section>
    </div>
  {{/unless}}
</div>

{{#if this.isShowingModal}}
  <ModalDialog
    @clickOutsideToClose={{false}}
    @targetAttachment="center"
    @translucentOverlay={{true}}
  >
    <LoadingView />
  </ModalDialog>
{{/if}}

<JobToggleModal
  @showToggleModal={{this.showToggleModal}}
  @updateMessage={{action "updateMessage"}}
  @name={{this.name}}
  @stateChange={{this.stateChange}}
/>
{{yield}}
