{{info-message message=errorMessage type="error"}}

<div class="row">
  <div class="col-xs-12 col-md-8">
    <section class="jobs">
      <h3>Jobs</h3>
      <ul>
        {{#each pipeline.jobs as |job|}}
        <li>
          <div class="row">
            <div class="col-xs-10">
              <h4>{{job.name}}</h4>
              <p>Toggle to {{if job.isDisabled "enable" "disable"}} the {{job.name}} job.</p>
            </div>
            <div class="col-xs-2 right">
              {{x-toggle value=job.isDisabled onLabel='Enabled::false' offLabel='Disabled::true' onToggle=(action "toggleJob" job.id)}}
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
    </section>
  </div>


    <div class="col-xs-12 col-md-8">
      <section class="sync">
        <h3>Sync</h3>
        <ul>
          <li>
            <div class="row">
              <div class="col-xs-10">
                <h4>SCM webhooks</h4>
                <p>Update the webhooks if they are not working correctly.</p>
              </div>
              <div class="col-xs-2 right">
                <a href="#" {{action "sync" "webhooks"}} >{{fa-icon "fa-refresh"}}</a>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-xs-10">
                <h4>Pull requests</h4>
                <p>Create or update pull-request jobs if they are not displaying properly.</p>
              </div>
              <div class="col-xs-2 right">
                <a href="#" {{action "sync" "pullrequests"}}>{{fa-icon "fa-refresh"}}</a>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-xs-10">
                <h4>Pipeline</h4>
                <p>Update jobs if they are not displaying properly.</p>
              </div>
              <div class="col-xs-2 right">
                <a href="#" {{action "sync"}}>{{fa-icon "fa-refresh"}}</a>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </div>

  <div class="col-xs-12 col-md-8">
    <section class="danger">
      <h3>Danger Zone</h3>
      <ul>
        <li>
          {{#if showDangerButton}}
          <div class="row">
            <div class="col-xs-1 col-md-8">
              <h4>Remove this pipeline</h4>
              <p>Once you remove a pipeline, there is no going back.</p>
            </div>
            <div class="col-xs-1 col-md-4 right">
              <a href="#" {{action "showRemoveButtons"}} class="trash">{{fa-icon "fa-trash"}}</a>
            </div>
          </div>
          {{/if}}
          {{#if showRemoveButtons}}
            <h4>Are you absolutely sure?</h4>
            <a href="#" {{action "cancelRemove"}} class="cancel">{{fa-icon "fa-ban"}} Cancel</a>
            <a href="#" {{action "removePipeline"}} class="remove">{{fa-icon "fa-trash"}} Remove</a>
          {{/if}}
          {{#if isRemoving}}
            <p>Please wait...</p>
          {{/if}}
        </li>
      </ul>

    </section>
  </div>
</div>

{{#if isShowingModal}}
  {{#modal-dialog clickOutsideToClose=false
    targetAttachment="center"
    translucentOverlay=true
  }}
    {{loading-view}}
  {{/modal-dialog}}
{{/if}}

{{yield}}