<div>
  {{#if this.allowDownloadDir}}
    {{#if (eq this.selectedArtifact "/")}}
      <BsButton
        @type="primary"
        @icon="glyphicon glyphicon-download"
        @onClick={{action "downloadAll"}}
        title="Download all artifacts as ZIP file"
      >
        Download All
      </BsButton>
    {{else}}
      <BsButton
        @type="primary"
        @icon="glyphicon glyphicon-download"
        @onClick={{action "download"}}
        title="Download current artifact"
      >
        Download
      </BsButton>
    {{/if}}
  {{else}}
    <BsButton
      @type="primary"
      @icon="glyphicon glyphicon-download"
      @onClick={{action "download"}}
      title="Download current artifact"
    >
      Download
    </BsButton>
  {{/if}}
  {{#if this.iframeUrl}}
    <iframe id={{this.iframeId}} src={{this.iframeUrl}}>
      <h4>
        Alternative content for browsers which do not support iframe.
      </h4>
    </iframe>
  {{else}}
    <iframe id={{this.iframeId}} src="about:blank">
      <h4>
        Alternative content for browsers which do not support iframe.
      </h4>
    </iframe>
  {{/if}}
</div>