<div class="actions-cell">
  <span {{action "showDeleteConfirmation"}}>
    <FaIcon @icon="trash" @fixedWidth={{true}} title="Delete version" />
  </span>
  {{#if this.showDeleteConfirmation}}
    {{#bs-modal-simple
      title="Confirm deletion"
      closeTitle="Cancel"
      submitTitle="Confirm"
      submitButtonType="danger"
      size=null
      fade=false
      onSubmit=(action "deleteVersion")
      onHide=(action "cancelDelete")
    }}
      {{#if (gt this.record.metrics.jobCount 0)}}
        You're about to delete the version "{{this.record.version}}" which is being used by {{this.record.metrics.jobCount}} jobs. This action cannot be undone. Are you sure?
      {{else}}
        You're about to delete the version "{{this.record.version}}". This action cannot be undone. Are you sure?
      {{/if}}
    {{/bs-modal-simple}}
  {{/if}}

</div>
