{{page-title "Pipeline"}}
<div class="pipeline-page">
  <Pipeline::Nav />

  <div class="pipeline-header">
    <PipelineHeader
      @pipeline={{this.pipeline}}
      @collections={{this.collections}}
      @addToCollection={{action "addToCollection"}}
    />
  </div>

  <div class="pipeline-main-content {{if this.isEventsPullsJobsRoute "grid"}}">
    {{outlet}}
  </div>
</div>
