{{page-title "Pipeline"}}
<div class="pipeline-page-contents">
  <Pipeline::Nav />

  <Pipeline::Header
    @pipeline={{this.model.pipeline}}
    @collections={{this.model.collections}}
  />

  <div class="pipeline-main-content {{this.routeClasses}}">
    {{outlet}}
  </div>
</div>
