{{page-title "Pipeline"}}
{{!-- > pipeline  --}}

<div class="new-ui">
  <div class="grid-container">
    <div class="grid-item left">
      <NewuiPipelineNav />
    </div>
    <div class="grid-item right">
      <div class="grid-item pipeline-header">
        <PipelineHeader
          @pipeline={{this.pipeline}}
          @collections={{this.collections}}
          @addToCollection={{action "addToCollection"}}
        />
      </div>

      <div class="grid-item pipeline-tab">
        <BsNav @type="tabs" as |nav|>
          <nav.item>
            <nav.link-to @route="new.pipeline.events">Events</nav.link-to>
          </nav.item>
          <nav.item>
            <nav.link-to @route="new.pipeline.pulls">Pull Requests</nav.link-to>
          </nav.item>
          <nav.item>
            <nav.link-to @route="new.pipeline.jobs">Jobs</nav.link-to>
          </nav.item>
        </BsNav>
      </div>

    </div>
  </div>
</div>

{{outlet}}