<div class={{this.styleNamespace}} ...attributes>
  {{#each this.errors as |msg|}}
    <div class="error">{{msg}}</div>
  {{/each}}
  {{#each this.warnMessages as |msg|}}
    <div class="warning">{{msg}}</div>
  {{/each}}
  {{#if this.isTemplate}}
    {{validator-job name=this.templateName job=this.results.template.config template=this.results.template isOpen=(unbound this.isOpen)}}
  {{else}}
    {{validator-pipeline name=this.pipelineName workflowGraph=this.workflowGraph annotations=this.annotations parameters=this.parameters isOpen=(unbound this.isOpen)}}
    {{#each this.workflowGraph.nodes as |node|}}
      {{#if (get this.jobs node.name)}}
        {{#each (get this.jobs node.name) as |jobConfig index|}}
          {{validator-job name=node.name job=jobConfig index=index isOpen=(unbound this.isOpen)}}
        {{/each}}
      {{/if}}
    {{/each}}
  {{/if}}
  {{yield}}
</div>