{{#each this.errors as |msg|}}
  <div class="error">
    {{msg}}
  </div>
{{/each}}
{{#each this.warnMessages as |msg|}}
  <div class="warning">
    {{msg}}
  </div>
{{/each}}
{{#if this.isPipelineTemplate}}
  <ValidatorPipeline
    @name={{this.templateName}}
    @template={{this.results.template}}
    @annotations={{this.results.template.config.shared.annotations}}
    @parameters={{this.results.template.config.parameters}}
    @cache={{this.results.template.config.cache}}
    @subscribe={{this.results.template.config.subscribe}}
    @isOpen={{unbound this.isOpen}}
  />
  {{#each this.pipelineTemplateJobKeys as | node index|}}
      <ValidatorJob
        @name={{node}}
        @job={{get this.pipelineTemplateJobs node}}
        @template={{this.results.template}}
        @index={{index}}
        @isOpen={{unbound this.isOpen}}
      />
  {{/each}}
{{else if this.isJobTemplate}}
  <ValidatorJob
    @name={{this.templateName}}
    @job={{this.results.template.config}}
    @template={{this.results.template}}
    @isOpen={{unbound this.isOpen}}
  />
{{else}}
  <ValidatorPipeline
    @name={{this.pipelineName}}
    @jobs={{this.jobs}}
    @stages={{this.stages}}
    @workflowGraph={{this.workflowGraph}}
    @annotations={{this.annotations}}
    @parameters={{this.parameters}}
    @cache={{this.cache}}
    @subscribe={{this.subscribe}}
    @isOpen={{unbound this.isOpen}}
  />
  {{#each this.jobs as |job|}}
    {{#if (not job.virtualJob) }}
      {{#each job.permutations as |jobConfig index|}}
        <ValidatorJob
          @name={{job.name}}
          @job={{jobConfig}}
          @index={{index}}
          @isOpen={{unbound this.isOpen}}
        />
      {{/each}}
    {{/if}}
  {{/each}}
{{/if}}
{{yield}}
