{{#each errors as |msg|}}
<div class="error">
  {{msg}}
</div>
{{/each}}
{{#if isTemplate}}
  {{validator-job name=templateName job=results.template.config template=results.template}}
{{else}}
  {{validator-pipeline name=pipelineName workflowGraph=workflowGraph annotations=annotations}}

  {{#each workflowGraph.nodes as |node|}}
    {{#if (get jobs node.name)}}
      {{#each (get jobs node.name) as |jobConfig index|}}
        {{validator-job name=node.name job=jobConfig index=index}}
      {{/each}}
    {{/if}}
  {{/each}}
{{/if}}
{{yield}}
