{{#if pipeline.parameters}}
  {{#bs-dropdown
    onHide=(action "resetForm")
    closeOnMenuClick=false as |dd|}}
     <div class="btn-group">
      <button {{action "startBuild"}} class="start-button btn"
        title="Start a new event from latest commit"
        >Start{{#if prNum}} PR-{{prNum}}{{/if}}</button>
      {{#dd.button class="start-with-parameters-button"
        onClick=(action "toggleDropdown" dd.toggleDropdown)}}
        {{fa-icon (concat "caret-" direction)}}
      {{/dd.button}}
     </div>
  {{#dd.menu as |ddm|}}
    {{#bs-form formLayout="horizontal" model=buildParameters
      class="start-with-parameters-form"
      onSubmit=(action "startBuildWithParameters") as |form|}}
      {{#each-in buildParameters as |parameterName|}}
        {{form.element
          label=parameterName
          property=parameterName
          onChange=(action "updateValue")}}
      {{/each-in}}
      <div class="btn-group">
        {{bs-button defaultText="Submit" type="primary"}}
        {{bs-button defaultText="Reset" type="secondary" onClick=(action "resetForm")}}
      </div>
    {{/bs-form}}
  {{/dd.menu}}
{{/bs-dropdown}}

{{else}}
  <button {{action "startBuild"}} class="start-button" title="Start a new event from latest commit">Start{{#if prNum}} PR-{{prNum}}{{/if}}</button>
{{/if}}