{{#if hasParameters}}
  {{#if hasLargeNumberOfParameters}}
    <div class="btn-group">
      <button {{action "startBuild"}} class="btn start-button" title="Start a new event from latest commit">Start{{#if prNum}} PR-{{prNum}}{{/if}}</button>
      <button class="btn start-with-parameters-button" onClick={{action "toggleModal"}}>{{fa-icon (concat "caret-" direction)}}</button>
    </div>
    {{#if isShowingModal}}
      {{#modal-dialog
        targetAttachment="center"
        translucentOverlay=true
        clickOutsideToClose=true
        onClickOverlay=(action "resetForm")
        containerClass="detached-confirm-dialog"
      }}
        <h3>Are you sure to start?</h3>
        {{pipeline-parameterized-build
          pipeline=pipeline
          showSubmitButton=true
          buildParameters=buildParameters
          onSave=(action "startBuild")
          onClose=(action "toggleModal")}}
      {{/modal-dialog}}
    {{/if}}
  {{else}}
    {{#bs-dropdown
      onHide=(action "resetForm")
      closeOnMenuClick=false as |dd|}}
      <div class="btn-group">
        <button {{action "startBuild"}} class="start-button btn" title="Start a new event from latest commit">Start{{#if prNum}} PR-{{prNum}}{{/if}}</button>
        {{#dd.button class="start-with-parameters-button"
          onClick=(action "toggleDropdown" dd.toggleDropdown)}}
          {{fa-icon (concat "caret-" direction)}}
        {{/dd.button}}
      </div>
      {{#dd.menu class="start-with-parameters-menu"}}
        {{pipeline-parameterized-build
          pipeline=pipeline
          showSubmitButton=true
          buildParameters=buildParameters
          onSave=(action "startBuild")
          onClose=(action dd.closeDropdown)}}
      {{/dd.menu}}
    {{/bs-dropdown}}
  {{/if}}
{{else}}
  <button {{action "startBuild"}} class="start-button" title="Start a new event from latest commit">Start{{#if prNum}} PR-{{prNum}}{{/if}}</button>
{{/if}}
