<div class={{this.styleNamespace}} ...attributes>
{{#if hasParameters}}
  {{#if hasLargeNumberOfParameters}}
    {{#if (not prNum)}}
      <div class="btn-group">
        <button {{action "startBuild"}} class="btn start-button" title="Start a new event from latest commit">Start</button>
        <button class="btn start-with-parameters-button" onClick={{action "toggleModal"}}>{{fa-icon (concat "caret-" direction)}}</button>
      </div>
    {{/if}}
    {{#if isShowingModal}}
      <ModalDialog
        @targetAttachment="center"
        @translucentOverlay={{true}}
        @clickOutsideToClose={{true}}
        @onClickOverlay={{this.resetForm}}
        @containerClass="detached-confirm-dialog"
      >
        <h3>Are you sure to start?</h3>
        <PipelineParameterizedBuild
          @pipeline={{this.pipeline}}
          @showSubmitButton={{true}}
          @buildPipelineParameters={{this.pipelineParameters}}
          @buildJobParameters={{this.jobParameters}}
          @onSave={{this.startBuild}}
          @onClose={{this.toggleModal}}
        />
      </ModalDialog>
    {{/if}}
  {{else}}
    <BsDropdown
      @onHide={{this.resetForm}}
      @closeOnMenuClick={{false}} as |dd|>
      <div class="btn-group">
        {{#if (not prNum)}}
          <button {{action "startBuild"}} class="start-button btn" title="Start a new event from latest commit">Start</button>
        {{/if}}
        <dd.button class="start-with-parameters-button"
          @onClick={{fn this.toggleDropdown dd.toggleDropdown}}
        >
          {{fa-icon (concat "caret-" direction)}}
        </dd.button>
      </div>
      <dd.menu class="start-with-parameters-menu">
        <PipelineParameterizedBuild
          @pipeline={{this.pipeline}}
          @showSubmitButton={{true}}
          @buildPipelineParameters={{this.pipelineParameters}}
          @buildJobParameters={{this.jobParameters}}
          @onSave={{this.startBuild}}
          @onClose={{dd.closeDropdown}}
        />
      </dd.menu>
    </BsDropdown>
  {{/if}}
{{else}}
  {{#if (not prNum)}}
    <button {{action "startBuild"}} class="start-button" title="Start a new event from latest commit">Start</button>
  {{/if}}
{{/if}}
</div>