{{info-message message=errorMessage type="warning" icon="exclamation-triangle"}}

{{#if session.isAuthenticated}}
<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="col-xs-12 col-lg-2">
        {{pipeline-start startBuild=(action "startMainBuild")}}
      </div>
      <div class="col-xs-12 col-lg-6">
        {{pipeline-workflow workflowGraph=pipeline.workflowGraph jobs=jobs}}
      </div>
    </div>
  </div>
</div>
{{else}}
{{pipeline-workflow workflowGraph=pipeline.workflowGraph jobs=jobs}}
{{/if}}

<div class="row">
  <div class="col-xs-12 col-md-9">
    {{pipeline-events-list events=events}}
  </div>
  <div class="col-xs-12 col-md-3">
    {{pipeline-pr-list pullRequests=pullRequests}}
  </div>
</div>

{{#if isShowingModal}}
  {{#modal-dialog clickOutsideToClose=false
    targetAttachment="center"
    translucentOverlay=true
  }}
    {{loading-view}}
  {{/modal-dialog}}
{{/if}}

{{outlet}}