{{info-message message=errorMessage type="error"}}

{{#if session.isAuthenticated}}
<div class="row">
  <div class="col-xs-12 col-md-11">
    {{pipeline-workflow jobs=model.jobs}}
  </div>
  <div class="col-xs-1 right">
    {{pipeline-start startBuild=(action "startMainBuild")}}
  </div>
</div>
{{else}}
{{pipeline-workflow jobs=model.jobs}}
{{/if}}


<div class="row">
  <div class="col-xs-12 col-md-9">
    {{pipeline-events-list events=eventsSorted}}
  </div>
  <div class="col-xs-12 col-md-3">
    {{pipeline-pr-list pullRequests=model.pullRequests}}
  </div>
</div>

{{#if isShowingModal}}
  {{#modal-dialog clickOutsideToClose=false
    targetAttachment="center"
    translucentOverlay=true
  }}
    {{loading-view}}
  {{/modal-dialog}}
{{/if}}

{{outlet}}