{{info-message message=errorMessage type="warning" icon="exclamation-triangle"}}

<div class="row">
  <div class="col-xs-12 col-md-9">
    <div class="row">
      <div class="col-xs-3">
        <strong>Pipeline</strong>
        {{#x-select value=selectedEvent action=(action (mut selected)) as |xs|}}
        <option></option>
        {{#each eventOptions as |opt|}}
          {{#xs.option value=opt.value}}{{opt.label}}{{/xs.option}}
        {{/each}}
        {{/x-select}}
      </div>
      <div class="col-xs-3">
        <strong>Commit</strong>
        <a href="#">#{{selectedEventObj.truncatedSha}}</a>
      </div>
      <div class="col-xs-6 right">
        {{#if session.isAuthenticated}}
        {{pipeline-start startBuild=(action "startMainBuild")}}
        {{/if}}
      </div>
    </div>

    {{#if (eq selected 'aggregate')}}
      {{pipeline-workflow
        workflowGraph=pipeline.workflowGraph
        jobs=jobs
        selected=(mut selected)
      }}
    {{else}}
      {{#if (is-fulfilled selectedEventObj.builds)}}
        {{workflow-graph-d3
          builds=selectedEventObj.builds
          workflowGraph=selectedEventObj.workflowGraph
          startFrom=selectedEventObj.startFrom
          causeMessage=selectedEventObj.causeMessage
        }}
      {{/if}}
    {{/if}}
    {{pipeline-events-list
      events=events
      selected=(mut selected)
      selectedEvent=selectedEvent
      lastSuccessful=lastSuccessful
      mostRecent=mostRecent
    }}
  </div>
  <div class="col-xs-12 col-md-3">
    {{pipeline-pr-list pullRequests=pullRequests}}
  </div>
</div>

{{#if isShowingModal}}
  {{#modal-dialog clickOutsideToClose=false
    targetAttachment="center"
    translucentOverlay=true
  }}
    {{loading-view}}
  {{/modal-dialog}}
{{/if}}

{{outlet}}