<h1>
  {{#if this.isTrusted}}
    <span title="Trusted">
      {{svg-jar "trusted" class="trusted"}}
    </span>
  {{/if}}
  <LinkTo
    @route="pipeline"
    @model={{this.command.pipelineId}}
    @title="Go to command pipeline"
    class="link"
  >
    {{this.command.namespace}}/{{this.command.name}}
  </LinkTo>
  {{#if this.scmUrl}}
    <a href={{this.scmUrl}} class="link">
      <FaIcon @icon="code-branch" @title="Source code" />
    </a>
  {{else}}
    <FaIcon
      @icon="code-branch"
      @title="The pipeline for this command does not exist."
      class="link"
    />
  {{/if}}
  {{#if this.isAdmin}}
    <a href="#" class="link" {{action "setCommandToRemove" this.command}}>
      <FaIcon @icon="trash" @title="Delete command" />
    </a>
    <label class="trusted-toggle">
      <XToggle
        @size="medium"
        @theme="light"
        @value={{this.isTrusted}}
        @onToggle={{action "updateTrust" this.command.namespace this.command.name}}
      />
      Trust?
    </label>
  {{else}}
    {{#if this.scmUrl}}
      <a href="#" class="link" {{action "setCommandToRemove" this.command}}>
        <FaIcon @icon="trash" @title="Delete command" />
      </a>
    {{else}}
      <FaIcon
        @icon="trash"
        @title="Cannot delete command; pipeline could not be found."
        class="link"
      />
    {{/if}}
  {{/if}}
</h1>
<h2>
  {{this.command.version}}
</h2>
<p>
  {{this.command.description}}
</p>
<ul>
  <li>
    Released by:
    <a href="mailto:{{this.command.maintainer}}" class="link">
      {{this.command.maintainer}}
    </a>
  </li>
  {{#if this.command.lastUpdated}}
    <li>
      Last published: {{this.command.lastUpdated}}
    </li>
  {{/if}}
</ul>
<h4>
  Usage:
</h4>
{{#if this.command.usage}}
  <pre>{{this.command.usage}}  </pre>
{{else}}
  <pre>sd-cmd exec {{this.command.namespace}}/{{this.command.name}}@{{this.command.version}}  </pre>
{{/if}}
{{#if this.commandToRemove}}
  {{#if this.isRemoving}}
    <ModalDialog
      @clickOutsideToClose="false"
      @targetAttachment="center"
      @translucentOverlay={{true}}
    >
      <LoadingView />
    </ModalDialog>
  {{else}}
    <BsModal
      @onSubmit={{action "removeCommand" this.command.namespace this.command.name}}
      @onHide={{action "cancelRemovingCommand"}} as |modal|
    >
      <modal.header>
        <h4>
          Are you sure?
        </h4>
      </modal.header>
      <modal.body>
        <FaIcon @icon="exclamation-triangle" @pull="left" @size="3" />
        You're about to delete all versions and tags of
        <strong>
          {{this.command.namespace}}/{{this.command.name}}
        </strong>
        . There might be existing pipelines using this command.
      </modal.body>
      <modal.footer>
        <BsButton @onClick={{action "cancelRemovingCommand"}}>
          Cancel
        </BsButton>
        <BsButton
          @onClick={{action "removeCommand" this.command.namespace this.command.name}}
          @type="danger"
        >
          <FaIcon @icon="trash" />
          Confirm
        </BsButton>
      </modal.footer>
    </BsModal>
  {{/if}}
{{/if}}
