{{#link-to "commands" class="back"}}Back to Commands{{/link-to}}
<h1>{{command.namespace}}/{{command.name}} {{#if scmUrl}}<a href="{{scmUrl}}">{{fa-icon "code-fork"}}</a> <a href="#" {{action "setCommandToRemove" command}} class="remove">{{fa-icon "trash"}}</a>{{else}}{{fa-icon "code-fork" title="The pipeline for this command does not exist."}} {{fa-icon "trash" title="Cannot delete command; pipeline could not be found."}}{{/if}}</h1>
<h2>{{command.version}}</h2>
<p>{{command.description}}</p>
<ul>
  <li>Released by: <a href="mailto:{{command.maintainer}}">{{command.maintainer}}</a></li>
  {{#if command.lastUpdated}}<li>Last publish: {{command.lastUpdated}}</li>{{/if}}
</ul>
<h4>Usage:</h4>
<pre>sd-cmd exec {{command.namespace}}/{{command.name}}@{{command.version}}</pre>
{{#if commandToRemove}}
  {{#if isRemoving}}
    {{#modal-dialog clickOutsideToClose="false"
      targetAttachment="center"
      translucentOverlay=true
    }}
      {{loading-view}}
    {{/modal-dialog}}
  {{else}}
    {{#bs-modal onSubmit=(action "removeCommand" command.namespace command.name) onHide=(action "cancelRemovingCommand") as |modal|}}
      {{#modal.header}}
        <h4>Are you sure?</h4>
      {{/modal.header}}
      {{#modal.body}}
        {{fa-icon "exclamation-triangle" pull="left" size=3}}
        You're about to delete all versions and tags of <strong>{{command.namespace}}/{{command.name}}</strong>. There might be existing pipelines using this command.
      {{/modal.body}}
      {{#modal.footer as |footer|}}
        {{#bs-button onClick=(action "cancelRemovingCommand")}}Cancel{{/bs-button}}
        {{#bs-button onClick=(action "removeCommand" command.namespace command.name) type="danger"}}{{fa-icon "trash"}} Confirm{{/bs-button}}
      {{/modal.footer}}
    {{/bs-modal}}
  {{/if}}
{{/if}}
