<div class="header">
  <div class="left-header">
    <h1>
      {{#if this.isAdmin}}
        <span title="Toggle command trusted" class="clickable" onclick={{action "showToggleTrustModal"}}>
          {{#if this.isTrusted}}
            {{svg-jar "trusted" class="trusted"}}
          {{else}}
            {{svg-jar "trusted" class="trusted distrusted"}}
          {{/if}}
        </span>
      {{else}}
        {{#if this.isTrusted}}
          <span title="Trusted">
            {{svg-jar "trusted" class="trusted"}}
          </span>
        {{/if}}
      {{/if}}
      <LinkTo
        @route="pipeline"
        @model={{this.command.pipelineId}}
        @title="Go to command pipeline"
        class="link"
      >
        {{this.command.namespace}}/{{this.command.name}}
      </LinkTo>
      {{#if this.scmUrl}}
        <a href={{this.scmUrl}} class="link">
          <FaIcon @icon="code-branch" @title="Source code" />
        </a>
      {{else}}
        <FaIcon
          @icon="code-branch"
          @title="The pipeline for this command does not exist."
          class="link"
        />
      {{/if}}
    </h1>
  </div>
  <div class="right-header">
    <h1>
      {{#if (or this.isAdmin this.scmUrl)}}
        <a href="#" class="danger link" {{action "setCommandToRemove" this.command}}>
          <FaIcon @icon="trash" @title="Delete command" />
        </a>
      {{else}}
        <span title="Cannot delete command; pipeline could not be found.">
          <FaIcon
            @icon="trash"
            class="danger link disabled"
          />
        </span>
      {{/if}}
    </h1>
  </div>
</div>
<div class="command-stats">
  <h2>
    {{this.command.version}}{{if this.isLatestVersion " - latest"}}
  </h2>
</div>
<p>
  {{this.command.description}}
</p>
<ul>
  <li>
    Released by:
    <a href="mailto:{{this.command.maintainer}}" class="link">
      {{this.command.maintainer}}
    </a>
  </li>
  {{#if this.command.compatibilities}}
    {{#if this.command.compatibilities.clouds.length}}
    <li>
      Supported Clouds: 
      {{#each this.command.compatibilities.clouds as |cloud|}}
        <span>{{cloud}}</span>
      {{/each}}
    </li>
    {{/if}}
    {{#if this.command.compatibilities.architectures.length}}
    <li>
      Supported Arches:
      {{#each this.command.compatibilities.architectures as |arch|}}
        <span>{{arch}}</span>
      {{/each}}
    </li>
    {{/if}}
  {{/if}}
  {{#if this.command.lastUpdated}}
    <li>
      Last published: {{this.command.lastUpdated}}
    </li>
  {{/if}}
</ul>
<h4>
  Usage:
</h4>
{{#if this.command.usage}}
  <pre>{{this.command.usage}} </pre>
{{else}}
  {{#if this.isLatestVersion}}
    <pre>sd-cmd exec {{this.command.namespace}}/{{this.command.name}}@latest </pre>
  {{else}}
    <pre>sd-cmd exec {{this.command.namespace}}/{{this.command.name}}@{{this.command.version}} </pre>
  {{/if}}
{{/if}}
{{#if this.commandToRemove}}
  {{#if this.isRemoving}}
    <ModalDialog
      @clickOutsideToClose="false"
      @targetAttachment="center"
      @translucentOverlay={{true}}
    >
      <LoadingView />
    </ModalDialog>
  {{else}}
    <BsModal
      @onSubmit={{action "removeCommand" this.command.namespace this.command.name}}
      @onHide={{action "cancelRemovingCommand"}} as |modal|
    >
      <modal.header>
        <h4>
          Are you sure?
        </h4>
      </modal.header>
      <modal.body>
        <FaIcon @icon="triangle-exclamation" @pull="left" @size="3" />
        You're about to delete all versions and tags of
        <strong>
          {{this.command.namespace}}/{{this.command.name}}
        </strong>
        . There might be existing pipelines using this command.
      </modal.body>
      <modal.footer>
        <BsButton @onClick={{action "cancelRemovingCommand"}}>
          Cancel
        </BsButton>
        <BsButton
          @onClick={{action "removeCommand" this.command.namespace this.command.name}}
          @type="danger"
        >
          <FaIcon @icon="trash" />
          Confirm
        </BsButton>
      </modal.footer>
    </BsModal>
  {{/if}}
{{/if}}
{{#if this.showToggleTrustModal}}
  <BsModalSimple
    @title="Confirm command trusted"
    @closeTitle="Cancel"
    @submitTitle="Confirm"
    @submitButtonType="primary"
    @size={{null}}
    @fade={{true}}
    @onSubmit={{action "updateTrust" this.command.namespace this.command.name (not this.isTrusted)}}
    @onHide={{action "cancelToggleTrustModal"}}
  >
    Set {{this.command.namespace}}/{{this.command.name}} command to {{if this.isTrusted "Distrusted" "Trusted"}}.
  </BsModalSimple>
{{/if}}
